@use "../../../../assets/style/helpers" as *;
@use "../../../../assets/style/components" as *;

section {
    width: 80vw;
}

th {
    @extend .header-table;
  }

  @include mobile($min-screen, 1850px) {
        div{
            // display: inline;
            flex-wrap: wrap;
            margin-bottom: 5px;
            margin-top: 5px;
        }
}
