<div class="row title">
    <div class="col-lg-12 mt-3">
        <div class="d-lg-flex justify-content-lg-between">
            <h3 class="main-title">Notifications</h3>
            <div>
                <a [routerLink]="['/lieux/list']" class="btn main-btn">Notifications</a>
                <a href="#" class="btn main-btn ms-3" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Ici vous pouvez consulter les notificationq"><i class="fal fa-info"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="my-5">
    <div>
        <h5 class="main-muted-text my-4">Bientôt disponible.</h5>
    </div>
</div>
