@use '../../../../assets/style/helpers' as *;
@use '../../../../assets/style/components' as *;

th {
   @extend .header-table
}

.av {
    background: color(info);
    color: color(light);
    border-radius: $main-border-radius;
    width: auto;
    text-align: center;
}

.main-card{
    min-height: 600px !important;
 }
