<div class="row title">
  <div class="col-lg-12 mt-3">
    <div class="d-flex justify-content-between">
      <!-- <h3 class=""></h3> -->
      <h3 class="main-title">Liste des contrats</h3>
      <div class="d-none d-lg-block">
        <a class="btn btn-sm main-btn" [routerLink]="['/']">
          <i class="fal fa-home"></i> Tableau de board
        </a>
        <a class="btn btn-sm second-btn mx-3" (click)="reload()"
          ><i class="far fa-undo-alt"></i>
          Rafraîchir la liste
        </a>
        <ng-container *ngIf="reporting">

        <a
              [routerLink]="['/contrat/list-global/list/list-reporting']"
              class="btn btn-sm success-btn me-3"
            >
            <i class="far fa-file-chart-line"></i> Voir la liste des reportings
            </a>
      </ng-container>
        <span
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Ici vous pouvez consulter la list des contrats"
        >
          <i class="fal fa-info"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="w-100 d-flex justify-content-center">
  <div *ngIf="errors" class="error-alert p-2 my-2">{{ errors }}</div>
  <div *ngIf="deleteDone" class="done-alert p-2 my-2">{{ deleteSucces }}</div>
</div>

<div class="main-card bg-white table-responsive p-lg-3 mt-4">
  <div class="row d-flex justify-content-between">
    <div class="col-lg-4 mb-4">
      <label for="" class="main-muted-text"
        ><i class="far fa-search"></i> Recherche</label
      >
      <input
        type="text"
        [(ngModel)]="findContrat"
        (input)="search()"
        class="form-control rounded-pill"
        placeholder="Rechercher par numéro de contrat..."
      />
    </div>

    <div class="d-flex justify-content-end col-lg-7 my-4">
      <div class="">
        <input
          id="all"
          type="radio"
          name="search-by-libelle"
          (click)="searchByEtat($event, 'all')"
          class="btn-check check"
          [checked]="true"
          autocomplete="off"
        />
        <label class="px-3 rounded-pill checkbox-list-btns" for="all"
          >Tout</label
        >
      </div>

      <div class="">
        <input
          id="oui"
          type="radio"
          name="search-by-libelle"
          class="btn-check check"
          (click)="searchByEtat($event, 'Actif')"
          autocomplete="off"
        />
        <label class="px-3 mx-2 rounded-pill checkbox-list-btns" for="oui"
          >Contrats actifs</label
        >
      </div>
      <div class="">
        <input
          id="st_caution"
          type="radio"
          name="search-by-libelle"
          class="btn-check check"
          (click)="searchByStatutCaution($event, 'En cours')"
          autocomplete="off"
        />
        <label class="px-3 mx-2 rounded-pill checkbox-list-btns" for="st_caution">
          Caution en cours
        </label>
      </div>

    </div>
    <!-- /////////////////////////////////////////////////////////////// -->
    
    <!-- //////////////////////////////////////////////////////////////// -->
  </div>

  <table class="table">
    <thead>
      <tr class="text-truncate">
        <th>N° contrat</th>
        <th>Montant loyer</th>
        <th>Date début du loyer</th>
        <th>Date fin de contrat</th>
        <th>Statut de la caution</th>
        <th>État</th>
        <th>Proprietaires liés</th>
        <th>Actions</th>
        <th *ngIf="userRoles.includes('CDGSP') || userRoles.includes('DAJC')">
          Validation
        </th>
      </tr>
    </thead>
    <tbody *ngIf="contrats?.length">
      <tr
        *ngFor="
          let contrat of contrats
            | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: listContratPage,
                  id: 'listContratPagination',
                  totalItems: count
                }
        "
      >
        <td>{{ contrat.numero_contrat }}</td>
        <td>{{ contrat.montant_loyer | currency: "MAD" }}</td>
        <td>{{ contrat.date_debut_loyer | date }}</td>
        <td>{{ contrat.date_fin_contrat | date }}</td>
        <td [ngClass]="{
          'info-txt': contrat.statut_caution == 'Récupérée',
          'danger-txt': contrat.statut_caution == 'Consommée',
          'success-txt': contrat.statut_caution == 'En cours'
        }">{{ contrat.statut_caution }}</td>

        <td
          class="py-3 success-txt"
          *ngIf="contrat.etat_contrat?.libelle == 'Avenant'"
        >
          Actif
          <span
            class="av p-1"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Avenant"
          >
            AV
          </span>
        </td>

        <td
          class="py-3"
          [ngClass]="{
            'info-txt': contrat.etat_contrat?.libelle == 'Avenant',
            'danger-txt':
              contrat.etat_contrat?.libelle == 'Suspendu' ||
              contrat.etat_contrat?.libelle == 'Résilié',
            'success-txt': contrat.etat_contrat?.libelle == 'Actif'
          }"
          *ngIf="contrat.etat_contrat?.libelle != 'Avenant'"
        >
          {{ this.contrat.etat_contrat?.libelle }}
        </td>

        <td>
          <span
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Ici vous pouvez consulter les proprietaires liés au contrat"
          >
            <div class="d-grid">
              <a
                class="btn btn-sm second-btn me-2"
                (click)="openListeProprietairesModal(contrat)"
              >
                <i class="fal fa-users"></i> Voir ({{
                  contrat.foncier.proprietaire?.length
                }})
              </a>
            </div>
          </span>
        </td>

        <td>
          <div class="d-flex">
            <a
              [routerLink]="['list', contrat._id]"
              class="btn btn-sm main-btn me-2"
              ><i class="fal fa-eye"></i
            ></a>
            <a
              *ngIf="this.contrat.etat_contrat?.libelle != 'Résilié' && !(userRoles.includes('DAJC') && !contrat.validation1_DMG) "
              (click)="openEditModal(contrat)"
              class="btn btn-sm info-btn me-2"
              ><i class="far fa-user-edit"></i
            ></a>
            <a
              class="btn btn-sm danger-btn"
              (click)="openConfirmationContratModal(contrat._id)"
              ><i class="far fa-user-minus"></i
            ></a>
          </div>
        </td>
        <td *ngIf="userRoles.includes('CDGSP') || userRoles.includes('DAJC') ">
          <div class="text-center danger-txt" *ngIf="contrat.etat_contrat?.libelle == 'Résilié'">
            ---
          </div>
          <div
            class="btn-group d-grid"
            role="group"
            *ngIf="contrat.etat_contrat?.libelle != 'Résilié'"
          >
            <a
              id="btnGroupDrop1"
              class="btn btn-sm"
              [ngClass]="
                contrat.validation2_DAJC ? 'success-btn' : 'second-btn'
              "
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fal fa-clipboard-check"></i>
              <!-- <i class="fal fa-ellipsis-v-alt"></i> -->
            </a>
            <ul
              id="actions"
              class="dropdown-menu p-3 main-card border-0"
              aria-labelledby="btnGroupDrop1"
            >
              <li>
                <!-- <h5 *ngIf="contrat.etat_contrat?.libelle != 'Résilié'" class="main-title">
                  Validation
                </h5> -->
                <div class="d-flex flex-column gap-2">
                  <div *ngIf="userRoles.includes('CDGSP')">
                    <button
                      *ngIf="contrat.etat_contrat?.libelle != 'Résilié'"
                      class="btn"
                      [ngClass]="
                        contrat.validation1_DMG ? 'success-btn' : 'second-btn'
                      "
                      [id]="'vld1: ' + contrat._id"
                      (click)="openConfirmationModalValidation1(contrat._id)"
                      [disabled]="contrat.validation1_DMG"
                    >
                      {{
                        contrat.validation1_DMG? "Contrat validé" : "Valider le contrat"
                      }}
                    </button>
                  </div>
                  <div *ngIf="userRoles.includes('DAJC')">
                    <button
                      *ngIf="
                        contrat.etat_contrat?.libelle != 'Résilié' &&
                        contrats[0].validation1_DMG
                      "
                      [ngClass]="
                        contrat.validation2_DAJC ? 'success-btn' : 'second-btn'
                      "
                      [id]="'vld2: ' + contrat._id"
                      (click)="
                        openConfirmationModalValidation2(
                          contrat._id,
                          contrat.validation1_DMG
                        )
                      "
                      [disabled]="contrat.validation2_DAJC"
                      class="btn"
                    >
                      {{
                        contrat.validation2_DAJC
                          ? "Contrat validé"
                          : "Valider le contrat"
                      }}
                    </button>
                    <div
                      class="error-alert p-3 text-center"
                      *ngIf="!contrats[0].validation1_DMG"
                      style="width: 300px"
                    >
                      La première validation n'a pas encore faite.
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </td>
      </tr>

      <app-main-modal [closeBtn]="true">
        <app-edit-contrat [contrat]="targetContrat"> </app-edit-contrat>
      </app-main-modal>


   

      <!-- List des proprietaires -->
      <app-main-modal [closeBtn]="true" [id]="id">
        <div class="d-lg-flex justify-content-lg-between my-3">
          <h3 class="main-title">
            Les proprietaires liés au contrat
            <span class="text-capitalize selected-text">{{ num_contrat }}</span>
            :
          </h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Nom complet</th>
              <th>CIN de propriétaire</th>
              <th>Mandataire et montants</th>
            </tr>
          </thead>

          <tbody *ngIf="ProprietairesByContart.length">
            <tr
              *ngFor="
                let proprietaire of selectedContrat.foncier.proprietaire;
                let i = index
              "
            >
              <!-- <td >{{ proprietaire._id }}</td> -->
              <td>{{ proprietaire.nom_prenom }}</td>
              <td>{{ proprietaire.cin }}</td>
              <td>
                <span
                  class="p-1"
                  [ngClass]="{
                    'success-txt': proprietaire?.is_mandataire,
                    'danger-txt': !proprietaire?.is_mandataire
                  }"
                >
                  {{ checkAndPutText(proprietaire?.is_mandataire) }}
                </span>
                <a
                  id="proprietaireList"
                  class="btn btn-sm second-btn me-2"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  *ngIf="proprietaire.proprietaire_list.length"
                  (click)="calculMontantsGlobal(proprietaire)"
                >
                  <i class="fal fa-users"></i>
                  {{ proprietaire.proprietaire_list.length }} Proprietaires
                </a>
                <ul
                  id="proprietaireListDropdown"
                  class="dropdown-menu p-4 main-card border-0"
                  aria-labelledby="proprietaireList"
                >
                  <li>
                    <h5 class="main-title">Montant global</h5>
                    <p class="main-muted-text my-0">
                      Total des montants nets :
                      <span class="selected-text">{{
                        mntNetGlobal | currency: "MAD"
                      }}</span>
                    </p>
                    <p class="main-muted-text my-0">
                      Total des montants bruts :
                      <span class="selected-text">{{
                        mntBrutGlobal | currency: "MAD"
                      }}</span>
                    </p>
                    <p class="main-muted-text">
                      Total des montants taxes :
                      <span class="selected-text">{{
                        mntTaxGlobal | currency: "MAD"
                      }}</span>
                    </p>
                  </li>
                  <li *ngFor="let prop of proprietaire.proprietaire_list">
                    <hr />
                    <h6 class="header-title">
                      {{ prop.nom_prenom }} ({{
                        prop.cin || prop.carte_sejour || prop.passport
                      }})
                    </h6>
                    <p class="main-muted-text my-0">
                      Montant net :
                      <span class="selected-text">
                        {{
                          calculMontantsProprietaire(prop, "mntNet") | currency: "MAD"
                        }}
                      </span>
                    </p>
                    <p class="main-muted-text my-0">
                      Montant brut :
                      <span class="selected-text">
                        {{
                          calculMontantsProprietaire(prop, "mntBrut") | currency: "MAD"
                        }}
                      </span>
                    </p>
                    <p class="main-muted-text">
                      Montant taxe :
                      <span class="selected-text">
                        {{
                          calculMontantsProprietaire(prop, "mntTaxe") | currency: "MAD"
                        }}
                      </span>
                    </p>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>

          <tbody
            *ngIf="!ProprietairesByContart.length && !accessError"
            class="w-100 d-flex align-items-center"
          >
            <h5 class="main-muted-text my-4">Aucun proprietaire à afficher</h5>
          </tbody>

          <tbody *ngIf="accessError" class="w-100 d-flex align-items-center">
            <h5 class="danger-txt my-4">{{ accessError }}</h5>
            <a class="btn btn-sm second-btn ms-3" [routerLink]="['/']">
              <i class="far fa-chevron-left"></i> Retour au tablau de bord
            </a>
          </tbody>
        </table>
      </app-main-modal>

      <!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

      <app-confirmation-modal [closeBtn]="true">
        <!-- <div *ngIf="isValidate; then validation1;else delete"></div> -->
        <div
          *ngIf="
            isValidate;
            then validation1;
            else isValidate2 ? validation2 : delete
          "
        ></div>
        <!-- <div *ngIf="isValidate2; then validation2;"></div> -->

        <ng-template #validation1>
          <h3 class="main-title">
            Confirmation de la validation
            <i class="far fa-exclamation-circle"></i>
          </h3>
          <p class="mt-3">
            Voulez-vous valider la première validation du contrat ?
          </p>
          <div class="d-inline-flex justify-content-start mt-5">
            <a
              class="btn btn-lg px-lg-4 danger-btn me-2"
              (click)="validation1Contrat(); closeConfirmationModal()"
              >Oui</a
            >
            <a
              class="btn btn-lg px-lg-4 main-btn"
              (click)="closeConfirmationModal()"
              >Non</a
            >
          </div>
        </ng-template>

        <ng-template #validation2>
          <h3 class="main-title">
            Confirmation de la validation
            <i class="far fa-exclamation-circle"></i>
          </h3>
          <p class="mt-3">
            Voulez-vous valider la deuxième validation du contrat ?
          </p>
          <div class="d-inline-flex justify-content-start mt-5">
            <a
              class="btn btn-lg px-lg-4 danger-btn me-2"
              (click)="validation2Contrat(); closeConfirmationModal()"
              >Oui</a
            >
            <a
              class="btn btn-lg px-lg-4 main-btn"
              (click)="closeConfirmationModal()"
              >Non</a
            >
          </div>
        </ng-template>

        <ng-template #delete>
          <h3 class="main-title">
            Confirmation de la supression
            <i class="far fa-exclamation-circle"></i>
          </h3>
          <p class="mt-3">Voulez-vous supprimer cette contrat?</p>
          <div class="d-inline-flex justify-content-start mt-5">
            <a
              class="btn btn-lg px-lg-4 danger-btn me-2"
              (click)="deleteContrat(); closeConfirmationModal()"
              >Oui</a
            >
            <a
              class="btn btn-lg px-lg-4 main-btn"
              (click)="closeConfirmationModal()"
              >Non</a
            >
          </div>
        </ng-template>
      </app-confirmation-modal>
    </tbody>

    <tbody
      *ngIf="!contrats?.length && !accessError"
      class="w-100 d-flex align-items-center"
    >
      <h5 class="main-muted-text my-4">Aucun contrat à afficher</h5>
      <a class="btn btn-sm second-btn ms-2" [routerLink]="['/foncier/list']">
        + Nouveau contrat
      </a>
    </tbody>

    <tbody *ngIf="accessError" class="w-100 d-flex align-items-center">
      <h5 class="danger-txt my-4">{{ accessError }}</h5>
      <a class="btn btn-sm second-btn ms-3" [routerLink]="['/']">
        <i class="far fa-chevron-left"></i> Retour au tablau de bors
      </a>
    </tbody>
  </table>

  <pagination-controls
  id="listContratPagination"
  (pageChange)="listContratPage = $event"
  previousLabel="Précédent"
  nextLabel="Suivant"
>
</pagination-controls>
</div>
