<div class="row title">
  <div class="col-lg-12 mt-3">
    <div class="d-flex justify-content-between">
      <!-- <h3 class=""></h3> -->
      <h3 class="main-title">Liste des contrats</h3>
      <div class="d-none d-lg-block">
        <a class="btn btn-sm main-btn" [routerLink]="['/']">
          <i class="fal fa-home"></i> Tableau de board
        </a>
        <a class="btn btn-sm second-btn mx-3" (click)="reload()"
          ><i class="far fa-undo-alt"></i>
          Rafraîchir la liste
        </a>
        <ng-container *ngIf="reporting">
          <a
            [routerLink]="['/contrat/list-global/list/list-reporting']"
            class="btn btn-sm success-btn me-3"
          >
            <i class="far fa-file-chart-line"></i> Voir la liste des reportings
          </a>
        </ng-container>
        <span
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Ici vous pouvez consulter la list des contrats"
        >
          <i class="fal fa-info"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="main-card bg-white table-responsive p-lg-3 mt-4">
  <div class="row d-flex justify-content-between">
    <div class="col-lg-4 mb-4">
      <label for="" class="main-muted-text"
        ><i class="far fa-search"></i> Recherche</label
      >
      <input
        type="text"
        [(ngModel)]="findContrat"
        (input)="search()"
        class="form-control rounded-pill"
        placeholder="Rechercher par numéro de contrat ou type d'entité..."
      />
    </div>

    <div class="d-flex justify-content-end col-lg-7 my-4">
      <div class="">
        <input
          id="all"
          type="radio"
          name="search-by-libelle"
          (click)="searchByEtat($event, 'all')"
          class="btn-check check"
          [checked]="true"
          autocomplete="off"
        />
        <label class="px-3 rounded-pill checkbox-list-btns" for="all"
          >Tout</label
        >
      </div>

      <div class="">
        <input
          id="oui"
          type="radio"
          name="search-by-libelle"
          class="btn-check check"
          (click)="searchByEtat($event, 'Actif')"
          autocomplete="off"
        />
        <label class="px-3 mx-2 rounded-pill checkbox-list-btns" for="oui"
          >Contrats actifs</label
        >
      </div>
      <div class="">
        <input
          id="av"
          type="radio"
          name="search-by-libelle"
          class="btn-check check"
          (click)="searchByEtat($event, 'Avenant')"
          autocomplete="off"
        />
        <label class="px-3 mx-2 rounded-pill checkbox-list-btns" for="av"
          >Contrats avenants</label
        >
      </div>
      <div class="">
        <input
          id="st_caution"
          type="radio"
          name="search-by-libelle"
          class="btn-check check"
          (click)="searchByStatutCaution($event, 'En cours')"
          autocomplete="off"
        />
        <label
          class="px-3 mx-2 rounded-pill checkbox-list-btns"
          for="st_caution"
        >
          Caution en cours
        </label>
      </div>
    </div>
    <!-- /////////////////////////////////////////////////////////////// -->

    <!-- //////////////////////////////////////////////////////////////// -->
  </div>

  <div #formSection class="w-100 d-flex justify-content-center">
    <div *ngIf="errors" class="error-alert p-3 my-3">{{ errors }}</div>
    <div *ngIf="deleteDone" class="done-alert p-3 my-3">{{ deleteSucces }}</div>
  </div>

  <div class="w-100 d-flex justify-content-center">
    <div *ngIf="soumettreDone" class="done-alert p-2 my-2">
      {{ soumettreSuccess }}
    </div>
  </div>

  <table class="table">
    <thead>
      <tr class="text-truncate">
        <th>Type d'entité</th>
        <th>N° contrat</th>
        <th>Montant loyer</th>
        <th>Date début du loyer</th>
        <th>Statut de la caution</th>
        <th>Statut</th>
        <th>Proprietaires liés</th>
        <th>Actions</th>
        <th
          *ngIf="
            userRoles.includes('CDGSP') ||
            userRoles.includes('CSLA') ||
            userRoles.includes('DAJC')
          "
        >
          Validation
        </th>
      </tr>
    </thead>
    <tbody *ngIf="contrats?.length">
      <tr
        *ngFor="
          let contrat of contrats
            | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: listContratPage,
                  id: 'listContratPagination',
                  totalItems: count
                }
        "
      >
        <td>{{ contrat.foncier.type_lieu }}</td>
        <td>
          {{ contrat.numero_contrat }}
          <br />
          <ng-container *ngFor="let lieu of contrat?.foncier.lieu">
            <span
              *ngIf="
                !lieu.deleted &&
                lieu.etat_lieu !== 'Occupé' &&
                contrat?.etat_contrat?.libelle !==
                  ('Initié' || 'Modifé' || 'En cours de validation')
              "
              [ngClass]="{
                'info-txt': lieu.etat_lieu === 'En cours de transfert',
                'danger-txt': lieu.etat_lieu === 'Transférée'
              }"
            >
              {{ lieu.etat_lieu }}
            </span>
          </ng-container>
        </td>
        <!-- <td>{{ contrat.montant_loyer | currency: "MAD" }}</td> -->
        <td>{{ contrat.montant_loyer }}</td>
        <td>{{ contrat.date_debut_loyer | date: "dd/MM/yyyy" }}</td>
        <!-- <td>{{ contrat.date_fin_contrat | date }}</td> -->
        <td
          [ngClass]="{
            'info-txt': contrat.statut_caution === 'Récupérée',
            'danger-txt': contrat.statut_caution === 'Consommée',
            'success-txt': contrat.statut_caution === 'En cours'
          }"
        >
          {{ contrat.statut_caution }}
        </td>

        <td
          class="py-3 success-txt"
          *ngIf="contrat.etat_contrat?.libelle === 'Avenant'"
        >
          Actif
          <span
            class="av p-1"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Avenant"
          >
            AV
          </span>
        </td>

        <!-- <td
        class="py-3 info-txt"
        *ngIf="contrat.etat_contrat?.libelle === 'Modifié'"
      >
        Modifié 
      </td> -->

        <td
          class="py-3"
          [ngClass]="{
            'info-txt':
              contrat.etat_contrat?.libelle === 'Avenant' ||
              contrat.etat_contrat?.libelle === 'Initié' ||
              contrat.etat_contrat?.libelle === 'Modifié',
            'danger-txt':
              contrat.etat_contrat?.libelle === 'Suspendu' ||
              contrat.etat_contrat?.libelle === 'Résilié',
            'success-txt': contrat.etat_contrat?.libelle === 'Actif',
            'main-txt':
              contrat.etat_contrat?.libelle === 'En cours de validation'
          }"
          *ngIf="contrat.etat_contrat?.libelle !== 'Avenant'"
        >
          {{ this.contrat.etat_contrat?.libelle }}
        </td>

        <td>
          <span
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Ici vous pouvez consulter les proprietaires liés au contrat"
          >
            <div class="d-grid">
              <div
                class="mb-1"
                *ngIf="contrat?.etat_contrat?.libelle === 'Initié'"
              >
                <a
                  *ngIf="
                    !isDC &&
                    !isDAJC &&
                    contrat?.etat_contrat?.libelle === 'Initié'
                  "
                  [routerLink]="['/affectation-proprietaire', contrat._id]"
                  class="short-link success-txt"
                >
                  + Affecter un proprietaire</a
                >
              </div>
              <a
                class="btn btn-sm second-btn me-2"
                (click)="openListeProprietairesModal(contrat)"
                *ngIf="contrat?.etat_contrat?.libelle !== 'Modifié'"
              >
                <i class="fal fa-users"></i> Voir ({{
                  getProprietaireLength(contrat)
                }})
              </a>
            </div>
          </span>
        </td>

        <td>
          <div class="d-flex">
            <a
              [routerLink]="['list', contrat._id]"
              class="btn btn-sm main-btn me-2"
              ><i class="fal fa-eye"></i
            ></a>
            <!-- *ngIf="
              (this.contrat.etat_contrat?.libelle === 'Soumettre' &&
                userRoles.includes('CSLA')) ||
              ((userRoles.includes('CDGSP') || userRoles.includes('CSLA')) &&
                !contrat.validation1_DMG &&
                this.contrat.etat_contrat?.libelle ===
                  'En cours de validation') ||
              (userRoles.includes('CSLA') && !contrat.validation1_DMG)
            " -->
            <!-- *ngIf="!userRoles.includes('DAJC')" -->
            <a
              *ngIf="
                (this.contrat.etat_contrat?.libelle === 'Initié' &&
                  userRoles.includes('CSLA')) ||
                (this.contrat.etat_contrat?.libelle === 'Actif' &&
                  userRoles.includes('CSLA') &&
                  !contrat.has_avenant) ||
                (userRoles.includes('CDGSP') &&
                  this.contrat.etat_contrat?.libelle === 'Initié') ||
                (userRoles.includes('CDGSP') &&
                  this.contrat.etat_contrat?.libelle === 'Actif' &&
                  !contrat.has_avenant) ||
                (userRoles.includes('DAJC') &&
                  this.contrat.validation2_DAJC &&
                  this.contrat.etat_contrat?.libelle !== 'Résilié' &&
                  !contrat.has_avenant)
              "
              (click)="openEditModal(contrat)"
              class="btn btn-sm info-btn me-2"
              ><i class="far fa-edit"></i
            ></a>
            <!-- <a
              *ngIf="isCDGSP && !contrat?.validation1_DMG"
              class="btn btn-sm danger-btn"
              (click)="openConfirmationContratModal(contrat._id)"
              ><i class="far fa-user-minus"></i
            ></a> -->
          </div>
        </td>

        <!-- Validation -->
        <td
          *ngIf="
            (userRoles.includes('CDGSP') ||
              userRoles.includes('CSLA') ||
              userRoles.includes('DAJC')) &&
            (this.contrat.etat_contrat?.libelle === 'En cours de validation' ||
              this.contrat.etat_contrat?.libelle === 'Actif' ||
              this.contrat.etat_contrat?.libelle === 'Résilié')
          "
        >
          <div
            class="text-center my-1"
            *ngIf="
              contrat.etat_contrat?.libelle === 'Résilié' ||
              contrat.etat_contrat?.libelle === 'Modifié'
            "
          >
            --
          </div>
          <div
            class="btn-group d-grid"
            role="group"
            *ngIf="
              contrat.etat_contrat?.libelle !== 'Résilié' &&
              contrat.etat_contrat?.libelle !== 'Modifié'
            "
          >
            <a
              id="btnGroupDrop1"
              class="btn btn-sm"
              [ngClass]="
                contrat.validation2_DAJC ? 'success-btn' : 'second-btn'
              "
              data-bs-toggle="dropdown"
              aria-expanded="false"
              *ngIf="
                (userRoles.includes('CDGSP') && !contrat.validation1_DMG) ||
                (userRoles.includes('DAJC') &&
                  !contrat.validation2_DAJC &&
                  contrat.validation1_DMG) ||
                ((userRoles.includes('CDGSP') || userRoles.includes('DAJC')) &&
                  contrat.validation2_DAJC &&
                  contrat.validation1_DMG)
              "
            >
              <!-- [disabled]="userRoles.includes('DAJC') && !contrat.validation1_DMG" -->
              <ng-container *ngIf="!contrat.validation2_DAJC">
                A valider
              </ng-container>

              <ng-container *ngIf="contrat.validation2_DAJC">
                <i class="fal fa-clipboard-check"></i>
              </ng-container>
            </a>
            <button
              id="btnGroupDrop1"
              class="btn btn-sm second-btn"
              *ngIf="
                (userRoles.includes('CDGSP') || userRoles.includes('CSLA')) &&
                contrat.validation1_DMG &&
                !contrat.validation2_DAJC
              "
              disabled
            >
              Validé
            </button>
            <button
              id="btnGroupDrop1"
              class="btn btn-sm second-btn"
              *ngIf="
                userRoles.includes('DAJC') &&
                !contrat.validation2_DAJC &&
                !contrat.validation1_DMG
              "
              disabled
            >
              A valider
            </button>
            <ul
              id="actions"
              class="dropdown-menu p-3 main-card border-0"
              aria-labelledby="btnGroupDrop1"
            >
              <li>
                <!-- <h5 *ngIf="contrat.etat_contrat?.libelle !== 'Résilié'" class="main-title">
                  Validation
                </h5> -->
                <div class="d-flex flex-column gap-2">
                  <div
                    class="row"
                    *ngIf="
                      userRoles.includes('CDGSP') || userRoles.includes('CSLA')
                    "
                  >
                    <button
                      *ngIf="contrat.etat_contrat?.libelle !== 'Résilié'"
                      class="btn"
                      [ngClass]="
                        contrat.validation1_DMG ? 'success-btn' : 'second-btn'
                      "
                      [id]="'vld1: ' + contrat._id"
                      (click)="openConfirmationModalValidation1(contrat._id)"
                      [disabled]="contrat.validation1_DMG"
                    >
                      {{
                        contrat.validation1_DMG ? "Contrat validé" : "Valider"
                      }}
                    </button>

                    <button
                      *ngIf="
                        contrat.etat_contrat?.libelle !== 'Résilié' &&
                        !contrat.validation1_DMG
                      "
                      class="btn danger-btn mt-2"
                      [id]="'vld1: ' + contrat._id"
                      (click)="openConfirmationAnnulerContrat(contrat._id)"
                    >
                      Rejeter
                    </button>
                  </div>
                  <div class="row" *ngIf="userRoles.includes('DAJC')">
                    <button
                      *ngIf="
                        contrat.etat_contrat?.libelle !== 'Résilié' &&
                        contrat.validation1_DMG
                      "
                      [ngClass]="
                        contrat.validation2_DAJC ? 'success-btn' : 'second-btn'
                      "
                      [id]="'vld2: ' + contrat._id"
                      (click)="
                        openConfirmationModalValidation2(
                          contrat._id,
                          contrat.validation1_DMG
                        )
                      "
                      [disabled]="contrat.validation2_DAJC"
                      class="btn"
                    >
                      {{
                        contrat.validation2_DAJC ? "Contrat validé" : "Valider"
                      }}
                    </button>
                    <button
                      *ngIf="
                        contrat.etat_contrat?.libelle !== 'Résilié' &&
                        contrat.validation1_DMG &&
                        !contrat.validation2_DAJC
                      "
                      class="btn danger-btn mt-2"
                      [id]="'vld1: ' + contrat._id"
                      (click)="openConfirmationAnnulerContrat(contrat._id)"
                    >
                      Rejeter
                    </button>
                    <div
                      class="error-alert p-3 text-center"
                      *ngIf="!contrat.validation1_DMG"
                      style="width: 300px"
                    >
                      La première validation n'a pas encore faite.
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </td>
        <td
          *ngIf="
            (userRoles.includes('CSLA') || userRoles.includes('CDGSP')) &&
            this.contrat.etat_contrat?.libelle === 'Initié'
          "
        >
          <div
            class="btn-group d-grid"
            role="group"
            *ngIf="
              contrat.etat_contrat?.libelle !== 'Résilié' &&
              contrat.etat_contrat?.libelle !== 'Modifié'
            "
          >
            <a
              id="btnGroupDrop1"
              class="btn btn-sm"
              [ngClass]="
                contrat.validation2_DAJC ? 'success-btn' : 'second-btn'
              "
              aria-expanded="false"
              (click)="openConfirmationSoumettre(contrat._id)"
            >
              <ng-container *ngIf="!contrat.validation2_DAJC">
                Soumettre
              </ng-container>
            </a>
          </div>
        </td>
      </tr>

      <app-main-modal [closeBtn]="true">
        <app-edit-contrat [contrat]="targetContrat"> </app-edit-contrat>
      </app-main-modal>

      <!-- List des proprietaires -->
      <app-main-modal [closeBtn]="true" [id]="id">
        <div class="d-lg-flex justify-content-lg-between my-3">
          <h3 class="main-title">
            Les proprietaires liés au contrat
            <span class="text-capitalize selected-text">{{ num_contrat }}</span>
            :
          </h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Propriétaire</th>
              <th>CIN/IF</th>
              <th>Mandataire</th>
              <th>Montants</th>
            </tr>
          </thead>

          <tbody *ngIf="ProprietairesByContart.length">
            <tr
              *ngFor="
                let proprietaire of selectedContrat.proprietaires;
                let i = index
              "
            >
              <ng-container
                *ngIf="
                  !proprietaire.deleted &&
                  ((proprietaire?.statut !== 'À supprimer' &&
                    selectedContrat.is_avenant) ||
                    (!selectedContrat.is_avenant &&
                      proprietaire?.statut !== 'À ajouter'))
                "
              >
                <td>
                  {{
                    proprietaire.proprietaire.nom_prenom ||
                      proprietaire.proprietaire.raison_social
                  }}
                </td>
                <td>
                  {{
                    proprietaire.proprietaire.cin
                      ? proprietaire.proprietaire.cin
                      : proprietaire.proprietaire.n_registre_commerce || "--"
                  }}
                </td>
                <td>
                  <span
                    class="p-1"
                    [ngClass]="{
                      'success-txt': proprietaire?.is_mandataire,
                      'danger-txt': !proprietaire?.is_mandataire
                    }"
                  >
                    <!-- +
                " (" +
                proprietaire.has_mandataire.proprietaire.cin +
                ")"  -->
                    {{
                      checkAndPutText(proprietaire?.is_mandataire) == "Non"
                        ? proprietaire.has_mandataire != null
                          ? proprietaire.has_mandataire.proprietaire
                              .nom_prenom ||
                            proprietaire.has_mandataire.proprietaire
                              .raison_social
                          : checkAndPutText(proprietaire?.is_mandataire)
                        : checkAndPutText(proprietaire?.is_mandataire)
                    }}
                  </span>
                </td>
                <td>
                  <a
                    id="proprietaireList"
                    class="btn btn-sm second-btn w-100"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    (click)="calculMontantsGlobal(proprietaire)"
                  >
                    <i class="fal fa-eye"></i>
                    Voir
                  </a>
                  <ul
                    id="proprietaireListDropdown"
                    class="dropdown-menu p-4 main-card border-0"
                    aria-labelledby="proprietaireList"
                  >
                    <li>
                      <h5 class="main-title">Montants du proprietaire</h5>
                      <p class="main-muted-text my-0">
                        Part du propriétaire :
                        <span class="selected-text">{{
                          proprietaire.part_proprietaire
                        }}</span>
                      </p>
                      <p class="main-muted-text my-0">
                        Montant de loyer :
                        <span class="selected-text">{{
                          proprietaire.montant_loyer | currency: "MAD"
                        }}</span>
                      </p>
                      <p class="main-muted-text my-0">
                        Montant d'avance :
                        <span class="selected-text">{{
                          proprietaire.montant_avance_proprietaire
                            | currency: "MAD"
                        }}</span>
                      </p>
                      <p class="main-muted-text my-0">
                        Paiement spontané de TSR :
                        <span class="selected-text">{{
                          proprietaire.declaration_option
                        }}</span>
                      </p>
                      <p class="main-muted-text my-0">
                        Taux de l'impôt :
                        <span class="selected-text"
                          >{{ proprietaire.taux_impot }}%</span
                        >
                      </p>
                      <p class="main-muted-text my-0">
                        Retenue à la source :
                        <span class="selected-text">{{
                          proprietaire.retenue_source | currency: "MAD"
                        }}</span>
                      </p>
                      <p class="main-muted-text my-0">
                        Montant aprés impôt :
                        <span class="selected-text">{{
                          proprietaire.montant_apres_impot | currency: "MAD"
                        }}</span>
                      </p>
                      <p class="main-muted-text my-0">
                        Tax d'avance :
                        <span class="selected-text">{{
                          proprietaire.tax_avance_proprietaire | currency: "MAD"
                        }}</span>
                      </p>
                      <p class="main-muted-text my-0">
                        Montant de la caution :
                        <span class="selected-text">{{
                          proprietaire.caution_par_proprietaire
                            | currency: "MAD"
                        }}</span>
                      </p>
                    </li>
                  </ul>
                </td>
              </ng-container>
            </tr>
          </tbody>

          <tbody
            *ngIf="!ProprietairesByContart.length && !accessError"
            class="w-100 d-flex align-items-center"
          >
            <h5 class="main-muted-text my-4">Aucun proprietaire à afficher</h5>
          </tbody>

          <tbody *ngIf="accessError" class="w-100 d-flex align-items-center">
            <h5 class="danger-txt my-4">{{ accessError }}</h5>
            <a class="btn btn-sm second-btn ms-3" [routerLink]="['/']">
              <i class="far fa-chevron-left"></i> Retour au tablau de bord
            </a>
          </tbody>
        </table>
      </app-main-modal>

      <!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

      <app-confirmation-modal [closeBtn]="true">
        <!-- <div *ngIf="isValidate; then validation1;else delete"></div> -->
        <div
          *ngIf="
            isValidate;
            then validation1;
            else isValidate2
              ? validation2
              : isSoumettre
              ? soumettre
              : isRejeter
              ? rejeter
              : delete
          "
        ></div>
        <!-- <div *ngIf="isValidate2; then validation2;"></div> -->

        <ng-template #validation1>
          <h3 class="main-title">
            Confirmation de la validation
            <i class="far fa-exclamation-circle"></i>
          </h3>
          <p class="mt-3">Êtes-vous sûr de vouloir valider ce contrat ?</p>
          <div class="d-inline-flex justify-content-start mt-5">
            <a
              class="btn btn-lg px-lg-4 main-btn me-2"
              (click)="validation1Contrat(); closeConfirmationModal()"
              >Oui</a
            >
            <a
              class="btn btn-lg px-lg-4 danger-btn"
              (click)="closeConfirmationModal()"
              >Non</a
            >
          </div>
        </ng-template>

        <ng-template #validation2>
          <h3 class="main-title">
            Confirmation de la validation
            <i class="far fa-exclamation-circle"></i>
          </h3>
          <p class="mt-3">Êtes-vous sûr de vouloir valider ce contrat ?</p>
          <div class="d-inline-flex justify-content-start mt-5">
            <a
              class="btn btn-lg px-lg-4 main-btn me-2"
              (click)="validation2Contrat(); closeConfirmationModal()"
              >Oui</a
            >
            <a
              class="btn btn-lg px-lg-4 danger-btn"
              (click)="closeConfirmationModal()"
              >Non</a
            >
          </div>
        </ng-template>

        <ng-template #soumettre>
          <h3 class="main-title">
            Confirmation de Soumission
            <i class="far fa-exclamation-circle"></i>
          </h3>
          <p class="mt-3">
            Êtes-vous sûr de vouloir soumettre ce contrat à la validation ?
          </p>
          <div class="d-inline-flex justify-content-start mt-5">
            <a
              class="btn btn-lg px-lg-4 danger-btn me-2"
              (click)="soumettreContrat()"
              >Oui</a
            >
            <a
              class="btn btn-lg px-lg-4 main-btn"
              (click)="closeConfirmationModal()"
              >Non</a
            >
          </div>
        </ng-template>

        <ng-template #rejeter>
          <h3 class="main-title">
            Confirmation du rejet de contrat
            <i class="far fa-exclamation-circle"></i>
          </h3>
          <p class="mt-3">Êtes-vous sûr de vouloir rejeter ce contrat ?</p>
          <div class="d-inline-flex justify-content-start mt-5">
            <a
              class="btn btn-lg px-lg-4 danger-btn me-2"
              (click)="annulerContrat(); closeConfirmationModal()"
              >Oui</a
            >
            <a
              class="btn btn-lg px-lg-4 main-btn"
              (click)="closeConfirmationModal()"
              >Non</a
            >
          </div>
        </ng-template>

        <ng-template #delete>
          <h3 class="main-title">
            Confirmation de la suppression
            <i class="far fa-exclamation-circle"></i>
          </h3>
          <p class="mt-3">Êtes-vous sûr de vouloir supprimer cette contrat ?</p>
          <div class="d-inline-flex justify-content-start mt-5">
            <a
              class="btn btn-lg px-lg-4 danger-btn me-2"
              (click)="deleteContrat(); closeConfirmationModal()"
              >Oui</a
            >
            <a
              class="btn btn-lg px-lg-4 main-btn"
              (click)="closeConfirmationModal()"
              >Non</a
            >
          </div>
        </ng-template>
      </app-confirmation-modal>

      <!-- Soumettre modal -->
      <!-- <app-confirmation-modal [closeBtn]="true" [id]="soumettreModal">
        <h3 class="main-title">
          Confirmation de Bla bla
          <i class="far fa-exclamation-circle"></i>
        </h3>
        <p class="mt-3">Bla bla bla ?</p>
        <div class="d-inline-flex justify-content-start mt-5">
          <a
            class="btn btn-lg px-lg-4 danger-btn me-2"
            (click)="soumettreContrat()"
            >Oui</a
          >
          <a
            class="btn btn-lg px-lg-4 main-btn"
            (click)="closeConfirmationModal(soumettreModal)"
            >Non</a
          >
        </div>
      </app-confirmation-modal> -->
    </tbody>

    <tbody
      *ngIf="!contrats?.length && !accessError"
      class="w-100 d-flex align-items-center"
    >
      <h5 class="main-muted-text my-4">Aucun contrat à afficher</h5>
      <a class="btn btn-sm second-btn ms-2" [routerLink]="['/foncier/list']">
        + Nouveau contrat
      </a>
    </tbody>

    <tbody *ngIf="accessError" class="w-100 d-flex align-items-center">
      <h5 class="danger-txt my-4">{{ accessError }}</h5>
      <a class="btn btn-sm second-btn ms-3" [routerLink]="['/']">
        <i class="far fa-chevron-left"></i> Retour au tablau de bors
      </a>
    </tbody>
  </table>

  <pagination-controls
    id="listContratPagination"
    (pageChange)="listContratPage = $event"
    previousLabel="Précédent"
    nextLabel="Suivant"
  >
  </pagination-controls>
</div>
