@use "../../../../assets/style/helpers" as *;
@use "../../../../assets/style/components" as *;

th {
  @extend .header-table;
}

.av {
  background: color(info);
  color: color(light);
  border-radius: $main-border-radius;
  width: auto;
  text-align: center;
}

.main-muted-text {
  font-weight: 500;
}

#actions {
  min-height: 20px !important;
}
