<div class="row title">
    <div class="col-lg-12 mt-3">
        <div class="d-flex justify-content-between">
            <!-- <h3 class="leftborder"></h3> -->
            <h3 class="main-text">List de propriétaire</h3>
            <a href="#" class="btn main-btn"
               data-bs-toggle="tooltip" data-bs-placement="top" 
               title="Ici vous pouvez voir la liste des propriétaires"><i class="fal fa-info"></i></a>
        </div>
    </div>
</div>


<div class="mt-4 table-responsive-sm">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nom et prénom de propriétaire</th>
                <th>Raison sociale</th>
                <th>N° de registre commerce</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody *ngFor="let proprietaire of proprietaires">
            <tr>
                <td>{{ proprietaire.nom_prenom }}</td>
                <td>{{ proprietaire.raison_social }}</td>
                <td>{{ proprietaire.n_registre_commerce }} </td>
                <td>
                    <a [routerLink]="['list', proprietaire._id]" class="btn main-btn me-3"><i class="fal fa-eye"></i></a>
                    <a class="btn info-btn me-3" (click)='openModal()'><i class="far fa-user-edit"></i></a>
                    <a class="btn danger-btn"><i class="far fa-user-minus"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-main-modal>
    <h1>Modifier propriétaire</h1>
    <app-edit-proprietaire></app-edit-proprietaire>
</app-main-modal>