.navbar {
    display: flex;
    justify-content: center;
    width: calc(100vw - 18rem);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    height: 6vh;
    left: auto;
    right: auto;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh - 6vh;
    position: fixed;
    top: auto;
    left: 1.2rem;
    bottom: auto;
    border-radius: 12px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}
