<div class="d-flex justify-content-lg-end justify-content-sm-center header-section">
    <nav class="navbar navbar-expand-lg navbar-light mt-4">
        <div class="container-fluid">
            <a id="sidebar-collapse"
                class="btn bg-white mx-4 border-0"><i class="fal fa-bars"></i>
            </a>
            <h5>Attawfiq Microfinance | Gestion des loyers</h5>
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">-</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">-</a>
                    </li> -->
                </ul>
                <div class="card border-0 me-5 main-card">
                    <div class="card-body">
                        <h6 class="mainText">
                            Ahmad Alaoui
                        </h6>
                        <span class="badge danger-btn">Administrateur</span>
                    </div>
                </div>
                <a class="btn main-btn me-2" href="#"><i class="fal fa-bell"></i></a>
                <a class="btn danger-btn me-2" href="#"><i class="far fa-sign-out"></i></a>
            </div>
        </div>
    </nav>
</div>

<!-- Vertical navbar -->
<div class="vertical-nav" id="sidebar">
    <div class="py-4 px-3 mb-4">
        <div class="media d-flex align-items-center">
            <img src="../../../assets/images/logo/Attawfiq.jpg" alt="Attawfiq Logo" width="auto"
                class="mr-3  img-thumbnail border-0">
        </div>
    </div>

    <ul class="nav flex-column mb-0 p-4">
        <li class="nav-item">
            <a href="#" class="nav-link main-btn ">
                Tableau de bord
            </a>
        </li>
        <li class="nav-item my-4">
            <a [routerLink]="['/proprietaire']" routerLinkActive="router-link-active"  class="nav-link main-btn">
                Propriétaire de locale
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link main-btn ">
                Contrat de bail
            </a>
        </li>
        <li class="nav-item my-4">
            <a href="#" class="nav-link main-btn ">
                Fournisseur
            </a>
        </li>
    </ul>


</div>
<!-- End vertical navbar -->

<div class="d-flex justify-content-lg-end justify-content-sm-center main-content p-lg-5" id="content">
    <ng-content></ng-content>
</div>