@use '../../../assets/style/helpers' as *;
@use '../../../assets/style/components' as *;

.header-section {
    margin-right: calc(100vw - (100vw - 1.5rem));
}

.navbar {
    width: calc(100vw - (20rem + 2rem));
    box-shadow: $card-box-shadow;
    border-radius: $main-border-radius;
    height: 7vh;
    left: auto;
    right: auto;
    background: color(light);
}

.vertical-nav {
    background: color(light);
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    left: 1.5rem;
    bottom: auto;
    top: 2rem;
    border-radius: $main-border-radius;
    box-shadow: $card-box-shadow;
    transition: all 0.4s;
}

.main-content {
    width: calc(100vw - (17rem + 1.6rem));
    margin-left: calc(100vw - (100vw - (17rem + 1.6rem)));
    flex-direction: column;
    transition: all 0.4s;
}

#sidebar.active {
    margin-left: -(17rem + 1.6rem);
}

#content.active {
    width: 100%;
    margin: 0;
}
