<div class="row title">
    <div class="col-lg-12 mt-3">
        <div class="d-flex justify-content-between">
            <h3 class="main-text">Propriétaire de local</h3>
            <a href="#" class="btn second-btn"><i class="fal fa-info"></i></a>
        </div>
    </div>
</div>

<!--Début de conteneur Propriètaire de local  -->
<div class="mt-4">
    <h6>Remplissage des données</h6>

    <!--Début de Div qui contient le formulaire propriètaire de local-->
    <div class="form-box mt-4">

        <!--Début Formulaire propriètaire de local-->
        <form [formGroup]="proprietaireForm" (ngSubmit)="onSubmit()">
            <!--Début 1er Row-->
            <div class="row">

                <div class="col-lg-3 form-group  mt-4">
                    <label for="">N° CIN du Propriétaire</label>
                    <input type="text" class="form-control rounded-pill" formControlName="cinPr" required>

                    <!-- Error Message !! -->
                  <span class="msg-error px-2"
                  *ngIf="!proprietaireForm.controls['cinPr'].valid && proprietaireForm.controls['cinPr'].touched">
                   Veuillez remplir ce champ</span>

                </div>

                <div class="col-lg-3 form-group  mt-4">
                    <label for="">Passeport Propriétaire</label>
                    <input type="text" class="form-control rounded-pill" formControlName="passeportPr" required>

                      <!-- Error Message !! -->
                  <span class="msg-error px-2"
                  *ngIf="!proprietaireForm.controls['passeportPr'].valid && proprietaireForm.controls['passeportPr'].touched">
                   Veuillez remplir ce champ</span>

                </div>

                <div class="col-lg-3 form-group  mt-4">
                    <label for="">Carte séjour Propriétaire</label>
                    <input type="text" class="form-control rounded-pill" formControlName="carteSejourPr">

                     <!-- Error Message !! -->
                  <span class="msg-error px-2"
                  *ngIf="!proprietaireForm.controls['carteSejourPr'].valid && proprietaireForm.controls['carteSejourPr'].touched">
                   Veuillez remplir ce champ</span>

                </div>

                <div class="col-lg-3 form-group  mt-4">
                    <label for="">Raison sociale propriétaire</label>
                    <input type="text" class="form-control rounded-pill" formControlName="raisonSocialPr">

                     <!-- Error Message !! -->
                  <span class="msg-error px-2"
                  *ngIf="!proprietaireForm.controls['raisonSocialPr'].valid && proprietaireForm.controls['raisonSocialPr'].touched">
                   Veuillez remplir ce champ</span>

                </div>

                <div class="col-lg-3 form-group  mt-4">
                    <label for="">N° de registre du commerce</label>
                    <input type="text" class="form-control rounded-pill" formControlName="NregCommercePr">

                        <!-- Error Message !! -->
                  <span class="msg-error px-2"
                  *ngIf="!proprietaireForm.controls['NregCommercePr'].valid && proprietaireForm.controls['NregCommercePr'].touched">
                   Veuillez remplir ce champ</span>
                </div>

                <div class="col-lg-3 form-group  mt-4">
                    <label for="">Nom et prénom propriétaire</label>
                    <input type="text" class="form-control rounded-pill" formControlName="nomprenomPr">

                       <!-- Error Message !! -->
                  <span class="msg-error px-2"
                  *ngIf="!proprietaireForm.controls['nomprenomPr'].valid && proprietaireForm.controls['nomprenomPr'].touched">
                   Veuillez remplir ce champ</span>
                </div>

                <div class="col-lg-3 form-group mt-4">
                    <label for="">Téléphone du propriétaire</label>
                    <input type="text" class="form-control rounded-pill" formControlName="telPr">
                           <!-- Error Message !! -->
                  <span class="msg-error px-2"
                  *ngIf="!proprietaireForm.controls['telPr'].valid && proprietaireForm.controls['telPr'].touched">
                   Veuillez remplir ce champ</span>
                </div>

                <div class="col-lg-3 form-group mt-4">
                    <label for="">Fax du propriétaire</label>
                    <input type="text" class="form-control rounded-pill" formControlName="faxPr">

                             <!-- Error Message !! -->
                  <span class="msg-error px-2"
                  *ngIf="!proprietaireForm.controls['faxPr'].valid && proprietaireForm.controls['faxPr'].touched">
                   Veuillez remplir ce champ</span>
                </div>

                <div class="col-lg-3 form-group  mt-4">
                    <label for="">Adresse du propriétaire</label>
                    <input type="text" class="form-control rounded-pill" formControlName="adressePr">

                              <!-- Error Message !! -->
                  <span class="msg-error px-2"
                  *ngIf="!proprietaireForm.controls['adressePr'].valid && proprietaireForm.controls['adressePr'].touched">
                   Veuillez remplir ce champ</span>
                </div>

                <div class="col-lg-3 form-group mt-4">
                    <label for="">N° de compte bancaire P</label>
                    <input type="text" class="form-control rounded-pill" formControlName="NcptBancPr">

                    
                              <!-- Error Message !! -->
                  <span class="msg-error px-2"
                  *ngIf="!proprietaireForm.controls['NcptBancPr'].valid && proprietaireForm.controls['NcptBancPr'].touched">
                   Veuillez remplir ce champ</span>
                </div>

                <div class="col-lg-3 form-group mt-4">
                    <label for="">Banque</label>
                    <input type="text" class="form-control rounded-pill" formControlName="bancPr">

                     <!-- Error Message !! -->
                  <span class="msg-error px-2"
                  *ngIf="!proprietaireForm.controls['bancPr'].valid && proprietaireForm.controls['bancPr'].touched">
                   Veuillez remplir ce champ</span>
                </div>

                <div class="col-lg-3 form-group mt-4">
                    <label for="">Nom de l’Agence bancaire</label>
                    <input type="text" class="form-control rounded-pill" formControlName="nomAgencebancPr">

                     <!-- Error Message !! -->
                  <span class="msg-error px-2"
                  *ngIf="!proprietaireForm.controls['nomAgencebancPr'].valid && proprietaireForm.controls['nomAgencebancPr'].touched">
                   Veuillez remplir ce champ</span>
                </div>


                <div class="mt-4">Mandataire</div>
                <div class="col-lg-3 form-group d-flex  mt-4">
                    <label for="">Oui</label>
                    <input type="radio" name="isMandataire" [value]="true" class="form-check-input mx-2"
                        [(ngModel)]="isMand" formControlName="isMandataire">
                    <label for="">Non</label>
                    <input type="radio" name="isMandataire" [value]="false" class="form-check-input mx-2"
                        [(ngModel)]="isMand" formControlName="isMandataire">
                </div>

                <!-- Condition pour afficher ou cacher le formulaire de mandataire -->
                <div *ngIf="isMand;then mandataire"></div>


            </div>
            <!--Fin de 1er Row -->

            <!--Début 2éme Row -->
            <div class="row mt-5">

               
                <!--Début de Div Mandataire Qui contient(Title+divForm+Form)-->
                <ng-template #mandataire>
                    <!--Grand Titre Mandataire -->
                    <div class="row mt-4">
                        <div class="margin-main col-lg-12 mt-3">
                            <div class=" d-flex justify-content-between">
                                <h4 class="main-text">Mandataire</h4>
                                <a href="#" class="btn second-btn"><i class="fal fa-info"></i></a>
                            </div>
                        </div>
                    </div>


                    <!--Début de Conteneur Mandataire-->
                    <div class=" mt-4">
                        <h6>Remplissage des données</h6>

                        <!--Début Div form Mandataire-->
                        <div class="FormBox mt-4">

            
                            <!--Début 3éme Row-->
                            <div class="row">

                                <div class="col-lg-3 form-group mt-4">
                                    <label for="">N° CIN mandataire</label>
                                    <input type="text" class="form-control rounded-pill" formControlName="cinM">
                                </div>

                                <div class="col-lg-3 form-group mt-4">
                                    <label for="">Raison sociale mandataire</label>
                                    <input type="text" class="form-control rounded-pill" formControlName="rsocialM">
                                </div>

                                <div class="col-lg-3 form-group mt-4">
                                    <label for="">Nom et prénom mandataire</label>
                                    <input type="text" class="form-control rounded-pill" formControlName="nomprenomM">
                                </div>

                                <div class="col-lg-3 form-group mt-4">
                                    <label for="">Téléphone du mandataire</label>
                                    <input type="text" class="form-control rounded-pill" formControlName="telM">
                                </div>

                                <div class="col-lg-3 form-group mt-4">
                                    <label for="">Fax du mandataire</label>
                                    <input type="text" class="form-control rounded-pill" formControlName="faxM">
                                </div>

                                <div class="col-lg-3 form-group mt-4">
                                    <label for="">Adresse du mandataire</label>
                                    <input type="text" class="form-control rounded-pill" formControlName="adresseM">
                                </div>

                                <div class="col-lg-3 form-group mt-4">
                                    <label for="">N° de compte bancaire M</label>
                                    <input type="text" class="form-control rounded-pill" formControlName="ncptBancM">
                                </div>

                            </div>
                            <!--Fin de 3éme Row-->
         

                        </div>
                        <!-- Div form Mandataire End-->
                    </div>
                    <!--Fin de Conteneur Mandataire -->

                </ng-template>
                <!--Fin de Div Mandataire (Title+divForm+Form)-->

            </div>
            <!-- Fin 2éme Row-->

            <!-- Button Ajouter -->
            <div class="form-group mt-4 col-lg-2 d-flex">

                <button type="submit" class="btn second-btn form-control">Ajouter</button>
            </div>

        </form>
        <!-- Fin de formulaire-->

    </div>
    <!--Fin Div form propriètaire de local-->
</div>
<!--Fin de Conteneur Propriètaire de local-->

<!-- /////////////////////////////////////////////////////////////////////////////////////// -->