<div class="row title">
    <div class="col-lg-12 mt-3">
        <div class="d-lg-flex justify-content-lg-between">
            <h3 class="main-title ">Modifier l'entité organisationnelle</h3>
            <div>
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Ici vous pouvez modifier l'entité organisationnelle">
                    <i class="fal fa-info"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="mt-4">
    <div class="form-box mt-2">
        <app-dr-form [update]='true' [Lieu]="Lieu" *ngIf="Lieu.type_lieu === 'Direction régionale'" ></app-dr-form>
        <app-lf-form [update]='true' [Lieu]="Lieu" *ngIf="Lieu.type_lieu === 'Logement de fonction'" ></app-lf-form>
        <app-pv-form [update]='true' [Lieu]="Lieu" *ngIf="Lieu.type_lieu === 'Point de vente'"></app-pv-form>
        <app-siege-form [update]='true' [Lieu]="Lieu" *ngIf="Lieu.type_lieu === 'Siège'"></app-siege-form>
        <app-sv-form [update]='true' [Lieu]="Lieu" *ngIf="Lieu.type_lieu === 'Supervision'"></app-sv-form>
    </div>
</div>