<div class="w-100 d-flex justify-content-center" id="form_section">
    <div *ngIf="hasErrorMessage" class="error-alert p-2 my-2">{{ hasErrorMessage }}</div>
    <div *ngIf="isDoneMessage" class="done-alert p-2 my-2">{{ isDoneMessage }}</div>
</div>


<div *ngIf="isUpdate && signaletique" class="d-flex gap-3 mt-4">
    <div>
        <h6 class="main-title">Raison sociale</h6>
        <p>{{signaletique.raison_sociale}}</p>
    </div>
    <div>
        <h6 class="main-title">IF</h6>
        <p>{{signaletique.if}}</p>
    </div>
    <div>
        <h6 class="main-title">Rib</h6>
        <p>{{signaletique.rib}}</p>
    </div>
    <div>
        <h6 class="main-title">Adresse</h6>
        <p>{{signaletique.adresse}}</p>
    </div>
</div>

<form (ngSubmit)="isUpdate ? updateSignaletique() : addSignaletique()" [formGroup]="signaletiqueForm">
    <div class="row mt-2">
        <div *ngIf="!isUpdate" class="col-lg-4 form-group mt-2">
            <label for="">Raison sociale <span class="danger-txt">*</span></label>
            <input type="text" id="raison_sociale" class="form-control rounded-pill" formControlName="raison_sociale"
                [ngClass]="{
            'is-invalid': checkInputsValidation(raison_sociale),
            'is-valid': !raison_sociale?.invalid
          }" [value]="signaletique&&signaletique.raison_sociale" />
            <div class="" *ngIf="checkInputsValidation(raison_sociale)">
                <p class="danger-txt" *ngIf="raison_sociale?.errors?.required">
                    Veuillez remplir ce champ
                </p>
            </div>
        </div>
        <div *ngIf="!isUpdate" class="col-lg-4 form-group mt-2">
            <label for="">IF <span class="danger-txt">*</span></label>
            <input type="text" id="if" class="form-control rounded-pill" formControlName="if" [ngClass]="{
            'is-invalid': checkInputsValidation(ifControl),
            'is-valid': !ifControl?.invalid
          }" [value]="signaletique&&signaletique.if" />
            <div class="" *ngIf="checkInputsValidation(ifControl)">
                <p class="danger-txt" *ngIf="ifControl?.errors?.required">
                    Veuillez remplir ce champ
                </p>
            </div>
        </div>
        <div *ngIf="!isUpdate" class="col-lg-4 form-group mt-2">
            <label for="">RIB <span class="danger-txt">*</span></label>
            <input type="text" id="rib" maxlength="24" class="form-control rounded-pill" formControlName="rib"
                [ngClass]="{
            'is-invalid': checkInputsValidation(rib),
            'is-valid': !rib?.invalid
          }" [value]="signaletique&&signaletique.rib" />
            <div class="" *ngIf="checkInputsValidation(rib)">
                <p class="danger-txt" *ngIf="rib?.errors?.required">
                    Veuillez remplir ce champ
                </p>
                <p class="danger-txt" *ngIf="rib?.errors?.pattern">
                    Vous devez entrer 24 caractères(chiffres)
                </p>
            </div>
        </div>
        <div *ngIf="!isUpdate" class="col-lg-12 form-group mt-2">
            <label for="">Adresse <span class="danger-txt">*</span></label>
            <textarea type="text" id="adresse" class="form-control" formControlName="adresse" [ngClass]="{
            'is-invalid': checkInputsValidation(adresse),
            'is-valid': !adresse?.invalid
          }" [value]="signaletique&&signaletique.adresse"></textarea>
            <div class="" *ngIf="checkInputsValidation(adresse)">
                <p class="danger-txt" *ngIf="adresse?.errors?.required">
                    Veuillez remplir ce champ
                </p>
            </div>
        </div>

        <h5 class="mt-4">Signalétique active </h5>
        <div class="col-lg-3 form-group d-flex">
            <label for="">Oui</label>
            <input type="radio" name="active" [value]="true" class="form-check-input mx-2" [(ngModel)]="isActive"
                formControlName="active" />
            <label for="">Non</label>
            <input type="radio" name="active" [value]="false" class="form-check-input mx-2" [(ngModel)]="isActive"
                formControlName="active" />
        </div>
    </div>

    <div class="form-group mt-5 col-lg-4 d-flex">
        <button type="submit" class="btn second-btn form-control" *ngIf="isUpdate"
            [disabled]="checkInputsValidation(rib) || checkInputsValidation(ifControl)|| checkInputsValidation(adresse)|| checkInputsValidation(raison_sociale)">
            Modifier la signalétique
        </button>
        <button type="submit" class="btn second-btn form-control" *ngIf="!isUpdate" [disabled]="
          signaletiqueForm.invalid
          ">
            Ajouter
        </button>
    </div>
</form>