<div class="row title">
    <div class="col-lg-12 mt-3">
        <div class="d-lg-flex justify-content-lg-between">
            <h3 class="main-title ">Modifier foncier</h3>
            <div>
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Ici vous pouvez modifier le foncier">
                    <i class="fal fa-info"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="mt-4">
    <div class="form-box mt-2">
        <foncier-form></foncier-form>
    </div>
</div>
