<div class="row title">
  <div class="col-lg-12 mt-3">
    <div class="d-lg-flex justify-content-lg-between">
      <h3 class="main-title">Clôture et écritures</h3>
      <div>
        <a class="btn btn-sm main-btn me-4" [routerLink]="['/']"
          ><i class="fal fa-home"></i> Tableau de bord</a
        >
        <a
          lass="text-dark ms-5"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Ici vous pouvez exporter des écritures contable etc.."
          ><i class="fal fa-info"></i
        ></a>
      </div>
    </div>
  </div>
</div>


<app-cloture></app-cloture>

<div class="row mt-3">
  <div
    class="col-lg-12 d-flex align-items-lg-start justify-content-lg-start gap-1 flex-column mt-lg-5"
  >
    <h5 class="main-title">Exportation des fichiers</h5>
    <form [formGroup]="filesForm" enctype="multipart/form-data" class="col-3">
      <input
        type="month"
        class="form-control rounded-pill"
        (change)="showButtons()"
        formControlName="date_gen"
        [ngClass]="{
          'is-invalid': checkInputsValidation(date_gen),
          'is-valid': !date_gen?.invalid
        }"
      />
    </form>
  </div>
  <div *ngIf="dateSelected; then filesSection; else Error"></div>
</div>

<ng-container *ngIf="reporting"> </ng-container>

<ng-template #filesSection>
  <div class="mt-4">
    <h5>Exporter les écritures</h5>

    <a class="btn second-btn" (click)="downloadFiles(fileParams)">
      <i class="far fa-file-export"></i> Exporter les fichers mensuelles
    </a>
  </div>


  <!-- <a
      class="btn second-btn"
      (click)="downloadFiles()"
    >
      Exporter le ficher comptable de paiement des cautions
    </a> -->
  <!-- <h5 class="mt-4">Ordre de virements</h5>
  <div
    class="
      col-lg-12
      d-flex
      align-items-lg-center
      justify-content-lg-start
      gap-1
      flex-row
    "
  >
    <a class="btn second-btn" (click)="downloadFiles()">
      Exporter le ficher ordre de virements
    </a>
  </div>
  <h5 class="mt-4">Maquettes télédéclaration et télépaiement</h5>
  <div
    class="
      col-lg-12
      d-flex
      align-items-lg-center
      justify-content-lg-start
      gap-1
      flex-row
    "
  >
    <a class="btn second-btn" (click)="downloadFiles()">
      Exporter télédéclaration mensuelle
    </a> -->
  <!-- <a class="btn second-btn" (click)="downloadFiles('annex2')">
      Exporter télédéclaration annuelle
    </a> -->
  <!-- </div> -->

  <!-- <div class="mt-4">
    <h5>Exporter la télédéclaration annuelle</h5>
    <a class="btn second-btn" (click)="downloadFiles(['annex2'])"
      ><i class="far fa-file-export"></i> Exporter le fichier</a
    >
  </div> -->
</ng-template>



<ng-template #Error>
  <h3 class="main-muted-text mt-4 text-center">
    Choisissez une date s'il vous plait.
  </h3>
</ng-template>

