<p>dr-form works!</p>
	Code DR : C’est le code attribué à la Direction Régionale (information unique et obligatoire)-systématique après saisie de l’intitulé si la Direction est déjà codifiée-
	Direction Régionale : C’est l’intitulé de la Direction Régionale (Information obligatoire)
	Adresse de la Direction Régionale
	Ville
	Code localité
	Etage
	Etat des lieux à l’entrée : 
•	Descriptif du local 
•	Intégration des images correspondant au local avant aménagement
	Aménagement : oui/non
•	Nature des travaux d’aménagement : construction / démolition / plomberie / peinture/ menuiserie / électricité
•	Montant des travaux d’aménagement 
•	Valeur et nature des travaux à la charge du propriétaire (facultatif)
•	Valeur et nature des travaux à la charge de la Fondation
•	N° de facture
•	N° de bon de commande
•	Date de passation de la commande
•	Fournisseur
•	Evaluation du fournisseur
•	Date de fin des travaux
•	Date de livraison du local
•	Intégration des images correspondant au local après aménagement
•	Intégration du croquis d’aménagement via imagerie
	Superficie
	Téléphone 
	Fax


