<div class="container">
    <h3 class="main-title">Modification du mot de passe</h3>

    <form [formGroup]="resetpasswordForm" class="mt-5" (ngSubmit)='updatePassword()'>
        <div class="row">
            <div class="col-5">
                <label for="password" class="font_bold mb-0">Entrer le nouveau mot de passe
                    :</label>
                <div class="input-group">
                    <input
                        [ngClass]="{'is-invalid': password?.invalid && password?.dirty , 'is-valid': !password?.invalid}"
                        [type]="passwordField ? 'text' : 'password'" id="password" formControlName="password"
                        class="form-control rounded-pill">

                    <a class="main-btn p-2 ms-2" aria-label="Voir le mot de passe">
                        <i class="fa fa-eye-slash" [ngClass]="{
            'fa-eye-slash': !passwordField,
            'fa-eye': passwordField
          }" (click)="togglePasswordType('pass')"></i>
                    </a>
                </div>
            </div>
        </div>
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
            <p class="danger-txt" *ngIf="password?.errors?.required">
                Le mot de passe et obligatoire.
            </p>
            <p class="danger-txt" *ngIf="password?.errors?.minlength">
                Le mot de passe doit contenir au minimum 8 caractères.
            </p>
        </div>

        <div class="row mt-2">
            <div class="col-5">
                <label for="confirm_password" class="font_bold mb-0">Conformer le nouveau mot de
                    passe : </label>
                <div class="input-group">
                    <input type="text" id="confirm_password" [ngClass]="{
                            'is-invalid': confirm_password?.invalid && confirm_password?.dirty || resetpasswordForm.getError('mismatch'),
                         'is-valid': !confirm_password?.invalid && !resetpasswordForm.getError('mismatch') 
                        }" [type]="confirmPasswordField ? 'text' : 'password'" formControlName="confirm_password"
                        class="form-control rounded-pill">
                    <a class="main-btn p-2 ms-2" aria-label="Voir le mot de passe">
                        <i class="fa fa-eye-slash" [ngClass]="{
            'fa-eye-slash': !confirmPasswordField,
            'fa-eye': confirmPasswordField
          }" (click)="togglePasswordType('confPass')">
                        </i>
                    </a>
                </div>
            </div>
        </div>
        <div *ngIf="confirm_password?.invalid &&
         (confirm_password?.dirty || confirm_password?.touched) ||
          resetpasswordForm.getError('mismatch')
         ">

            <p class="danger-txt" *ngIf="confirm_password?.errors?.required">
                La confirmation du mot de passe est obligatoire.
            </p>
            <p class="danger-txt" *ngIf="resetpasswordForm.getError('mismatch')">
                Le mot de passe non concordant.
            </p>
        </div>
        <button type="submit" [disabled]="resetpasswordForm.invalid" class="btn second-btn mt-4">
            Modifier le mot de passe</button>

    </form>

</div>