<section class="row title">
    <div class="col-lg-12 mt-3">
      <div class="d-flex justify-content-between">
        <!-- <h3 class=""></h3> -->
        <h3 class="main-title">Génération des reportings des locaux et des aménagements</h3>
        <div class="d-none d-lg-block">
          <a class="btn second-btn me-3" (click)="generatFoncierReportings('locaux-fermes')"
            ><i class="fal fa-file-export"></i>
            Générer reportings des locaux fermés
          </a>
          <a class="btn second-btn me-3" (click)="generatFoncierReportings('amenagement')"
            ><i class="fal fa-file-export"></i>
            Générer reportings des aménagement
          </a>
          <span
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Ici vous pouvez consulter la list des reportings des locaux"
          >
            <i class="fal fa-info"></i>
          </span>
        </div>
      </div>
    </div>
  </section>
  
  <div class="w-100 d-flex justify-content-center">
    <div *ngIf="errors" class="error-alert p-2 my-2">{{ errors }}</div>
  </div>
  
  <div class="main-card bg-white table-responsive p-lg-3 mt-4">
    <div class="row d-flex justify-content-between">
      <div class="col-lg-4 mb-4">
        <label for="" class="main-muted-text"
          ><i class="far fa-search"></i> Recherche par année</label
        >
        <input
          type="text"
          class="form-control rounded-pill"
          placeholder="Rechercher par année..."
          [(ngModel)]="findDate"
          (input)="search('annee')"
        />
      </div>
  
      <div class="col-lg-4 mb-4">
        <label for="" class="main-muted-text"
          ><i class="far fa-search"></i> Recherche par mois</label
        >
        <select
          class="form-select rounded-pill"
          (change)="search('mois')"
          [(ngModel)]="findDate"
        >
          <option *ngFor="let date of dateList" [value]="date.number">
            {{ date.name }}
          </option>
        </select>
      </div>
      <!-- Table reporting foncier fermés -->
      <table class="table">
        <thead>
          <tr class="text-truncate">
            <th>Type de local</th>
            <th>Mois</th>
            <th>Année</th>
            <th>Exportation</th>
          </tr>
        </thead>
  
        <tbody *ngIf="reportings?.length">
          <tr
            class="text-truncate"
            *ngFor="
              let reporting of reportings
                | paginate
                  : {
                      itemsPerPage: tableSize,
                      currentPage: listReportingFoncierPage,
                      id: 'listReportingFoncierPage',
                      totalItems: count
                    }
            "
          >
            <td></td>
            <td>---</td>
            <td>
              <div class="my-2">
                <a
                  *ngIf="reporting?.image"
                  class="btn btn-sm success-btn"
                  href="{{ url }}{{ reporting?.image }}"
                  target="_blank"
                >
                  Expoter les reportings
                </a>
                <p *ngIf="reporting?.image == null" class="main-muted-text">
                  Il n'y a aucun fichier à télécharger
                </p>
              </div>
            </td>
          </tr>
          <pagination-controls
            id="listReportingAmenagementPage"
            (pageChange)="listReportingAmenagementPage = $event"
            previousLabel="Précédent"
            nextLabel="Suivant"
          ></pagination-controls>
        </tbody>
  
        <tbody
          *ngIf="!reportings?.length"
          class="w-100 d-flex align-items-center"
        >
          <h5 class="main-muted-text my-4">Aucun reporting à afficher</h5>
        </tbody>
      </table>
    </div>
  </div>
  

  <div class="main-card bg-white table-responsive p-lg-3 mt-4">
    <h4 class="main-title mb-4">Génération des reportings des aménagements</h4>
    <div class="row d-flex justify-content-between">
      <div class="col-lg-4 mb-4">
        <label for="" class="main-muted-text"
          ><i class="far fa-search"></i> Recherche par année</label
        >
        <input
          type="text"
          class="form-control rounded-pill"
          placeholder="Rechercher par année..."
          [(ngModel)]="findDate"
          (input)="search('annee')"
        />
      </div>
  
      <div class="col-lg-4 mb-4">
        <label for="" class="main-muted-text"
          ><i class="far fa-search"></i> Recherche par mois</label
        >
        <select
          class="form-select rounded-pill"
          (change)="search('mois')"
          [(ngModel)]="findDate"
        >
          <option *ngFor="let date of dateList" [value]="date.number">
            {{ date.name }}
          </option>
        </select>
      </div>

      <!-- Table reporting amenagement -->
      <table class="table">
        <thead>
          <tr class="text-truncate">
            <th>Nature d'aménagement</th>
            <th>Mois</th>
            <th>Année</th>
            <th>Exportation</th>
          </tr>
        </thead>
  
        <tbody *ngIf="reportings?.length">
          <tr
            class="text-truncate"
            *ngFor="
              let reporting of reportings
                | paginate
                  : {
                      itemsPerPage: tableSize,
                      currentPage: listReportingAmenagementPage,
                      id: 'listReportingAmenagementPage',
                      totalItems: count
                    }
            "
          >
            <td>---</td>
            <td>---</td>
            <td>
              <div class="my-2">
                <a
                  *ngIf="reporting?.reportingPaths"
                  class="btn btn-sm success-btn"
                  href="{{ url }}{{ reporting?.reportingPaths?.amenagements_realises}}"
                  target="_blank"
                >
                  Expoter les reportings
                </a>
                <p *ngIf="reporting?.reportingPaths == null" class="main-muted-text">
                  Il n'y a aucun fichier à télécharger
                </p>
              </div>
            </td>
          </tr>
          <pagination-controls
            id="listReportingFoncierPage"
            (pageChange)="listReportingFoncierPage = $event"
            previousLabel="Précédent"
            nextLabel="Suivant"
          ></pagination-controls>
        </tbody>
  
        <tbody
          *ngIf="!reportings?.length"
          class="w-100 d-flex align-items-center"
        >
          <h5 class="main-muted-text my-4">Aucun reporting à afficher</h5>
        </tbody>
      </table>
    </div>
  </div>
