<div class="row title">
    <div class="col-lg-12 mt-3">
        <div class="d-flex justify-content-between">
            <!-- <h3 class="leftborder"></h3> -->
            <h3 class="main-title"><a [routerLink]="['/proprietaire/list']" class="goback-link">List de
                    propriétaires</a> / {{ proprietaire.nom_prenom }}</h3>
            <div class="d-none d-lg-block">
                <a [routerLink]="['/proprietaire/list']" class="btn btn-sm second-btn me-3 " data-bs-toggle="tooltip"
                    data-bs-placement="top" title="Retour à la liste"><i class="far fa-arrow-left"></i> Retour à la
                    liste</a>
                <span data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Ici vous pouvez voir les détails de {{ proprietaire.nom_prenom }}"><i
                        class="fal fa-info"></i></span>
            </div>
        </div>
    </div>
</div>


<div class="main-card p-lg-4 mt-4 table-responsive">

    <table class="table" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <th>CIN de propriétaire</th>
                <td>{{ proprietaire.cin }}</td>
            </tr>

            <tr>
                <th>Passeport de propriétaire</th>
                <td>{{ proprietaire.passport }}</td>
            </tr>

            <tr>
                <th>Carte séjour de propriétaire</th>
                <td>{{ proprietaire.carte_sejour }}</td>
            </tr>

            <tr>
                <th>Nom et prénom de proprietaire</th>
                <td>{{ proprietaire.nom_prenom }}</td>
            </tr>

            <tr>
                <th>Raison sociale</th>
                <td>{{ proprietaire.raison_social }}</td>
            </tr>

            <tr>
                <th>Télephone</th>
                <td>{{ proprietaire.telephone }}</td>
            </tr>

            <tr>
                <th>Fax</th>
                <td>{{ proprietaire.fax }}</td>
            </tr>

            <tr>
                <th>Adresse</th>
                <td>{{ proprietaire.adresse }}</td>
            </tr>

            <tr>
                <th>N° compte bancaire</th>
                <td>{{ proprietaire.n_compte_bancaire }}</td>
            </tr>

            <tr>
                <th>Banque</th>
                <td>{{ proprietaire.banque }}</td>
            </tr>

            <tr>
                <th>Nom de l'agence bancaire</th>
                <td>{{ proprietaire.nom_agence_bancaire }}</td>
            </tr>
        </tbody>

    </table>

    <table *ngIf="mandataire" class="table" cellspacing="0" width="100%">
        <tbody>
            <!-- Mandataire inputs -->
            <h4 class="main-title mt-4">Mandataire :</h4>

            <tr>
                <th>CIN Mandataire</th>
                <td>{{ mandataire?.cin_mandataire }}</td>
            </tr>

            <tr>
                <th>Raison sociale Mandataire </th>
                <td>{{ mandataire?.raison_social_mandataire }}</td>
            </tr>

            <tr>
                <th>Nom et prénom de Mandataire</th>
                <td>{{ mandataire?.nom_prenom_mandataire }}</td>
            </tr>

            <tr>
                <th>Téléphone de Mandataire</th>
                <td>{{ mandataire?.telephone_mandataire }}</td>
            </tr>

            <tr>
                <th>Fax de Mandataire</th>
                <td>{{ mandataire?.fax_mandataire }}</td>
            </tr>

            <tr>
                <th>Adresse Mandataire</th>
                <td>{{ mandataire?.adresse_mandataire }}</td>
            </tr>

            <tr>
                <th>N° compte bancaire Mandataire</th>
                <td>{{ mandataire?.n_compte_bancaire_mandataire }}</td>
            </tr>

        </tbody>

    </table>




</div>