<div class="row title">
    <div class="col-lg-12 mt-3">
        <div class="d-flex justify-content-between">
            <!-- <h3 class=""></h3> -->
            <h3 class="main-title">
                <a [routerLink]="['/proprietaire/list-global/list']" class="goback-link">Liste des
                    propriétaires</a>/<span class="selected-text">{{ proprietaire?.nom_prenom }}</span>
                    <span class="text-secondary" *ngIf="mandataire">
                        •
                      </span> 
                    <span class="success-txt" *ngIf="mandataire">
                        Mandataire
                    </span>
            </h3>
            <div class="d-none d-lg-block">
                <a [routerLink]="['/proprietaire/list-global/list']" class="btn btn-sm second-btn me-3 " data-bs-toggle="tooltip"
                    data-bs-placement="top" title="Retour à la liste"><i class="far fa-arrow-left"></i>
                    Retour à la liste des propriétaires
                </a>
                <span data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Ici vous pouvez voir les détails de {{ proprietaire?.nom_prenom }}">
                    <i class="fal fa-info"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-around">
    <div class="main-card p-lg-4 mt-4 table-responsive bg-white col-lg-4">
        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Nom et prénom de proprietaire</h5>
                <p>{{ proprietaire?.nom_prenom != '' ? proprietaire?.nom_prenom : '--' }}</p>
            </div>
            <div class="col-lg-6">
                <h5 class="main-txt">CIN de propriétaire</h5>
                <p>{{ proprietaire?.cin != '' ? proprietaire?.cin : '--' }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Passeport de propriétaire</h5>
                <p>{{ proprietaire?.passport != '' ? proprietaire?.passport : '--'  }}</p>
            </div>
            <div class="col-lg-6">
                <h5 class="main-txt">Carte séjour de propriétaire</h5>
                <p>{{ proprietaire?.carte_sejour != '' ? proprietaire?.carte_sejour : '--' }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Adresse</h5>
                <p>{{ proprietaire?.adresse != '' ? proprietaire?.adresse : '--' }}</p>
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>
    <div class="main-card p-lg-4 mt-4 table-responsive bg-white col-lg-7 ms-5">
        <div class="row">
            <div class="col-lg-4">
                <h5 class="main-txt">Télephone</h5>
                <p>{{ proprietaire?.telephone != '' ? proprietaire?.telephone : '--' }}</p>
            </div>
            <div class="col-lg-4">
                <h5 class="main-txt">Fax</h5>
                <p>{{ proprietaire?.fax != '' ? proprietaire?.fax : '--' }}</p>
            </div>
            <div class="col-lg-4">
                <h5 class="main-txt">Raison sociale</h5>
                <p>{{ proprietaire?.raison_social != '' ? proprietaire?.raison_social : '--' }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <h5 class="main-txt">N° compte bancaire</h5>
                <p>{{ proprietaire?.n_compte_bancaire != '' ? proprietaire?.n_compte_bancaire : '--' }}</p>
            </div>
            <div class="col-lg-4">
                <h5 class="main-txt">Banque</h5>
                <p>{{ proprietaire?.banque != '' ? proprietaire?.banque : '--' }}</p>
            </div>
            <div class="col-lg-4">
                <h5 class="main-txt">Nom de l'agence bancaire</h5>
                <p>{{ proprietaire?.nom_agence_bancaire != '' ? proprietaire?.nom_agence_bancaire : '--' }}</p>
            </div>
            <div class="col-lg-4">
                <h5 class="main-txt">Montant de loyer</h5>
                <p>{{ proprietaire?.montant_loyer}}</p>
            </div>
            <div class="col-lg-4">
                <h5 class="main-txt">Banque RIB</h5>
                <p>{{ proprietaire?.banque_rib != '' ? proprietaire?.banque_rib : '--' }}</p>
            </div>
            <div class="col-lg-4">
                <h5 class="main-txt">Ville RIB</h5>
                <p>{{ proprietaire?.ville_rib != '' ? proprietaire?.ville_rib : '--' }}</p>
            </div>
        </div>

        <div class="row">
            
            <div class="col-lg-4">
                <h5 class="main-txt">Clé RIB</h5>
                <p>{{ proprietaire?.cle_rib != '' ? proprietaire?.cle_rib : '--' }}</p>
            </div>
            <div class="col-lg-4">
                <h5 class="main-txt">Taux de l'impôt</h5>
                <p>{{ proprietaire?.taux_impot != '' ? proprietaire?.taux_impot : '--' }}</p>
            </div>
            <div class="col-lg-4">
                <h5 class="main-txt">Retenue à la source</h5>
                <p>{{ proprietaire?.retenue_source != '' ? proprietaire?.retenue_source : '--' }}</p>
            </div>
            <div class="col-lg-4">
                <h5 class="main-txt">Montant aprés impôt</h5>
                <p>{{ proprietaire?.montant_apres_impot}}</p>
            </div>
            
        </div>
    </div>


</div>

<!-- <div *ngIf="mandataire">
    <div class="main-card p-lg-4 mt-4 table-responsive bg-white col-lg-12">
        Mandataire inputs
        <h3 class="main-title my-4">Mandataire</h3>
        <div *ngFor="let mdtr of mandataire;let i = index" class="row mt-3">
            <h5 class="main-title">Mandataire {{i + 1}}</h5>
            <div class="col-lg-4">
                <h5 class="main-txt">CIN Mandataire</h5>
                <p>{{ mdtr?.cin_mandataire != '' ? mdtr?.cin_mandataire : '--' }}</p>
            </div>
            <div class="col-lg-4">
                <h5 class="main-txt">Raison sociale Mandataire </h5>
                <p>{{ mdtr?.raison_social_mandataire != '' ? mdtr?.raison_social_mandataire : '--'}}</p>
            </div>
            <div class="col-lg-4">
                <h5 class="main-txt">Nom et prénom de Mandataire</h5>
                <p>{{ mdtr?.nom_prenom_mandataire != '' ? mdtr?.nom_prenom_mandataire : '--'}}</p>
            </div>
            <div class="col-lg-4">
                <h5 class="main-txt">Téléphone de Mandataire</h5>
                <p>{{ mdtr?.telephone_mandataire != '' ? mdtr?.telephone_mandataire : '--'}}</p>
            </div>
            <div class="col-lg-4">
                <h5 class="main-txt">Fax de Mandataire</h5>
                <p>{{ mdtr?.fax_mandataire != '' ? mdtr?.fax_mandataire : '--'}}</p>
            </div>
            <div class="col-lg-4">
                <h5 class="main-txt">Adresse Mandataire</h5>
                <p>{{ mdtr?.adresse_mandataire != '' ? mdtr?.adresse_mandataire : '--'}}</p>
            </div>

            <div class="col-lg-4">
                <h5 class="main-txt">N° compte bancaire Mandataire</h5>
                <p>{{ mdtr?.n_compte_bancaire_mandataire != '' ? mdtr?.n_compte_bancaire_mandataire : '--'}}</p>
            </div>
        </div>
    </div> 
</div>-->