<div class="row title">
    <div class="col-lg-12 mt-3">
        <div class="d-flex justify-content-between">
            <!-- <h3 class="leftborder"></h3> -->
            <h3 class="main-text">Détails de propriétaire</h3>
            <a href="#" class="btn main-btn"><i class="fal fa-info"></i></a>
        </div>
    </div>
</div>


<div class="mt-4 table-responsive">

    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
       <tbody>
        <tr>
            <th>CIN de propriétaire</th>
            <td>BH5552</td>
        </tr>

        <tr>
            <th>Passeport de propriétaire</th>
            <td>BH5552</td>
        </tr>

        <tr>
            <th>Carte séjour de propriétaire</th>
            <td>BH5552</td>
        </tr>

        <tr>
            <th>Nom et prénom de proprietaire</th>
            <td>BH5552</td>
        </tr>

        <tr>
            <th>Raison sociale</th>
            <td>BH5552</td>
        </tr>

        <tr>
            <th>Télephone</th>
            <td>BH5552</td>
        </tr>

        <tr>
            <th>Fax</th>
            <td>BH5552</td>
        </tr>

        <tr>
            <th>Adresse</th>
            <td>BH5552</td>
        </tr>

        <tr>
            <th>N° compte bancaire</th>
            <td>BH5552</td>
        </tr>

        <tr>
            <th>Banque</th>
            <td>BH555gsdddddddddddddddddddddddddddddddddf2</td>
        </tr>

        <tr>
            <th>Nom de l'agence bancaire</th>
            <td>BH5552</td>
        </tr>

        <tr>
            <th>CIN Mandataire</th>
            <td>BH5552</td>
        </tr>

        <tr>
            <th>Raison sociale Mandataire </th>
            <td>BH5552</td>
        </tr>

        <tr>
            <th>Nom et prénom de Mandataire</th>
            <td>BH5552</td>
        </tr>

        <tr>
            <th>Téléphone de Mandataire</th>
            <td>BH5552</td>
        </tr>

        <tr>
            <th>Fax de Mandataire</th>
            <td>BH5552</td>
        </tr>

        <tr>
            <th>Adresse Mandataire</th>
            <td>BH5552</td>
        </tr>

        <tr>
            <th>N° compte bancaire Mandataire</th>
            <td>BH5552</td>
        </tr>



       </tbody>
        
    </table>


</div>
