<p>pv-form works!</p>
	Code PDV : C’est le code attribué au Point de Vente (information unique et obligatoire) - systématique après saisie de l’intitulé si le Point de Vente est déjà codifié-
	Point de Vente : C’est l’intitulé du Point de Vente (Information unique et obligatoire)
	Supervision : C’est l’intitulé de la Supervision (liste déroulante)
	Code SUP : C’est le code de la Supervision à laquelle est rattaché le Point de Vente (Information obligatoire) - systématique après saisie de l’intitulé -
	Direction Régionale : C’est l’intitulé de la Direction Régionale (liste déroulante)
	Code DR : C’est le code de la Direction Régionale à laquelle est rattachée le Point de Vente (information obligatoire)
	Adresse Point de Vente : C’est l’adresse actuelle du Point de Vente
	Ville
	Catégorie du Point de Vente : c’est le classement attribué au Point de Vente
	Code localité : code attribué par BAM
	Etage : niveau
	Etat des lieux à l’entrée : 
•	Descriptif du local 
•	Intégration des images correspondant au local avant aménagement
	Aménagement : oui/non
•	Nature des travaux d’aménagement : construction / démolition / plomberie / peinture/ menuiserie / électricité
•	Montant des travaux d’aménagement
•	Valeur et nature des travaux à la charge du propriétaire (facultatif)
•	Valeur et nature des travaux à la charge de la Fondation
•	N° de facture
•	N° de bon de commande
•	Date de passation de la commande
•	Fournisseur
•	Evaluation du fournisseur
•	Date de fin des travaux
•	Date de livraison du local
•	Intégration des images correspondant au local après aménagement
•	Intégration du croquis d’aménagement via imagerie
	Superficie
	Téléphone 
	Fax
