<div class="row title">
  <div class="col-lg-12 mt-3">
    <div class="d-lg-flex justify-content-lg-between">
      <h5 class="main-title">Point de vente</h5>
      <div>
        <a [routerLink]="['/lieux/list']" class="btn btn-sm main-btn">Voir la liste des points de vente</a>
        <a class="text-dark ms-5" data-bs-toggle="tooltip" data-bs-placement="top"
          title="Ici vous pouvez ajouter une nouvelle point de vente"><i class="fal fa-info"></i></a>
      </div>
    </div>
  </div>
</div>

<!--Début de conteneur pv-form  -->
<div class="mt-4">
  <!-- <h6>Remplissage des données</h6> -->

  <!--Début de Div qui contient le formulaire pv-form-->
  <div class="form-box mt-4">
    <!--Début Formulaire pv-form-->
    <form [formGroup]="PvForm" enctype="multipart/form-data" (ngSubmit)="Lieu == '' ? addPv() : updatePv()">
      <div class="w-100 d-flex justify-content-center">
        <div *ngIf="errors" class="error-alert p-2 my-2">{{ errors }}</div>
        <div *ngIf="postDone" class="done-alert p-2 my-2">{{ PostSucces }}</div>
        <div *ngIf="updateDone" class="done-alert p-2 my-2">
          {{ updateSucces }}
        </div>
      </div>

      <!--Début 1er Row-->
      <div class="row">
        <div class="col-lg-3 form-group mt-4">
          <label for="">Code point de vente <span class="danger-txt">*</span></label>
          <input type="text" class="form-control rounded-pill" formControlName="code_lieu" required [ngClass]="{
              'is-invalid': checkInputsValidation(code_lieu),
              'is-valid': !code_lieu?.invalid
            }" />
          <div class="" *ngIf="checkInputsValidation(code_lieu)">
            <p class="danger-txt" *ngIf="code_lieu?.errors?.required">
              Veuillez remplir ce champ
            </p>
            <p class="danger-txt" *ngIf="code_lieu?.errors?.pattern">
              Vous devez entrer seulement des chiffres
            </p>
            <p class="danger-txt" *ngIf="code_lieu?.errors?.maxlength">
              Ce champ ne doit pas dépasser 3 caractères
            </p>
          </div>
        </div>

        <div class="col-lg-3 form-group mt-4">
          <label for="">Point de Vente <span class="danger-txt">*</span></label>
          <input type="text" class="form-control rounded-pill" formControlName="intitule_lieu" [ngClass]="{
              'is-invalid': checkInputsValidation(intitule_lieu),
              'is-valid': !intitule_lieu?.invalid
            }" />
          <div class="" *ngIf="checkInputsValidation(intitule_lieu)">
            <p class="danger-txt" *ngIf="intitule_lieu?.errors?.required">
              Veuillez remplir ce champ
            </p>
          </div>
        </div>


        <div class="col-lg-3 form-group mt-4">
          <label for="">Code supervision <span class="danger-txt">*</span></label>
          <p *ngIf="!Sup" class="danger-txt">
            Une erreur s'est produite, veuillez réessayer plus tard.
          </p>
          <select *ngIf="Sup" class="form-select rounded-pill" (change)="displayIntituleSup()" formControlName="code_rattache_SUP" [ngClass]="{
              'is-invalid': checkInputsValidation(code_rattache_SUP),
              'is-valid': !code_rattache_SUP?.invalid
            }">
            <option [value]="'---'">
              ---
            </option>
            <option [value]="supItem.code_lieu" *ngFor="let supItem of Sup">
              {{ supItem.code_lieu }}
            </option>
          </select>
          <div class="" *ngIf="checkInputsValidation(code_rattache_SUP)">
            <p class="danger-txt" *ngIf="code_rattache_SUP?.errors?.required">
              Veuillez remplir ce champ
            </p>
          </div>
        </div>


        <div class="col-lg-3 form-group mt-4">
          <label for="">Supervision</label>
          <input type="text" class="form-control rounded-pill" [value]="intitule_rattache_SUP" readonly>
          <!-- <p *ngIf="!Sup" class="danger-txt">
            Une erreur s'est produite, veuillez réessayer plus tard.
          </p>
          <select *ngIf="Sup" class="form-select rounded-pill" formControlName="intitule_rattache_SUP_PV">
            <option [value]="'---'"  >
              ---
            </option>
            <option [value]="supItem._id" *ngFor="let supItem of Sup">
              {{ supItem.intitule_lieu }}
            </option>
          </select> -->
        </div>

        <div class="col-lg-3 form-group mt-4">
          <label for="">Code de direction régionale <span class="danger-txt">*</span></label>
          <p *ngIf="!Dr" class="danger-txt">
            Une erreur s'est produite, veuillez réessayer plus tard.
          </p>
          <select *ngIf="Dr" class="form-select rounded-pill" (change)="displayIntituleDR()" formControlName="code_rattache_DR" [ngClass]="{
              'is-invalid': checkInputsValidation(code_rattache_DR),
              'is-valid': !code_rattache_DR?.invalid
              
            }">
            <option [value]="'---'" selected >
              ---
            </option>
            <option [value]="drItem.code_lieu" *ngFor="let drItem of Dr">
              {{ drItem.code_lieu }}
            </option>
          </select>
          <div class="" *ngIf="checkInputsValidation(code_rattache_DR)">
            <p class="danger-txt" *ngIf="code_rattache_DR?.errors?.required">
              Veuillez remplir ce champ
            </p>
          </div>
        </div>
        <div class="col-lg-3 form-group mt-4">
          <label for="">Direction régionale</label>
          <input type="text" class="form-control rounded-pill" [value]="intitule_rattache_DR" readonly>
        </div>

        <div class="col-lg-3 form-group mt-4">
          <label for="">Catégorie du Point de Vente</label>
          <input type="text" class="form-control rounded-pill" formControlName="categorie_pointVente" />
        </div>

        <div class="col-lg-3 form-group mt-4">
          <label for="">Code localité</label>
          <input type="text" class="form-control rounded-pill" formControlName="code_localite" />
        </div>
        
        <div class="col-lg-3 form-group mt-4">
          <label for="">Fax</label>
          <input type="text" class="form-control rounded-pill" formControlName="fax"
          [ngClass]="{
            'is-invalid': checkInputsValidation(fax)
          }"/>
          <div class="" *ngIf="checkInputsValidation(fax)">
            <p class="danger-txt" *ngIf="fax?.errors?.maxlength">
              Ce champ ne doit pas dépasser 10 caractères
            </p>
            <p class="danger-txt" *ngIf="fax?.errors?.pattern">
              Vous devez entrer seulement des chiffres
            </p>
          </div>
        </div>
        
        <div class="col-lg-3 form-group mt-4">
          <label for="">Téléphone</label>
          <input type="text" class="form-control rounded-pill" formControlName="telephone"
          [ngClass]="{
            'is-invalid': checkInputsValidation(telephone)
          }"/>
          <div class="" *ngIf="checkInputsValidation(telephone)">
            <p class="danger-txt" *ngIf="telephone?.errors?.maxlength">
              Ce champ ne doit pas dépasser 10 caractères
            </p>
            <p class="danger-txt" *ngIf="telephone?.errors?.pattern">
              Vous devez entrer seulement des chiffres
            </p>
          </div>
        </div>
      </div>
      <!--Fin de 1er Row -->

      <div class="form-group mt-5 col-lg-2 d-flex">
        <button type="submit" class="btn second-btn form-control" *ngIf="Lieu != ''">
          Modifier
        </button>
        <button type="submit" class="btn second-btn form-control" *ngIf="Lieu == ''">
          Ajouter
        </button>
      </div>
    </form>
    <!-- Fin de formulaire-->
  </div>
  <!--Fin Div form pv-form-->
</div>
<!--Fin de Conteneur pv-form-->