@use '../helpers' as *;


//  Main button 
.main-btn {
    background: color(light);
    box-shadow: $btn-box-shadow;
    color: color(dark);
    border-radius: $main-border-radius !important;
    border: 0.1em solid color(light) ;

    &:hover {
        background: color(main-color);
        color: color(light) !important;
    }
}

// Second button
.second-btn {
    background: color(main-color) !important;
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;
    border: 0.1em solid color(main-color) !important;

    &:hover {
        background: color(light) !important;
        color: color(dark) !important;
        border: 0.1em solid color(main-color);
    }
}


// Costumize the danger button
.danger-btn {
    background: color(danger);
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;
    &:hover {
        background: color(dark);
        color: color(light) !important;
    }
}

// Costumize the success button
.success-btn {
    background: color(success) !important;
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;

    &:hover {
        background: color(dark) !important;
        color: color(light) !important;
    }
}


// Costumize the info button
.info-btn {
    background: color(info);
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;

    &:hover {
        background: color(dark);
        color: color(light) !important;
    }
}

// Dark button
.dark-btn {
    background: color(dark-body);
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;

    &:hover {
        background: color(dark);
        color: color(light) !important;
    }
}

// Sub menu buttons
.sub-menu-btn {
    color: color(dark);

    &::before {
        content: "â¯";
        margin-right: 5px;
        color: color(main-color);
    }
}

//background succes
.bag-succes{
    background: color(success) !important;
    color: color(light) !important;
}

//background danger 
.bag-danger{
    background: color(danger) !important;
    color: color(light) !important;
}

//background second
.bag-second{
    background: color(main-color) !important;
    color: color(light) !important;
}

//background info
.bag-info{
    background: color(info) !important;
    color: color(light) !important;
}

.isDisabled {
    cursor: default;
    pointer-events: none;
    background: color(dark);
    color: color(light) !important;
  }
//   .isDisabled > a {
//     color: currentColor;
//     display: inline-block;  /* For IE11/ MS Edge bug */
//     pointer-events: none;
//     text-decoration: none;
//   }

