@use '../helpers' as *;

.main-btn {
    background: color(light);
    box-shadow: $btn-box-shadow;
    color: color(dark);
    border-radius: $main-border-radius !important;

    &:hover {
        background: color(main-color);
        color: color(light) !important;
    }
}

.second-btn {
    background: color(main-color) !important;
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;

    &:hover {
        background: color(light) !important;
        color: color(dark) !important;
        border: 0.1em solid color(main-color);
    }
}

.danger-btn {
    background: color(danger);
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;

    &:hover {
        background: color(dark);
        color: color(light) !important;
    }
}

.success-btn {
    background: color(success);
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;

    &:hover {
        background: color(dark);
        color: color(light) !important;
    }
}

.info-btn {
    background: color(info);
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;

    &:hover {
        background: color(dark);
        color: color(light) !important;
    }
}

.sub-menu-btn {
    color: color(dark) !important;

    &::before {
        content: "❯";
        margin-right: 5px;
        color: color(main-color) !important;
    }
}
