@use '../helpers' as *;

.main-btn {
    background: color(light);
    box-shadow: $btn-box-shadow;
    color: color(dark) ;
    border-radius: $main-border-radius !important;

    &:hover {
        background: color(main-color);
        color: color(light) !important;
    }
}

.second-btn {
    background: color(main-color) !important;
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;

    &:hover {
        background: color(light);
        color: color(dark) !important;
        border: .1em solid color(main-color);
    }
}

.danger-btn {
    background: color(danger);
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;

    &:hover {
        background: color(dark);
        color: color(light) !important;
    }
}


.msg-error{
color: color(danger);
}
