<div class="row title">
    <div class="col-lg-12 mt-3">
        <div class="d-lg-flex justify-content-lg-between">
            <h5 class="main-title">Gestion des contrats de bail</h5>
            <div>
                <a [routerLink]="['/contrat/list-global/list']" class="btn btn-sm main-btn me-4">Voir la liste des contrats</a>
                <a lass="text-dark ms-5" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Ici vous pouvez ajouter une nouvelle direction régionale"><i class="fal fa-info"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="mt-4">
    <h6>Remplissage des données</h6>
    <div class="form-box mt-4">
        <app-form-contrat></app-form-contrat>
    </div>
</div>