<div class="row title">
    <div class="col-lg-12 mt-3">
        <div class="d-lg-flex justify-content-lg-between">
            <h3 class="main-title">Notifications</h3>
            <div>
                <a [routerLink]="['/']" class="btn btn-sm main-btn me-4">Aller au dashboard</a>
                <a lass="text-dark ms-5" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Ici vous pouvez consulter les notifications et les alerts"><i class="fal fa-info"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="my-5">
    <coming-soon></coming-soon>
</div>
