<div class="row title">
  <div class="col-lg-12 mt-3">
    <div class="d-lg-flex justify-content-lg-between">
      <h5 class="main-title">Siège</h5>
      <!-- <div>
        <a [routerLink]="['/lieux/list']" class="btn btn-sm main-btn">Voir la liste des siège</a>
        <a href="#" class="btn main-btn ms-3" data-bs-toggle="tooltip" data-bs-placement="top"
          title="Ici vous pouvez ajouter un nouveau siège"><i class="fal fa-info"></i></a>
      </div> -->
    </div>
  </div>
</div>

<!--Début de conteneur siege-form  -->
<div class="mt-4">
  <!-- <h6>Remplissage des données</h6> -->

  <!--Début de Div qui contient le formulaire siege-form-->
  <div class="form-box mt-4">
    <!--Début Formulaire siege-form-->
    <form [formGroup]="siegeForm" (ngSubmit)="(Lieu == '') ? onAddsiege() : updateSg()" enctype="multipart/form-data">

      <!-- Message d'ERREUR de serveur -->
      <div class="w-100 d-flex justify-content-center">
        <div *ngIf="errors" class="error-alert p-2 my-2">{{ errors }}</div>
        <div *ngIf="postDone" class="done-alert p-2 my-2">{{ PostSucces }}</div>
        <div *ngIf="updateDone" class="done-alert p-2 my-2">{{ updateSucces }}</div>
      </div>

      <!--Début 1er Row-->
      <div class="row">
        <div class="col-lg-3 form-group mt-4">
          <label for="">Code de l’immeuble </label>
          <input type="text" class="form-control rounded-pill" formControlName="code_lieu"
          [ngClass]="{
            'is-invalid': checkInputsValidation(code_lieu),
            'is-valid': !code_lieu?.invalid
          }"/>
          <div class="" *ngIf="checkInputsValidation(code_lieu)">
            <p class="danger-txt" *ngIf="code_lieu?.errors?.required">
              Veuillez remplir ce champ
            </p>
            <p class="danger-txt" *ngIf="code_lieu?.errors?.pattern">
              Vous devez entrer seulement des chiffres
            </p>
            <p class="danger-txt" *ngIf="code_lieu?.errors?.maxlength">
              Ce champ ne doit pas dépasser 3 caractères
            </p>
          </div>
        </div>

        <div class="col-lg-3 form-group mt-4">
          <label for="">Centre de coût</label>
          <input type="text" class="form-control rounded-pill" formControlName="centre_cout_siege" />
        </div>

        <div class="col-lg-3 form-group mt-4">
          <label for="">Immeuble</label>
          <input type="text" class="form-control rounded-pill" formControlName="intitule_lieu"
          [ngClass]="{
            'is-invalid': checkInputsValidation(intitule_lieu),
            'is-valid': !intitule_lieu?.invalid
          }"/>
          <div class="" *ngIf="checkInputsValidation(intitule_lieu)">
            <p class="danger-txt" *ngIf="intitule_lieu?.errors?.required">
              Veuillez remplir ce champ
            </p>
          </div>
        </div>

        <div class="col-lg-3 form-group mt-4">
          <label for="">Téléphone</label>
          <input type="text" class="form-control rounded-pill" formControlName="telephone" 
          [ngClass]="{
            'is-invalid': checkInputsValidation(telephone)
          }"/>
          <div class="" *ngIf="checkInputsValidation(telephone)">
            <p class="danger-txt" *ngIf="telephone?.errors?.maxlength">
              Ce champ ne doit pas dépasser 10 caractères
            </p>
            <p class="danger-txt" *ngIf="telephone?.errors?.pattern">
              Vous devez entrer seulement des chiffres
            </p>
          </div>
        </div>


        <div class="col-lg-3 form-group mt-4">
          <label for="">Fax</label>
          <input type="text" class="form-control rounded-pill" formControlName="fax" 
          [ngClass]="{
            'is-invalid': checkInputsValidation(fax)
          }"/>
          <div class="" *ngIf="checkInputsValidation(fax)">
            <p class="danger-txt" *ngIf="fax?.errors?.maxlength">
              Ce champ ne doit pas dépasser 10 caractères
            </p>
            <p class="danger-txt" *ngIf="fax?.errors?.pattern">
              Vous devez entrer seulement des chiffres
            </p>
          </div>
        </div>
      </div>
      <!--Fin de 1er Row -->

      <div class="form-group mt-5 col-lg-2 d-flex">
        <button type="submit" class="btn second-btn form-control" *ngIf="Lieu != ''" (click)="scrollToTop()" [disabled]="siegeForm.invalid">
          Modifier
        </button>
        <button type="submit" class="btn second-btn form-control" *ngIf="Lieu == ''" (click)="scrollToTop()" [disabled]="siegeForm.invalid">
          Ajouter
        </button>
      </div>
    </form>
    <!-- Fin de formulaire-->
  </div>
  <!--Fin Div form siege-form-->
</div>
<!--Fin de Conteneur siege-form-->