<div class="main-card table-responsive-sm p-lg-3 mt-4">
    <table class="table">
        <thead>
            <tr>
                <th>Matricule</th>
                <th>Nom & Prénom</th>
                <th>Role</th>
              
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <!-- <td >{{ proprietaire._id }}</td> -->
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center">
                    <span class="p-1">
                       
                    </span>
                </td>
                <td>
                    <a class="btn btn-sm main-btn"><i
                            class="fal fa-eye"></i></a>
                    <a class="btn btn-sm info-btn mx-2"><i
                            class="far fa-user-edit"></i></a>
                    <a class="btn btn-sm danger-btn" ><i
                            class="far fa-user-minus"></i></a>
                </td>
            </tr>

          

    

        </tbody>
    </table>
</div>