<!--Début de Div qui contient le formulaire form-contrat-->
<div id="form_content" class="form-box mt-4">
  <!--Début Formulaire form-contrat-->
  <form
    [formGroup]="foncierForm"
    (ngSubmit)="foncier === '' ? addFoncier() : updateFoncier()"
  >
    <div class="w-100 d-flex justify-content-center">
      <div *ngIf="errors" class="error-alert p-2 my-2">{{ errors }}</div>
      <div *ngIf="postDone" class="done-alert p-2 my-2">{{ PostSucces }}</div>
      <div *ngIf="updateDone" class="done-alert p-2 my-2">
        {{ updateSucces }}
      </div>
    </div>

    <!--Début 1er Row-->
    <div class="row" *ngIf="!update">
      <div class="col-lg-4 form-group mt-4">
        <label for=""
          >Type d'entité organisationnelle
          <span class="danger-txt">*</span></label
        >
        <select
          class="form-select rounded-pill"
          formControlName="type_lieu"
          [(ngModel)]="selectedType"
          (change)="getLieuxByType(selectedType)"
          [ngClass]="{
            'is-invalid': checkInputsValidation(type_lieu),
            'is-valid': !type_lieu?.invalid
          }"
        >
          <option *ngFor="let type of types" [value]="type.name">
            {{ type.name }}
          </option>
        </select>
        <div class="" *ngIf="checkInputsValidation(type_lieu)">
          <p class="danger-txt" *ngIf="type_lieu?.errors?.required">
            Veuillez remplir ce champ
          </p>
        </div>
      </div>

      <div class="col-lg-4 form-group mt-4">
        <label for=""
          >Code d'entité organisationnelle
          <span class="danger-txt">*</span></label
        >
        <select
          class="form-select rounded-pill"
          formControlName="lieu"
          (change)="getIntitulerLieu()"
          [(ngModel)]="selectedLieuId"
          [ngClass]="{
            'is-invalid': checkInputsValidation(lieu),
            'is-valid': !lieu?.invalid
          }"
        >
          <option [value]="lieu._id" *ngFor="let lieu of lieuxByType">
            {{
              lieu.type_lieu === "Logement de fonction"
                ? lieu.attached_DR.code_lieu
                : lieu.code_lieu
            }}
          </option>
        </select>
        <div class="" *ngIf="checkInputsValidation(lieu)">
          <p class="danger-txt" *ngIf="lieu?.errors?.required">
            Veuillez remplir ce champ
          </p>
        </div>
      </div>

      <div class="col-lg-4 form-group mt-4">
        <label for="">Intitulé d'entité organisationnelle</label>
        <input
          type="text"
          class="form-control rounded-pill"
          [value]="Intituler_lieu"
          readonly
        />
      </div>

      <div class="col-lg-4 form-group mt-4">
        <label for="">Superficie</label>
        <input
          type="text"
          class="form-control rounded-pill"
          formControlName="superficie"
        />
      </div>

      <div class="col-lg-4 form-group mt-4">
        <label for="">Ville <span class="danger-txt">*</span></label>
        <p *ngIf="!cities.length" class="danger-txt">
          Une erreur s'est produite, veuillez réessayer plus tard.
        </p>
        <select
          *ngIf="cities.length"
          class="form-select rounded-pill"
          formControlName="ville"
          [ngClass]="{
            'is-invalid': checkInputsValidation(ville),
            'is-valid': !ville?.invalid
          }"
        >
          <option *ngFor="let city of cities" [value]="city.name">
            {{ city.name }}
          </option>
        </select>
        <div class="" *ngIf="checkInputsValidation(ville)">
          <p class="danger-txt" *ngIf="ville?.errors?.required">
            Veuillez selectionner une ville
          </p>
        </div>
      </div>

      <div class="col-lg-4 form-group mt-4">
        <label for="">Etage</label>
        <input
          type="text"
          class="form-control rounded-pill"
          formControlName="etage"
        />
      </div>

      <div class="col-lg-12 form-group mt-4">
        <label for="">Adresse <span class="danger-txt">*</span></label>
        <textarea
          type="text"
          class="form-control"
          formControlName="adresse"
          [ngClass]="{
            'is-invalid': checkInputsValidation(adresse),
            'is-valid': !adresse?.invalid
          }"
        ></textarea>
        <div class="" *ngIf="checkInputsValidation(adresse)">
          <p class="danger-txt" *ngIf="adresse?.errors?.required">
            Veuillez remplir ce champ
          </p>
        </div>
      </div>

      <div class="col-lg-12 form-group mt-4">
        <label for="">Descriptif du local</label>
        <textarea
          type="text"
          class="form-control"
          formControlName="desc_lieu_entrer"
        ></textarea>
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Images du local avant aménagement</label>
        <input
          type="file"
          class="form-control btn success-btn"
          formControlName="imgs_lieu_entrer"
          accept=".pdf"
          (change)="onFileSelected($event,'imgs_lieu_entrer')"
          multiple
        />
      </div>

      <div class="mt-4">Aménagement</div>
      <div class="col-lg-3 form-group d-flex mt-2">
        <label for="">Oui</label>
        <input
          type="radio"
          name="has_amenagements"
          [value]="true"
          class="form-check-input mx-2"
          [(ngModel)]="hasAmenagement"
          formControlName="has_amenagements"
          (click)="hasAmengmnt('Oui')"
        />
        <label for="">Non</label>
        <input
          type="radio"
          name="has_amenagements"
          [value]="false"
          class="form-check-input mx-2"
          [(ngModel)]="hasAmenagement"
          formControlName="has_amenagements"
          (click)="hasAmengmnt('Non')"
        />
      </div>

      <!-- Condition pour afficher ou cacher le formulaire de Aménagement -->
      <div *ngIf="hasAmenagement; then amenagement"></div>
    </div>

    <!--Début 2éme Row -->
    <div class="row mt-5">
      <!--Début de Div Aménagement Qui contient(Title+divForm+Form)-->
      <ng-template #amenagement>
        <!--Grand Titre Aménagement -->
        <div class="row mt-4">
          <div class="margin-main col-lg-12 mt-3">
            <div class="d-flex justify-content-between">
              <h4 class="main-text">Aménagement</h4>
              <a
                (click)="addAmenagement('NewAmng', false)"
                class="btn second-btn"
                >Ajouter amenagement</a
              >
            </div>
          </div>
        </div>

        <!--Début de Conteneur Aménagement-->
        <div
          formArrayName="amenagementForm"
          *ngFor="let item of amenagementForm.controls; let i = index"
        >
          <div
            class="main-card mt-4 bg-white p-lg-4"
            *ngIf="!amenagementForm.controls[i].value.deleted"
            [formGroupName]="i"
            id="{{ i }}"
          >
            <h6 class="main-title">Aménagement {{ i + 1 }}</h6>
            <a
              (click)="removeAmenagement(i)"
              class="btn btn-sm danger-btn float-end"
              ><i class="fal fa-trash"></i
            ></a>
            <div class="row">
              <input
                type="hidden"
                ngModel="{{
                  update && amenagementForm.controls[i].value.idm.length !== 0
                    ? amenagementForm.controls[i].value.idm
                    : idm + i + imageExtension
                }}"
                class="form-control rounded-pill"
                formControlName="idm"
              />

              <div class="row mt-4">
                <label for="">Nature des travaux d’aménagement</label>
                <div class="col-lg-3 form-group d-flex">
                  <div *ngFor="let nature of amenagementForm.controls[i].value.nature_amenagement">
                    <input type="checkbox" [name]="nature.id + '-' + i" class="btn-check check" [id]="nature.id + '-' + i"
                      autocomplete="off" [value]="nature.name"
                      (change)="checkValue(amenagementForm.controls[i], nature.id + '-' + i)" [checked]="nature.checked">
                   <label class="px-3 py-1 rounded-pill checkbox-list-btns mx-2" [for]="nature.id + '-' + i">
                    {{ nature.name }}
                   </label>
                  </div>
                </div>
              </div>
              
              <!-- && amenagementForm.controls[i].value.idm.length !==== 0  -->
         <div class="row">
          <div class="col-lg-4 form-group mt-4">
            <label for="">Montant des travaux d’aménagement</label>
            <input
              type="text"
              class="form-control rounded-pill"
              formControlName="montant_amenagement"
            />
          </div>

          <div class="col-lg-4 form-group mt-4">
            <label for="">N° de facture</label>
            <input
              type="text"
              class="form-control rounded-pill"
              formControlName="numero_facture"
            />
          </div>
          <div class="col-lg-4 form-group mt-4">
            <label for="">N° de bon de commande</label>
            <input
              type="text"
              class="form-control rounded-pill"
              formControlName="numero_bon_commande"
            />
          </div>

          <div class="col-lg-4 form-group mt-4">
            <label for=""
              >Valeur et nature des travaux à la charge du propriétaire
              </label
            >
            <input
              type="text"
              class="form-control rounded-pill"
              formControlName="valeur_nature_chargeProprietaire"
            />
          </div>

          <div class="col-lg-5 form-group mt-4">
            <label for=""
              >Valeur et nature des travaux à la charge de la
              Fondation</label
            >
            <input
              type="text"
              class="form-control rounded-pill"
              formControlName="valeur_nature_chargeFondation"
            />
          </div>

          <div class="col-lg-3 form-group mt-4">
            <label for="">Raison sociale fournisseur</label>
            <input
              type="text"
              class="form-control rounded-pill"
              formControlName="fournisseur"
            />
          </div>

         </div>

         <!-- <div class="row"> -->

              <!-- <div class="col-lg-12 form-group my-4">
                <label for="">Fournisseur</label>
                <a
                  *ngIf="!amenagementForm.controls[i].value.has_fournisseur"
                  (click)="toggelFournisseur(true, amenagementForm, i, 0)"
                  class="btn btn-sm second-btn mx-2 mx-lg-4"
                  >Ajouter fournisseur</a
                >
                <div
                  formArrayName="fournisseur"
                  *ngFor="
                    let item of getFournisseur(amenagementForm, i);
                    let j = index
                  "
                >
                  <div
                    [formGroupName]="j"
                    *ngIf="
                      !amenagementForm.controls[i].value.fournisseur[j].deleted
                    "
                    class="main-card mt-4 bg-white p-lg-4"
                  >
                    <a
                      (click)="toggelFournisseur(false, amenagementForm, i, j)"
                      class="btn btn-sm danger-btn float-end"
                      ><i class="fal fa-trash"></i
                    ></a>
                    <div class="row">
                      <div class="col-lg-3 form-group">
                        <label for="">Raison sociale</label>
                        <input
                          type="text"
                          class="form-control rounded-pill"
                          formControlName="nom"
                        />
                      </div>
                      <input
                        type="hidden"
                        id="{{ 'deleted ' + i + ' ' + j }}"
                        formControlName="deleted"
                      />
                    </div>
                  </div>
                </div>
              </div> -->

              <div class="col-lg-4 form-group mt-4">
                <label for="">Evaluation du fournisseur</label>
                <input
                  type="text"
                  class="form-control rounded-pill"
                  formControlName="evaluation_fournisseur"
                />
              </div>

              <div class="col-lg-4 form-group mt-4">
                <label for="">Date de passation de la commande</label>
                <input
                  type="date"
                  class="form-control rounded-pill"
                  formControlName="date_passation_commande"
                />
              </div>

              <div class="col-lg-4 form-group mt-4">
                <label for="">Date de fin des travaux</label>
                <input
                  type="date"
                  class="form-control rounded-pill"
                  formControlName="date_fin_travaux"
                />
              </div>

              <div class="col-lg-4 form-group mt-4">
                <label for="">Date de livraison du local</label>
                <input
                  type="date"
                  class="form-control rounded-pill"
                  formControlName="date_livraison_local"
                />
              </div>

              <div class="col-lg-4 form-group mt-4">
                <label for="">Images du local après aménagement</label>
                <input
                  type="file"
                  class="form-control btn success-btn"
                  accept=".pdf"
                  formControlName="images_apres_travaux_files"
                  name="imgs_amenagement"
                  id="imgs_amenagement"
                  (change)="onFileSelectedAmenagement($event, 'imgs_amenagement', i)"
                  multiple
                  />
                </div>
                <!-- (change)="onFileSelectedAmenagement($event, 'imgs_amenagement', i)" -->
                
              <input
                type="hidden"
                class="form-control rounded-pill"
                formControlName="images_apres_travaux"
              />
              <input
                type="hidden"
                class="form-control rounded-pill"
                formControlName="croquis_travaux"
              />

              <div class="col-lg-4 form-group mt-4">
                <label for="">Croquis d’aménagement via imagerie</label>
                <input
                  type="file"
                  class="form-control btn success-btn"
                  (change)="onFileSelectedAmenagement($event, 'imgs_croquis', i)"
                  accept=".pdf"
                  name="imgs_croquis"
                  formControlName="croquis_travaux_files"
                  id="imgs_croquis"
                  multiple
                />
              </div>
            </div>
            <input
              type="hidden"
              id="{{ 'deleted ' + i }}"
              formControlName="deleted"
            />
          </div>
        </div>
        <!--Fin de Conteneur Aménagement -->
      </ng-template>
      <!--Fin de Div Aménagement (Title+divForm+Form)-->
    </div>

    <!-- </div> -->

    <!-- Entité organisationnelle (Lieu)  -->
    <div *ngIf="update && foncier?.contrat[0]?.validation2_DAJC">
      <div class="d-lg-flex justify-content-lg-between">
        <h4 class="main-text">Entité organisationnelle</h4>
      </div>

      <div class="mt-1" *ngIf="currentLieu?.etat_lieu === 'Occupé' || currentLieu?.etat_lieu === 'En cours de transfert'">
        <div class="row">
          <div class="col-lg-4 form-group mt-2">
            <label for="">Type d'entité organisationnelle</label>
            <input
              type="text"
              class="form-control rounded-pill"
              [value]="currentLieu.lieu.type_lieu"
              readonly
            />
          </div>

          <div class="col-lg-3 form-group mt-2">
            <label for="">Code d'entité organisationnelle</label>
            <!-- *ngIf="ActiveForm !== 'TransfererForm'" -->
            <input
              type="text"
              class="form-control rounded-pill"
              [value]="currentLieu.lieu.code_lieu"
              readonly
            />
            <!-- [value]="currentLieu.code_lieu" -->
            <!-- [value]="CodeLieu" -->
          </div>

          <div class="col-lg-3 form-group mt-2">
            <label for="">Intitule d'entité organisationnelle</label>
            <input
              type="text"
              class="form-control rounded-pill"
              [value]="currentLieu.lieu.intitule_lieu"
              readonly
            />
          </div>
        </div>
        <div
          class="form-group my-4 col-lg-3 d-flex"
          *ngIf="ActiveForm !== 'TransfererForm'"
        >
          <!-- A Transferer & Annuler la Transformation buttons  -->
          <button
            *ngIf="currentLieu.etat_lieu !== 'En cours de transfert'"
            type="button"
            id="Transferer"
            class="btn second-btn form-control"
            (click)="openConfirmationModal('ATransfererModalId')"
          >
            En cours de transfert
          </button>
          <button
            *ngIf="currentLieu.etat_lieu === 'En cours de transfert'"
            type="button"
            id="Transferer"
            class="btn second-btn form-control"
            (click)="openConfirmationModal('AnnulerTransféreModalId')"
          >
            Annuler le transfére
          </button>

          <!-- Supprimer button  -->
          <button
            type="button"
            id="supprimer"
            class="btn btn-sm danger-btn form-control mx-3"
            (click)="openConfirmationModal('TransfererModalId')"
          >
          Transférer définitivement cette entité 
          </button>

          <!-- Transferer modal -->
          <app-confirmation-modal [closeBtn]="true" [id]="TransfereModalId">
            <h3 class="main-title">Entité organisationnelle</h3>
            <p class="mt-3">Êtes-vous sûr de transférer définitivement cette entité ?</p>
            <div class="d-inline-flex justify-content-start mt-5">
              <a
                class="btn btn-lg px-lg-4 danger-btn me-2"
                (click)="Transferer()"
                >Oui</a
              >
              <!-- (click)="Transferer(item)" -->
              <a
                class="btn btn-lg px-lg-4 main-btn"
                (click)="closeConfirmationModal('TransfererModalId')"
                >Non</a
              >
            </div>
          </app-confirmation-modal>

          <!-- A Transferer modal -->
          <app-confirmation-modal [closeBtn]="true" [id]="ATransfereModalId">
            <h3 class="main-title">Entité organisationnelle</h3>
            <p class="mt-3">Êtes-vous sûr de transférer cette entité ?</p>
            <div class="d-inline-flex justify-content-start mt-5">
              <a
                class="btn btn-lg px-lg-4 danger-btn me-2"
                (click)="ATransferer()"
                >Oui</a
              >
              <a
                class="btn btn-lg px-lg-4 main-btn"
                (click)="closeConfirmationModal('ATransfererModalId')"
                >Non</a
              >
            </div>
          </app-confirmation-modal>

          <!-- Annuler la transformation -->
          <app-confirmation-modal
            [closeBtn]="true"
            [id]="AnnulerTransfereModalId"
          >
            <h3 class="main-title">Entité organisationnelle</h3>
            <p class="mt-3">Voulez-vous annuler ce transfére?</p>
            <div class="d-inline-flex justify-content-start mt-5">
              <a
                class="btn btn-lg px-lg-4 danger-btn me-2"
                (click)="annulerTransfere()"
                >Oui</a
              >
              <a
                class="btn btn-lg px-lg-4 main-btn"
                (click)="closeConfirmationModal('AnnulerTransfereModalId')"
                >Non</a
              >
            </div>
          </app-confirmation-modal>
        </div>
      </div>

      <!-- Add new ( lieu ) -->
      <div *ngIf="currentLieu?.etat_lieu === 'Transféré'">
        <div class="row">
          <div class="col-lg-3 form-group mt-2">
            <label for="">Type d'entité organisationnelle</label>
            <select
              class="form-select rounded-pill"
              formControlName="type_lieu"
              [(ngModel)]="selectedType"
              (change)="getLieuxByType(selectedType)"
            >
              <option *ngFor="let type of types" [value]="type.name">
                {{ type.name }}
              </option>
            </select>
          </div>

          <div class="col-lg-3 form-group mt-2">
            <label for="">Code d'entité organisationnelle</label>
            <select
              class="form-select rounded-pill"
              formControlName="lieu"
              (change)="getIntitulerLieu()"
              [(ngModel)]="selectedLieuId"
            >
              <option value="Default_option" selected>-</option>
              <option [value]="lieu._id" *ngFor="let lieu of lieuxByType">
                {{ lieu.code_lieu }}
              </option>
            </select>
          </div>

          <div class="col-lg-3 form-group mt-2">
            <label for="">Intitule d'entité organisationnelle</label>
            <input
              type="text"
              class="form-control rounded-pill bg-white"
              [value]="Intituler_lieu"
              readonly
            />
          </div>
        </div>
        <div class="form-group my-4 col-lg-4 d-flex">
          <!-- A Transferer & Annuler la Transformation buttons  -->
          <button
            type="button"
            id="Transferer"
            class="btn second-btn form-control w-50"
            (click)="addNewLocal()"
          >
            Affecter cette entité organisationnelle
          </button>
        </div>
      </div>
    </div>

    <!-- Button Ajouter -->
    <div class="form-group col-lg-2 d-flex mt-5">
      <button
        *ngIf="foncier === ''"
        type="submit"
        id="Ajouter"
        class="btn second-btn form-control mt-4"
        [disabled]="foncierForm.invalid"
        (click)="scrollToTop()"
      >
        Ajouter
      </button>
      <button
        *ngIf="foncier !== ''"
        type="submit"
        id="Modifier"
        class="btn second-btn form-control mt-4"
        (click)="scrollToTop()"
      >
        Modifier
      </button>
    </div>
  </form>

  <!-- Fin de formulaire-->
</div>
