<!-- alert de reussite -->
<div *ngIf="success" class="done-alert p-2 my-2 w-100">{{msg}}</div>
<!--Début de Div qui contient le formulaire form-contrat-->
<div class="form-box mt-4">
  <!--Début Formulaire form-contrat-->
  <form [formGroup]="foncierForm" enctype="multipart/form-data">

    <!--Début 1er Row-->
    <div class="row">
      <div class="col-lg-3 form-group mt-4">
        <label for="">Proprietaire</label>
        <input type="text" class="form-control" formControlName="proprietaire" multiple />
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Type du foncier</label>
        <input type="text" class="form-control" formControlName="type_foncier" multiple />
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Adresse</label>
        <input type="text" class="form-control" formControlName="adresse" multiple />
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Description</label>
        <input type="text" class="form-control" formControlName="description" multiple />
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Lieu</label>
        <input type="text" class="form-control" formControlName="lieu" multiple />
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Assure</label>
        <input type="text" class="form-control" formControlName="assure" multiple />
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Etat du bien</label>
        <input type="text" class="form-control" formControlName="etat_du_bien" multiple />
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Ville</label>
        <input type="text" class="form-control" formControlName="ville" multiple />
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Type du foncier</label>
        <input type="text" class="form-control" formControlName="code_postal" multiple />
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Pays</label>
        <input type="text" class="form-control" formControlName="pays" multiple />
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Montant loyer</label>
        <input type="text" class="form-control" formControlName="montant_loyer" multiple />
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Meuble equipe</label>
        <input type="text" class="form-control" formControlName="meuble_equipe" multiple />
      </div>
    </div>



    <!-- Button Ajouter -->
    <div class="form-group mt-4 col-lg-2 d-flex">
      <button *ngIf="formType==''" type="submit" id="Ajouter" class="btn second-btn form-control"
        >
        Ajouter
      </button>
      <button *ngIf="formType!=''" type="submit" id="Modifier" class="btn second-btn form-control"
        >
        Modifier
      </button>
    </div>
  </form>
  <!-- Fin de formulaire-->
