<div class="row mt-5">
  <div class="w-100 d-flex justify-content-center">
    <div *ngIf="errors" class="error-alert p-2 my-2">{{ errors }}</div>
  </div>
  <h5 class="main-title mb-3">Clôture du mois</h5>
  <div *ngIf="showClotureSection"
    class="main-card col-lg-3 col-md-9 col-sm-12 d-flex align-items-lg-center justify-content-lg-center flex-row p-4"
    [ngClass]="{
        'success-light-card-bg success-txt': isCloture,
        'danger-light-card-bg danger-txt': !isCloture
      }">
    <!-- <h4 *ngIf="!isCloture">Clôture du {{ today | date }}</h4> -->
    <h4 *ngIf="isCloture">Le mois {{ today | date : 'MMMM' | titlecase }} clôturé</h4>
    <a *ngIf="!isCloture" class="btn danger-btn" (click)="openConfirmationModal()">Clôturer le mois {{  today | date : 'MMMM' | titlecase }}</a>
  </div>

  <div *ngIf="!showClotureSection" class="cloture-skeleton"></div>
</div>

<app-confirmation-modal [closeBtn]="true">
  <h3 class="main-title">Êtes-vous sûr de vouloir clôturer ce mois?</h3>
  <div class="d-inline-flex justify-content-start mt-5">
    <a class="btn btn-lg px-lg-4 danger-btn me-2" (click)="cloture(); closeConfirmationModal()">Oui</a>
    <a class="btn btn-lg px-lg-4 main-btn" (click)="closeConfirmationModal()">Non</a>
  </div>
</app-confirmation-modal>