@use "../../../../assets/style/helpers" as *;
@use "../../../../assets/style/components" as *;

th {
  @extend .header-table;
}

section {
  width: 80vw;
}

@include mobile($min-screen, 1850px) {
  div{
      display: inline;
      flex-wrap: wrap;
      margin-bottom: 8px;
      margin-top: 5px;
  }
}