<p>lf-form works!</p>
	Matricule du Directeur Régional
	Nom et prénom du Directeur Régional
	Code DR : code de la Direction Régionale de rattachement
	Adresse
	Ville
	Code localité
	Etat des lieux à l’entrée :
•	Descriptif du local 
•	Intégration des images correspondant au local avant aménagement
	Aménagement : oui/non
•	Nature des travaux d’aménagement : construction / démolition / plomberie / peinture/ menuiserie / électricité
•	Montant des travaux d’aménagement 
•	Valeur et nature des travaux à la charge du propriétaire (facultatif)
•	Valeur et nature des travaux à la charge de la Fondation
•	N° de facture
•	N° de bon de commande
•	Date de passation de la commande
•	Fournisseur
•	Evaluation du fournisseur
•	Date de fin des travaux
•	Date de livraison du local
•	Intégration des images correspondant au local après aménagement
•	Intégration du croquis d’aménagement via imagerie

