<form  [formGroup]="adminForm" >
  
    <div class="row mt-2" >
      <div class="col-lg-4 form-group mt-2">
        <label for="">Matricule</label>
        <input type="text" id="Matricule" class="form-control rounded-pill" formControlName="Matricule"  />
      </div>
  
      <div class="col-lg-4 form-group mt-2">
        <label for="">Nom</label>
        <input type="text" id="nom" class="form-control rounded-pill" formControlName="Nom"  />
      </div>

      <div class="col-lg-4 form-group mt-2">
        <label for="">Prénom</label>
        <input type="text" id="prenom" class="form-control rounded-pill" formControlName="Prenom"  />
      </div>
   
  
     
      
    </div>
<div class="row">
  <div class="mt-5">
    <h3 class="main-title">Rôles</h3><br>
    <div class="btn-group d-flex justify-content-between" role="group" aria-label="Basic checkbox toggle button group">
    <div >
      <input type="checkbox" name="chk1" class="btn-check roles" id="role1" autocomplete="off" value="role1" (change)="CheckedRoles('role1')">
      <label class="px-5 py-1 rounded-pill checkbox-list-btns" for="role1">role 1</label>
    </div>  
    <div>
      <input type="checkbox" name="chk2" class="btn-check roles" id="role2" autocomplete="off" value="role2" (change)="CheckedRoles('role2')">
      <label class="px-5 py-1 rounded-pill checkbox-list-btns" for="role2">role 2</label>
    </div>
    <div>
      <input type="checkbox" name="chk3" class="btn-check roles" id="role3" autocomplete="off" value="role3" (change)="CheckedRoles('role3')">
      <label class="px-5 py-1 rounded-pill checkbox-list-btns" for="role3">role 3</label>
    </div>
    <div>
      <input type="checkbox" name="chk4" class="btn-check roles" id="role4" autocomplete="off" value="role4" (change)="CheckedRoles('role4')">
      <label class="px-5 py-1 rounded-pill checkbox-list-btns" for="role4">role 4</label>
    </div>
    <div>
      <input type="checkbox" name="chk5" class="btn-check roles" id="role5" autocomplete="off" value="role5" (change)="CheckedRoles('role5')">
      <label class="px-5 py-1 rounded-pill checkbox-list-btns" for="role5">role 5</label>
    </div>
    </div>
        <!-- <div class="checkbox-list">
       <label class="roles_label" for="role1">role1</label> <input class="roles" type="checkbox" name="role1" id="role1" value="role1" (change)="CheckedRoles('role1')"/>
       <label class="roles_label" for="role2">role2</label> <input class="roles" type="checkbox" name="role2" id="role2" value="role2" (change)="CheckedRoles('role2')"/>
       <label class="roles_label" for="role3">role3</label> <input class="roles" type="checkbox" name="role3" id="role3" value="role3" (change)="CheckedRoles('role3')"/>
       <label class="roles_label" for="role4">role4</label> <input class="roles" type="checkbox" name="role4" id="role4" value="role4" (change)="CheckedRoles('role4')"/>
       <label class="roles_label" for="role5">role5</label> <input class="roles" type="checkbox" name="role5" id="role5" value="role5" (change)="CheckedRoles('role5')"/>
       
    </div> -->
    
  </div>
</div>
    <div class="row">
      <button type="submit" class="btn second-btn form-control btn-submit" (click)="postUserRole(); redir();">
        Ajouter
      </button>
    </div>
  </form>