@use '../../../../assets/style/helpers' as *;
@use '../../../../assets/style/components' as *;

th {
  @extend .header-table;
}

.checkbox-list-btns {
  background-color: white;
  color: color(main-color);
  border: solid 1px color(main-color);
  box-shadow: none;
  outline: none;
  cursor: pointer !important;

  &:focus {
    border: none !important ;
    box-shadow: none !important;
  }
}

.roles:checked ~ .checkbox-list-btns {
  background-color: color(main-color);
  color: white;
  // border: solid 1px white;
  box-shadow: none;
  outline: none;
}

input[checked="false"] {
  box-shadow: none !important;
  border-style: none;
}
