<!-- Vertical navbar -->
<div class="vertical-nav" id="sidebar">
    <div class="py-4 px-3 mb-4">
        <div class="media d-flex align-items-center">
            <img src="../../../assets/images/logo/Attawfiq.jpg" alt="Attawfiq Logo" width="auto" draggable="false" loading="lazy"
                class="mr-3  img-thumbnail border-0">
        </div>
    </div>

    <ul class="nav flex-column mb-0 p-4">
        <li class="nav-item">
            <a href="#" class="nav-link main-btn">
                Tableau de bord
            </a>
        </li>
        <li class="nav-item my-4">
            <a [routerLink]="['/proprietaire']" routerLinkActive="router-link-active" class="nav-link main-btn">
                <span (click)="showSubMenu('proprietaire')">Propriétaire de locale</span>
            </a>
            <ul class="sub-menu list-unstyled" id="proprietaire">
                <li>
                    <a [routerLink]="['/proprietaire/list']" class="nav-link sub-menu-btn">
                        List
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/proprietaire/detail']" class="nav-link sub-menu-btn">
                        Détails
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link main-btn ">
                <span (click)="showSubMenu('contrat')">Contrat de bail</span>
            </a>
            <ul class="sub-menu list-unstyled" id="contrat">
                <li>
                    <a href="#" class="nav-link sub-menu-btn">
                        List
                    </a>
                </li>

            </ul>
        </li>
        <li class="nav-item my-4">
            <a href="#" class="nav-link main-btn">
                <span (click)="showSubMenu('fournisseur')">Fournisseur</span>
            </a>
            <ul class="sub-menu list-unstyled" id="fournisseur">
                <li>
                    <a href="#" class="nav-link sub-menu-btn">
                        List
                    </a>
                </li>
            </ul>
        </li>
    </ul>


</div>
<!-- End vertical navbar -->