<!-- Vertical navbar -->
<div class="vertical-nav " id="sidebar">
    <div class="px-3 mt-3">
        <a id="sidebar-collapse-mobile" class="btn bg-white border-0">
            <i class="far fa-chevron-left"></i>
        </a>
        <div class="d-flex justify-content-center w-100">
            <img src="../../../assets/images/logo/Attawfiq.jpg" alt="Attawfiq Logo" width="150px" draggable="false"
                loading="lazy" class="mr-3 img-thumbnail border-0 logo">
        </div>
        <div id="user-card-mobile" class="card border-0 mb-0 mt-3 main-card">
            <div class="card-body">
                <h6 class="mainText">
                    Ahmad Alaoui
                </h6>
                <span class="badge danger-btn">
                    Administrateur
                </span>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <div
        class="
          main-card
          main-light-card-bg
          d-flex
          justify-content-center
          align-items-center
          flex-row
          py-2
          px-3
          mx-3
          mb-4
        "
        >
        <h5 class="main-txt">{{ monthName }} {{ dateNextCloture?.annee}}</h5>
        </div>
        <ul class="nav flex-column p-4">
            <li class="nav-item">
                <a [routerLink]="['']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}"
                    class="nav-link main-btn">
                    <i class="fal fa-home"></i> Tableau de bord
                </a>
            </li>

            <li class="nav-item my-4" *ngIf="!isAdmin">
                <a href="#" routerLinkActive="router-link-active" class="nav-link main-btn" (click)="showSubMenu('entite')">
                    <span >
                        <i class="fal fa-building"></i>&nbsp;&nbsp;Entités organisat..
                    </span>
                </a>
                <ul class="sub-menu list-unstyled" id="entite">
                    <li>
                        <a [routerLink]="['/lieux']" class="nav-link sub-menu-btn">
                            Ajouter une entité organisationnelle
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/lieux/list']" class="nav-link sub-menu-btn">
                            Liste des entités organisationnelles
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item" *ngIf="!isAdmin">
                <a href="#" routerLinkActive="router-link-active" class="nav-link main-btn" (click)="showSubMenu('lieux')">
                    <span >
                        <i class="fas fa-hotel"></i>&nbsp;&nbsp;Locaux
                    </span>
                </a>
                <ul class="sub-menu list-unstyled" id="lieux">
                    <li>
                        <a [routerLink]="['/foncier']" class="nav-link sub-menu-btn">
                            Ajouter un local
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/foncier/list']" class="nav-link sub-menu-btn">
                            Liste des locaux
                        </a>
                    </li>
                    <!-- <li>
                        <a [routerLink]="['/foncier/list']" class="nav-link sub-menu-btn">
                            Ajouter un propriétaire
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/foncier/list']" class="nav-link sub-menu-btn">
                            Ajouter un contrat
                        </a>
                    </li> -->
                </ul>
            </li>

          

            <!-- <li class="nav-item my-4">
                <a [routerLink]="['/foncier']" routerLinkActive="router-link-active" class="nav-link main-btn">
                    <span (click)="showSubMenu('foncier')">Foncier</span>
                </a>
                <ul class="sub-menu list-unstyled" id="foncier">
                    <li>
                        <a [routerLink]="['/foncier/list']" class="nav-link sub-menu-btn">
                            List des fonciers
                        </a>
                    </li>

                </ul>
            </li> -->
            <li class="nav-item my-4" *ngIf="!isAdmin">
                <a [routerLink]="['/contrat/list-global/list']" routerLinkActive="router-link-active"
                    class="nav-link main-btn">
                    <i class="fal fa-file-signature"></i>&nbsp;&nbsp;Liste des contrats
                </a>
                <!-- <ul class="sub-menu list-unstyled" id="contrat">
                    <li>
                        <a [routerLink]="['/contrat/list']" class="nav-link sub-menu-btn">
                            List des contrats
                        </a>
                    </li>

                </ul> -->
            </li>

            <li class="nav-item" *ngIf="!isAdmin">
                <a [routerLink]="['/proprietaire/list-global/list']" routerLinkActive="router-link-active"
                    class="nav-link main-btn">
                    <i class="fal fa-users"></i>&nbsp;Liste des propriétaires
                </a>
                <!-- <ul class="sub-menu list-unstyled" id="proprietaire">
                    <li>
                        <a [routerLink]="['/proprietaire/list']" class="nav-link sub-menu-btn">
                            Liste des propriétaires
                        </a>
                    </li> -->
                <!-- <li>
                    <a [routerLink]="['/proprietaire/detail']" class="nav-link sub-menu-btn">
                        Détails
                    </a>
                </li> -->
                <!-- </ul> -->
            </li>

            <li class="nav-item my-4" *ngIf="!isAdmin">
                <a [routerLink]="['/reportings']" routerLinkActive="router-link-active"
                    class="nav-link main-btn">
                    <i class="far fa-file-chart-line"></i>&nbsp;&nbsp;Reportings
                </a>
            </li>
            
            <li class="nav-item" *ngIf="isCmptbl">
                <a [routerLink]="['/situation']" routerLinkActive="router-link-active" class="nav-link success-btn">
                    <i class="fal fa-copy"></i>&nbsp;&nbsp;Situation de clôture
                </a>
            </li>

            <li class="nav-item my-4" *ngIf="isCmptbl">
                <a [routerLink]="['/files']" routerLinkActive="router-link-active" class="nav-link success-btn">
                    <i class="far fa-lock"></i>&nbsp;&nbsp;Clôture et écritures
                </a>
            </li>
            
            <!-- <li *ngIf="isCmptbl" class="nav-item">
                <a [routerLink]="['/files']" routerLinkActive="router-link-active" class="nav-link success-btn">
                    <i class="far fa-file-export"></i>&nbsp;&nbsp;Ecritures
                </a>
            </li> -->
            
            
            <!-- <li class="nav-item" *ngIf="isCmptbl">
                <a [routerLink]="['/files']" routerLinkActive="router-link-active" class="nav-link success-btn">
                   Télédéclaration annuelle
                </a>
            </li> -->


            <li *ngIf="isAdmin" class="nav-item my-4">
                <a [routerLink]="['/admin']" routerLinkActive="router-link-active" class="nav-link danger-btn">
                    <i class="far fa-user-shield"></i>&nbsp;&nbsp;Administration
                </a>
                <!-- <ul class="sub-menu list-unstyled" id="admin">
                    <li>
                        <a href="#" class="nav-link sub-menu-btn">
                            List des utilisateurs
                        </a>
                    </li>
                </ul> -->
            </li>

        </ul>
    </div>
</div>
<!-- End vertical navbar -->