<div class="row title">
    <div class="col-lg-12 mt-3">
        <div class="d-lg-flex justify-content-lg-between">
            <h3 class="main-title">Lieux</h3>
            <div>
                <a [routerLink]="['/lieux/list']" class="btn btn-sm main-btn">Voir la liste des lieux</a>
                <a class="text-dark ms-4" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Ici vous pouvez ajouter un nouveau lieu"><i class="fal fa-info"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="my-5">
    <div class="d-flex justify-content-between align-content-center gap-2 flex-row">
        <div class="" *ngFor="let lieu of lieux">
            <a (click)='showForm(lieu.id);getLieuName(lieu.name)' class="btn second-btn lieux-types-card">{{ lieu.name }}</a>
        </div>
    </div>
</div>

<div class="mt-4">

    <div class="form-box mt-5">
        <div *ngIf="activeLieux == 'DR'; then DR"></div>
        <div *ngIf="activeLieux == 'LF'; then LF"></div>
        <div *ngIf="activeLieux == 'PV'; then PV"></div>
        <div *ngIf="activeLieux == 'Siege'; then SIEGE"></div>
        <div *ngIf="activeLieux == 'SV'; then SV"></div>
        <div *ngIf="activeLieux == ''; then Error"></div>
    </div>

</div>

<ng-template #DR>
    <dr-form [Lieu]="Lieu" [LieuName]="LieuName" ></dr-form>
</ng-template>

<ng-template #LF>
    <lf-form [Lieu]="Lieu" [LieuName]="LieuName"></lf-form>
</ng-template>

<ng-template #PV>
    <pv-form [Lieu]="Lieu" [LieuName]="LieuName"></pv-form>
</ng-template>

<ng-template #SIEGE>
    <siege-form [Lieu]="Lieu" [LieuName]="LieuName"></siege-form>
</ng-template>

<ng-template #SV>
    <sv-form [Lieu]="Lieu" [LieuName]="LieuName"></sv-form>
</ng-template>

<ng-template #Error>
    <h2 class="text-center my-5 main-muted-text">
        Choisissez un lieu s'il vous plait.
    </h2>
</ng-template>