<div class="row title">
    <div class="col-lg-12 mt-3">
        <div class="d-flex justify-content-between">
            <!-- <h3 class="leftborder"></h3> -->
            <h3 class="main-text">Propriétaire de local</h3>
            <a href="#" class="btn second-btn"><i class="fal fa-info"></i></a>
        </div>
    </div>
</div>

<!-- Propriètaire de local container Start-->
<div class="mt-4">
    <h6>Remplissage des données</h6>

    <!-- Div form propriètaire de local Start-->
    <div class="form-box mt-4">

        <!-- Form propriètaire de local Start -->
        <form [formGroup]="proprietaireForm" (ngSubmit)="onSubmit()">
            <!-- First Row Start-->
            <div class="row">

                <div class="col-lg-3 form-group  mt-4">
                    <label for="">N° CIN du Propriétaire</label>
                    <input type="text" class="form-control rounded-pill" formControlName="cinPr">
                </div>

                <div class="col-lg-3 form-group  mt-4">
                    <label for="">Passeport Propriétaire</label>
                    <input type="text" class="form-control rounded-pill" formControlName="passeportPr">
                </div>

                <div class="col-lg-3 form-group  mt-4">
                    <label for="">Carte séjour Propriétaire</label>
                    <input type="text" class="form-control rounded-pill" formControlName="carteSejourPr">
                </div>

                <div class="col-lg-3 form-group  mt-4">
                    <label for="">Raison sociale propriétaire</label>
                    <input type="text" class="form-control rounded-pill" formControlName="raisonSocialPr">
                </div>

                <div class="col-lg-3 form-group  mt-4">
                    <label for="">N° de registre du commerce</label>
                    <input type="text" class="form-control rounded-pill" formControlName="NregCommercePr">
                </div>

                <div class="col-lg-3 form-group  mt-4">
                    <label for="">Nom et prénom propriétaire</label>
                    <input type="text" class="form-control rounded-pill" formControlName="nomprenomPr">
                </div>

                <div class="col-lg-3 form-group mt-4">
                    <label for="">Téléphone du propriétaire</label>
                    <input type="text" class="form-control rounded-pill" formControlName="telPr">
                </div>

                <div class="col-lg-3 form-group mt-4">
                    <label for="">Fax du propriétaire</label>
                    <input type="text" class="form-control rounded-pill" formControlName="faxPr">
                </div>

                <div class="col-lg-3 form-group  mt-4">
                    <label for="">Adresse du propriétaire</label>
                    <input type="text" class="form-control rounded-pill" formControlName="adressePr">
                </div>

                <div class="col-lg-3 form-group mt-4">
                    <label for="">N° de compte bancaire P</label>
                    <input type="text" class="form-control rounded-pill" formControlName="NcptBancPr">
                </div>

                <div class="col-lg-3 form-group mt-4">
                    <label for="">Banque</label>
                    <input type="text" class="form-control rounded-pill" formControlName="bancPr">
                </div>

                <div class="col-lg-3 form-group mt-4">
                    <label for="">Nom de l’Agence bancaire</label>
                    <input type="text" class="form-control rounded-pill" formControlName="nomAgencebancPr">
                </div>


                <div class="mt-4">Mandataire</div>
                <div class="col-lg-3 form-group d-flex  mt-4">
                    <label for="">Oui</label>
                    <input type="radio" name="isMandataire" [value]="true" class="form-check-input mx-2"
                        [(ngModel)]="isMand" formControlName="isMandataire">
                    <label for="">Non</label>
                    <input type="radio" name="isMandataire" [value]="false" class="form-check-input mx-2"
                        [(ngModel)]="isMand" formControlName="isMandataire">
                </div>

                <div *ngIf="isMand;then mandataire"></div>


            </div>
            <!-- First Row End-->

            <!-- Seconde Row -->
            <div class="row mt-5">

               
                <!-- Div Container Mandataire (Title+divForm+Form) Start -->
                <ng-template #mandataire>
                    <!-- Mandataire Title -->
                    <div class="row mt-4">
                        <div class="margin-main col-lg-12 mt-3">
                            <div class=" d-flex justify-content-between">
                                <!-- <h3 class="leftborder"></h3> -->
                                <h4 class="main-text">Mandataire</h4>
                                <a href="#" class="btn second-btn"><i class="fal fa-info"></i></a>
                            </div>
                        </div>
                    </div>


                    <!-- Mandataire container Start-->
                    <div class=" mt-4">
                        <h6>Remplissage des données</h6>

                        <!-- Div form Mandataire Start-->
                        <div class="FormBox mt-4">

                            <!-- Form Mandataire Start
         <form [formGroup]="proprietaireForm"> -->
                            <!-- First Row Start-->
                            <div class="row">

                                <div class="col-lg-3 form-group mt-4">
                                    <label for="">N° CIN mandataire</label>
                                    <input type="text" class="form-control rounded-pill" formControlName="cinM">
                                </div>

                                <div class="col-lg-3 form-group mt-4">
                                    <label for="">Raison sociale mandataire</label>
                                    <input type="text" class="form-control rounded-pill" formControlName="rsocialM">
                                </div>

                                <div class="col-lg-3 form-group mt-4">
                                    <label for="">Nom et prénom mandataire</label>
                                    <input type="text" class="form-control rounded-pill" formControlName="nomprenomM">
                                </div>

                                <div class="col-lg-3 form-group mt-4">
                                    <label for="">Téléphone du mandataire</label>
                                    <input type="text" class="form-control rounded-pill" formControlName="telM">
                                </div>

                                <div class="col-lg-3 form-group mt-4">
                                    <label for="">Fax du mandataire</label>
                                    <input type="text" class="form-control rounded-pill" formControlName="faxM">
                                </div>

                                <div class="col-lg-3 form-group mt-4">
                                    <label for="">Adresse du mandataire</label>
                                    <input type="text" class="form-control rounded-pill" formControlName="adresseM">
                                </div>

                                <div class="col-lg-3 form-group mt-4">
                                    <label for="">N° de compte bancaire M</label>
                                    <input type="text" class="form-control rounded-pill" formControlName="ncptBancM">
                                </div>

                            </div>
                            <!-- First Row End-->


                            <!-- </form>
         Form Mandataire End -->

                        </div>
                        <!-- Div form Mandataire End-->
                    </div>
                    <!-- Mandataire container End-->

                </ng-template>
                <!-- Div Container Mandataire (Title+divForm+Form) End -->

            </div>
            <!-- Seconde Row End-->

            <!-- Button Ajouter -->
            <div class="form-group mt-4 col-lg-2 d-flex">
                <!-- <a href="#"  (click)="onSubmit()">Ajouter</a> -->
                <button type="submit" class="btn second-btn form-control">Ajouter</button>
            </div>

        </form>
        <!-- Form propriètaire de local End -->

    </div>
    <!-- Div form propriètaire de local End-->
</div>
<!-- Propriètaire de local container End-->

<!-- /////////////////////////////////////////////////////////////////////////////////////// -->