:root{
    --mainColor: #909EF8;
    --mainText: #828282 ;
}




.btn-info{
    background: var(--mainColor) ;
    color: #fff;
}

.mainText{
    color: var(--mainText);
}

.leftborder{
    border-left-style: solid;
    color: #909EF8;
}

.btn-ajout{
    background: #909EF8;
    color: #fff;
   
}