<div class="row title  ">
    <div class="col-lg-12 mt-3">
        <div class="d-flex justify-content-between">
            <h3 class="main-title">
                <a [routerLink]="['/lieux/list']" class="goback-link">Liste des
                    entités organisationnelles</a>/<span class="selected-text">{{ lieu?.type_lieu }}</span>/<span class="selected-text">{{ lieu?.intitule_lieu }}</span>
            </h3>
            <div class="d-none d-lg-block">
                <a [routerLink]="['/lieux/list']" class="btn btn-sm second-btn me-3 " data-bs-toggle="tooltip"
                    data-bs-placement="top" title="Retour à la liste"><i class="far fa-arrow-left"></i>
                    Retour à la liste
                </a>
                <span data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Ici vous pouvez voir les détails de  proprietaire.nom_prenom ">
                    <i class="fal fa-info"></i>
                </span>
            </div>
        </div>
    </div>
</div>


<div class="row d-flex justify-content-around">
    <div class="main-card p-lg-4 mt-4 table-responsive bg-white col-lg-12">
        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Code entité</h5>
                <p>{{ lieu?.type_lieu === 'Logement de fonction' ? lieu?.code_rattache_DR : lieu?.code_lieu}}</p>
                <!-- {{ lieu?.code_lieu !== '' ? lieu?.code_lieu : '--'}} --> 
            </div>
            <div class="col-lg-6">

                <h5 class="main-txt">Intitulé</h5>
                <p>{{ lieu?.intitule_lieu !== '' ? lieu?.intitule_lieu : '--'}}</p>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-lg-6" *ngIf="lieu?.type_lieu === 'Point de vente' || lieu?.type_lieu === 'Logement de fonction' || lieu?.type_lieu === 'Supervision'">
                <h5 class="main-txt">
                    Direction régionale
                </h5>
                <p>{{ lieu?.code_rattache_DR !== '' ? lieu?.code_rattache_DR : '--'}}</p>
            </div> -->
            <div class="col-lg-6" *ngIf="lieu?.type_lieu === 'Point de vente' || lieu?.type_lieu === 'Logement de fonction' || lieu?.type_lieu === 'Supervision'
            || lieu?.type_lieu === 'Direction régionale'">
                <h5 class="main-txt">Code localité</h5>
                <p>{{ lieu?.code_localite !== '' ? lieu?.code_localite : '--'}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Fax</h5>
                <p>{{ lieu?.fax !== '' ? lieu?.fax : '--'}}</p>
            </div>
            <div class="col-lg-6">
                <h5 class="main-txt">Téléphone</h5>
                <p>{{ lieu?.telephone !== '' ? lieu?.telephone : '--'}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6" *ngIf="lieu?.type_lieu === 'Siège'">
                <h5 class="main-txt">Centre de coût siège</h5>
                <p>{{ lieu?.centre_cout_siege !== '' ? lieu?.centre_cout_siege : '--'}}</p>
            </div>
            <div class="col-lg-6">
                <h5 class="main-txt">Type</h5>
                <p>{{ lieu?.type_lieu !== '' ? lieu?.type_lieu : '--'}}</p>
            </div>
            <div class="col-lg-6"></div>
        </div>

        
        <div class="row">
            <div class="col-lg-6" *ngIf="lieu?.type_lieu === 'Point de vente' || lieu?.type_lieu === 'Logement de fonction' || lieu?.type_lieu === 'Supervision'">
                <h5 class="main-txt">Code direction régionale</h5>
                <p>{{ lieu?.attached_DR.code_lieu !== '' ? lieu?.attached_DR.code_lieu : '--'}}</p>
            </div>
            <div class="col-lg-6" *ngIf="lieu?.type_lieu === 'Point de vente'">
                <h5 class="main-txt">Code Supervision</h5>
                <p>{{ lieu?.attached_SUP.code_lieu !== '' ? lieu?.attached_SUP.code_lieu : '--'}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" *ngIf="lieu?.type_lieu === 'Point de vente'">
                <h5 class="main-txt">Intitulé supervision du point de vente</h5>
                <p>{{ lieu?.attached_SUP.intitule_lieu !== '' ? lieu?.attached_SUP.intitule_lieu : '--'}}</p>
            </div>
           
        </div>
        <div class="row" *ngIf="lieu?.type_lieu === 'Point de vente'">
            <div class="col-lg-6">
                <h5 class="main-txt">Catégorie point vente</h5>
                <p>{{ lieu?.categorie_pointVente !== '' ? lieu?.categorie_pointVente : '--'}}</p>
            </div>
            <div class="col-lg-6"></div>
        </div>

    </div>

</div>