<div class="row title  ">
    <div class="col-lg-12 mt-3">
        <div class="d-flex justify-content-between">
            <h3 class="main-title">
                <a [routerLink]="['/lieux/list']" class="goback-link">Liste des
                    entités organisationnelles</a>/<span class="selected-text">{{ lieu?.intitule_lieu }}</span>
            </h3>
            <div class="d-none d-lg-block">
                <a [routerLink]="['/lieux/list']" class="btn btn-sm second-btn me-3 " data-bs-toggle="tooltip"
                    data-bs-placement="top" title="Retour à la liste"><i class="far fa-arrow-left"></i>
                    Retour à la liste
                </a>
                <span data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Ici vous pouvez voir les détails de  proprietaire.nom_prenom ">
                    <i class="fal fa-info"></i>
                </span>
            </div>
        </div>
    </div>
</div>


<div class="row d-flex justify-content-around">
    <div class="main-card p-lg-4 mt-4 table-responsive bg-white col-lg-5">
        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Code lieu</h5>
                <p>{{ lieu?.code_lieu != '' ? lieu?.code_lieu : '--'}}</p>
            </div>
            <div class="col-lg-6">

                <h5 class="main-txt">Intitule</h5>
                <p>{{ lieu?.intitule_lieu != '' ? lieu?.intitule_lieu : '--'}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Direction régionale</h5>
                <p>{{ lieu?.code_rattache_DR != '' ? lieu?.code_rattache_DR : '--'}}</p>
            </div>
            <div class="col-lg-6">
                <h5 class="main-txt">Code localite</h5>
                <p>{{ lieu?.code_localite != '' ? lieu?.code_localite : '--'}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">fax</h5>
                <p>{{ lieu?.fax != '' ? lieu?.fax : '--'}}</p>
            </div>
            <div class="col-lg-6">
                <h5 class="main-txt">telephone</h5>
                <p>{{ lieu?.telephone != '' ? lieu?.telephone : '--'}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Type</h5>
                <p>{{ lieu?.type_lieu != '' ? lieu?.type_lieu : '--'}}</p>
            </div>
            <div class="col-lg-6"></div>
        </div>

    </div>

    <div class="main-card p-lg-4 mt-4 table-responsive bg-white col-lg-6">



        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Code direction régionale</h5>
                <p>{{ lieu?.code_rattache_DR != '' ? lieu?.code_rattache_DR : '--'}}</p>
            </div>
            <div class="col-lg-6">
                <h5 class="main-txt">Code Supervision</h5>
                <p>{{ lieu?.code_rattache_SUP != '' ? lieu?.code_rattache_SUP : '--'}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Intitule supervision du point de vente</h5>
                <p>{{ lieu?.intitule_rattache_SUP_PV != '' ? lieu?.intitule_rattache_SUP_PV : '--'}}</p>
            </div>
            <div class="col-lg-6">
                <h5 class="main-txt">Centre cout siege</h5>
                <p>{{ lieu?.centre_cout_siege != '' ? lieu?.centre_cout_siege : '--'}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Categorie point vente</h5>
                <p>{{ lieu?.categorie_pointVente != '' ? lieu?.categorie_pointVente : '--'}}</p>
            </div>
            <div class="col-lg-6"></div>
        </div>

    </div>
</div>