@use "../../../../assets/style/helpers" as *;
@use "../../../../assets/style/components" as *;

.count {
    &-number {
        color: color(main-color);
    }
    &-card {
        max-width: 24%;
    }
}

a {
    text-decoration: none;
    color: color(dark);
}

.left-border {
    border-left: 1px solid color(main-color);
    @include mobile($min-screen, $max-screen) {
        & {
            border-left: none;
        }
    }
}

// Skeleton loading
.counts-skeleton {
    @include skeletonLoading(140px, 30px)
}