<div class="row title">
    <div class="col-lg-12 mt-3">
        <div class="d-lg-flex justify-content-lg-between">
            <h3 class="main-title">Tableau de bord</h3>
            <div>
                <a class="text-dark ms-5" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Ici vous pouvez consulter le darboard"><i class="fal fa-info"></i></a>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-3 main-card bg-white p-4 count-card">
                <h3>
                    <span class="count-number">{{allCount.countProprietaire}}</span> Proprietaire<span *ngIf="allCount.countProprietaire > 1">s</span> 
                </h3>
            </div>
            <div class="col-lg-3 main-card bg-white p-4 count-card">
                <h3>
                    <span class="count-number">{{allCount.countLieu}}</span> Lieu<span *ngIf="allCount.countLieu > 1">x</span> 
                </h3>
            </div>
            <div class="col-lg-3 main-card bg-white p-4 count-card">
                <h3>
                    <span class="count-number">{{allCount.countContrat}}</span> Contrat<span *ngIf="allCount.countContrat > 1">s</span> 
                </h3>
            </div>
            <div class="col-lg-3 main-card bg-white p-4 count-card">
                <h3>
                    <span class="count-number">{{allCount.countFoncier}}</span> Fonciere<span *ngIf="allCount.countFoncier > 1">s</span> 
                </h3>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h6 class="main-title">
            Dernières alertes
            <!-- (<span class="count-number">5</span>) -->
        </h6>
        <coming-soon></coming-soon>
    </div>

    <div class="mt-5">
        <h6 class="main-title">
            Liens rapides
        </h6>
        <coming-soon></coming-soon>
    </div>
</div>