<div class="row title">
    <div class="col-lg-12 mt-3">
        <div class="d-lg-flex justify-content-lg-between">
            <h3 class="main-title">Dashboard</h3>
            <div>
                <a [routerLink]="['/lieux/list']" class="btn main-btn">Dashboard</a>
                <a href="#" class="btn main-btn ms-3" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Ici vous pouvez consulter le darboard"><i class="fal fa-info"></i></a>
            </div>
        </div>
    </div>
</div>
