@use "../../../../assets/style/helpers" as *;
@use "../../../../assets/style/components" as *;

.count {
    &-number {
        color: color(main-color);
    }

    @include mobile($min-screen-desktop, $max-screen-desktop) {
        &-label {
            font-size: 23px;
        }
    }
}

a {
    text-decoration: none;
    color: color(dark);
}

.left-border {
    border-left: 1px solid color(main-color);
    @include mobile($min-screen, $max-screen) {
        & {
            border-left: none;
        }
    }
}

// Skeleton loading
.counts-skeleton {
    @include skeletonLoading(115px, 30px);
}
