<div class="row title">
    <div class="col-lg-12 mt-3">
        <div class="w-100 d-flex justify-content-center">
            <div *ngIf="!serverConnected" class="error-alert p-2 my-2">{{ errorMessage }}</div>
        </div>

        <div class="d-lg-flex justify-content-lg-between">
            <h3 class="main-title">Tableau de bord</h3>
            <div>
                <a class="text-dark ms-5" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Ici vous pouvez consulter le tableau de bord"><i class="fal fa-info"></i></a>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <div class="row gap-2">
            <div class="col-12 col-sm-12 col-lg-3 main-card bg-white p-4 count-card">
                <h3>
                    <span class="count-number" *ngIf="allCount.countUser">{{allCount.countUser}}</span>

                    <span *ngIf="allCount.countUser" class="count-label">
                        Utilisateur<span *ngIf="allCount.countUser > 1">s</span>
                    </span>

                    <div *ngIf="!allCount.countUser" class="counts-skeleton"></div>
                </h3>
            </div>
            <div class="col-lg-3 col-sm-12 col-12 main-card bg-white p-4 count-card">
                <h3>
                    <span *ngIf="allCount.totalCountDirecteurRegional"
                        class="count-number">{{allCount.totalCountDirecteurRegional}}</span>

                    <span *ngIf="allCount.totalCountDirecteurRegional" class="count-label">
                        Directeur<span *ngIf="allCount.totalCountDirecteurRegional > 1">s</span>
                    </span>

                    <div *ngIf="!allCount.totalCountDirecteurRegional" class="counts-skeleton"></div>
                </h3>
            </div>
            <div class="col-lg-3 col-12 main-card bg-white p-4 count-card">
                <a [routerLink]="['/proprietaire/list-global/list']">
                    <h3>
                        <span *ngIf="allCount.countProprietaire"
                            class="count-number">{{allCount.countProprietaire}}</span>

                        <span *ngIf="allCount.countProprietaire" class="count-label">
                            Propriétaire<span *ngIf="allCount.countProprietaire > 1">s</span>
                        </span>

                        <div *ngIf="!allCount.countProprietaire" class="counts-skeleton"></div>
                    </h3>
                </a>
            </div>
            <div class="col-lg-2 col-sm-12 col-12 main-card bg-white p-4 count-card">
                <h3>
                    <span *ngIf="allCount.countContrat" class="count-number">{{allCount.countContrat}}</span>

                    <span *ngIf="allCount.countContrat" class="count-label">
                        Contrat<span *ngIf="allCount.countContrat > 1">s</span>
                    </span>

                    <div *ngIf="!allCount.countContrat" class="counts-skeleton"></div>
                </h3>
            </div>
        </div>

        <div class="row gap-2 mt-3">
            <div class="col-lg-2 col-sm-12 col-12 main-card bg-white p-4 count-card">
                <a [routerLink]="['/lieux/list']">
                    <h3>
                        <span *ngIf="allCount.countLieu" class="count-number">{{allCount.countLieu}}</span>

                        <span *ngIf="allCount.countLieu <= 1" class="count-label">
                            Local
                        </span>

                        <span *ngIf="allCount.countLieu > 1" class="count-label">
                            Locaux
                        </span>

                        <div *ngIf="!allCount.countLieu" class="counts-skeleton"></div>
                    </h3>
                </a>
            </div>
            <div class="col-lg-3 col-sm-12 col-12 main-card bg-white p-4 count-card">
                <h3>
                    <span *ngIf="allCount.totalCountAmenagements"
                        class="count-number">{{allCount.totalCountAmenagements}}</span>

                    <span *ngIf="allCount.totalCountAmenagements" class="count-label">
                        Aménagement<span *ngIf="allCount.totalCountAmenagements > 1">s</span>
                    </span>

                    <div *ngIf="!allCount.totalCountAmenagements" class="counts-skeleton"></div>
                </h3>
            </div>
            <div class="col-lg-3 col-sm-12 col-12 main-card bg-white p-4 count-card">
                <h3>
                    <span *ngIf="allCount.totalCountFournisseur"
                        class="count-number">{{allCount.totalCountFournisseur}}</span>

                    <span *ngIf="allCount.totalCountFournisseur" class="count-label">
                        Fournisseur<span *ngIf="allCount.totalCountFournisseur > 1">s</span>
                    </span>

                    <div *ngIf="!allCount.totalCountFournisseur" class="counts-skeleton"></div>
                </h3>
            </div>
            <div class="col-lg-3 col-sm-12 col-12 main-card bg-white p-4 count-card">
                <h3>
                    <span *ngIf="allCount.countProprietaire" class="count-number">{{allCount.countProprietaire}}</span>

                    <span *ngIf="allCount.countProprietaire" class="count-label">
                        Mandataire<span *ngIf="allCount.countProprietaire > 1">s</span>
                    </span>

                    <div *ngIf="!allCount.countProprietaire" class="counts-skeleton"></div>
                </h3>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h5 class="main-title mb-5">
            Quelques statistiques
        </h5>
        <div class="w-100 d-flex justify-content-center">
            <p *ngIf="!serverConnected" class="danger-txt my-2 mb-4">{{ errorMessage }}</p>
        </div>

        <div class="row text-center">
            <div class="col-12 col-lg-5 col-md-12">
                <h6>
                    {{yAxisLabelBarV}}
                </h6>

                <ngx-charts-bar-vertical [results]="statisticsBarV" [scheme]="colorScheme" [schemeType]="schemeType"
                    [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [legendTitle]="villeTitle"
                    [legendPosition]="legendPositionRight" [animations]="animations" [showGridLines]="showGridLines"
                    [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
                    [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength"
                    [maxYAxisTickLength]="maxYAxisTickLength" [xAxisTickFormatting]="formatString"
                    [yAxisTickFormatting]="formatNumber" [showDataLabel]="showDataLabel" [barPadding]="barPadding"
                    [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges" [legend]="hasLegend">
                </ngx-charts-bar-vertical>
            </div>
            <div class="col-12 col-lg-6 text-center left-border ms-lg-5">
                <h6>
                    {{yAxisLabelAdvPie}}
                </h6>

                <ngx-charts-advanced-pie-chart [results]="statisticsAdvancedCircl" [scheme]="colorScheme"
                    [animations]="animations">
                </ngx-charts-advanced-pie-chart>
            </div>

        </div>
    </div>

    <div class="mt-5">
        <div class="row text-center">
            <div class="col-12 col-lg-6 col-md-12">
                <h6>
                    {{yAxisLabelBarH}}
                </h6>

                <ngx-charts-bar-horizontal [results]="statisticsBarH" [scheme]="colorScheme" [schemeType]="schemeType"
                    [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [legendTitle]="locauxTitle"
                    [legendPosition]="legendPositionRight" [animations]="animations" [showGridLines]="showGridLines"
                    [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
                    [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength"
                    [maxYAxisTickLength]="maxYAxisTickLength" [xAxisTickFormatting]="formatString"
                    [yAxisTickFormatting]="formatNumber" [showDataLabel]="showDataLabel" [barPadding]="barPadding"
                    [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges" [legend]="hasLegend">
                </ngx-charts-bar-horizontal>
            </div>

            <div class="col-12 col-lg-5 col-md-12 left-border ms-lg-5">
                <h6>
                    {{yAxisLabelPie}}
                </h6>

                <ngx-charts-pie-chart [results]="statisticsCircle" [legendTitle]="contratTitle" [scheme]="colorScheme"
                    [schemeType]="schemeType" [gradient]="gradient" [legendPosition]="legendPositionRight"
                    [animations]="animations" [labels]="true" [explodeSlices]="explodeSlices"
                    [tooltipDisabled]="tooltipDisabled" [legend]="hasLegend">
                </ngx-charts-pie-chart>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h5 class="main-title">
                    Liens rapides
                </h5>
                <!-- <div class="col-12 col-lg-6 mt-2 d-flex mt-3">
                    <button type="submit" class="btn second-btn form-control"
                        (click)="downloadFichierComptable()">Exporter fichier comptablilisation</button>
                </div> -->
                <coming-soon></coming-soon>
            </div>

            <div class="col-12 col-lg-6">
                <h5 class="main-title">
                    Dernières alertes
                    <!-- (<span class="count-number">5</span>) -->
                </h5>
                <coming-soon></coming-soon>
            </div>
        </div>
    </div>