<div class="row title">
    <div class="col-lg-12 mt-3">
        <div class="d-flex justify-content-between">
            <!-- <h3 class=""></h3> -->
            <h3 class="main-title">Liste des fonciers</h3>
            <div class="d-none d-lg-block">
                <a class="btn btn-sm success-btn" [routerLink]="['/foncier']">
                    <i class="fal fa-plus-octagon"></i> Nouveau foncier
                </a>
                <a class="btn btn-sm second-btn mx-3" (click)="reload()"><i class="far fa-undo-alt"></i>
                    Rafraîchir la liste
                </a>
                <span data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Ici vous pouvez consulter la list des propriétaires">
                    <i class="fal fa-info"></i>
                </span>
            </div>

        </div>
    </div>
</div>


<div class="main-card bg-white table-responsive-sm p-lg-3 mt-4">
    <div class="col-lg-4 mb-4">
        <label for="" class="main-muted-text"><i class="far fa-search"></i> Recherche</label>
        <input type="text" [(ngModel)]="findFoncier" (input)='search()' class="form-control rounded-pill" placeholder="Rechercher par type foncier..."/>
      </div>

    <table class="table">
        <thead>
            <tr class="text-truncate">
                <th>Type du foncier</th>
                <th>Pays</th>
                <th>Ville</th>
                <th>Montant loyer</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody *ngIf="fonciers.length">
            <tr class="text-center"
                *ngFor="let foncier of fonciers | paginate: { itemsPerPage: tableSize, currentPage: listFoncierPage, id: 'listFoncierPagination', totalItems: count }">
                <td> {{ foncier.type_foncier }}</td>
                <td> {{ foncier.pays }} </td>
                <td> {{ foncier.ville }} </td>
                <td> {{ foncier.montant_loyer }} </td>

                <td>
                    <div class="d-inline">
                        <a [routerLink]="['list',foncier._id]" class="btn btn-sm main-btn"><i
                                class="fal fa-eye"></i></a>
                        <a (click)="openEditModal(foncier);" class="btn btn-sm info-btn mx-2"><i
                                class="far fa-user-edit"></i></a>
                        <a class="btn btn-sm danger-btn" (click)="openConfirmationModal(foncier._id);"><i
                                class="far fa-user-minus"></i></a>
                    </div>

                </td>
            </tr>

            <pagination-controls id="listFoncierPagination" (pageChange)="listFoncierPage = $event">
            </pagination-controls>


            <app-main-modal [closeBtn]='true'>
                <edit-foncier [foncier]="targetFoncier">
                </edit-foncier>
            </app-main-modal>

            <app-confirmation-modal [closeBtn]='true'>
                <h3 class="main-title">Confirmation de la supression <i class="far fa-exclamation-circle"></i></h3>
                <p class="mt-3">Voulez vous vraiment supprimer ce foncier?</p>
                <div class="d-inline-flex justify-content-start mt-5">
                    <a class="btn btn-lg px-lg-4 danger-btn me-2"
                        (click)="deleteFoncier();closeConfirmationModal();reload();">Oui</a>
                    <a class="btn btn-lg px-lg-4 main-btn" (click)='closeConfirmationModal();'>Non</a>
                </div>
            </app-confirmation-modal>

        </tbody>

        <tbody *ngIf="!fonciers.length" class="w-100 d-flex align-items-center">
            <h5 class="main-muted-text my-4">Aucun foncier à afficher</h5>
            <a class="btn btn-sm second-btn ms-3" [routerLink]="['/foncier']">
                + Nouveau foncier
            </a>
        </tbody>
    </table>
</div>