<app-main-modal [closeBtn]='false'>
    <div class="login-content d-flex align-items-center justify-content-center flex-column">
        <div>
            <img src="../../../assets/images/logo/Attawfiq.jpg" alt="Attawfiq Logo" width="auto" draggable="false"
                loading="lazy" class="mr-3 img-thumbnail border-0 logo">
        </div>
        <h4>Connexion au compte</h4>
        <p>Vous devez se connecter pour accéder à l'application.</p>
        <a (click)="login()" class="btn second-btn">Se connecter</a>
    </div>
</app-main-modal>