<div class="row title  ">
    <div class="col-lg-12 mt-3">
        <div class="d-flex justify-content-between">

            <h3 class="main-title">
                <a [routerLink]="['/contrat/list']" class="goback-link">Détails de Contrat de bail</a>/<span
                    class="selected-text">
                    {{contrat.numero_contrat}}
                </span>
            </h3>
            <div class="d-none d-lg-block">
                <a [routerLink]="['/contrat/list-global/list']" class="btn btn-sm second-btn me-3 " data-bs-toggle="tooltip"
                    data-bs-placement="top" title="Retour à la liste"><i class="far fa-arrow-left"></i>
                    Retour à la liste des contras
                </a>
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Ici vous pouvez voir les détails de   ">
                    <i class="fal fa-info"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-around">
    <div class="main-card p-lg-4 mt-4 table-responsive bg-white col-lg-5">
        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Numero de contrat</h5>
                <p>{{ contrat.numero_contrat }}</p>
            </div>
            <div class="col-lg-6">

                <h5 class="main-txt">Date de debut du loyer</h5>
                <p>{{ contrat.date_debut_loyer }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Date fin de contrat de bail</h5>
                <p>{{ contrat.date_fin_contrat }}</p>
            </div>
            <div class="col-lg-6">
                <h5 class="main-txt">Durée de location</h5>
                <p>{{ contrat.duree_location }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Périodicité de paiement</h5>
                <p>{{ contrat.periodicite_paiement }}</p>
            </div>
            <div class="col-lg-6">
                <h5 class="main-txt">Montant du loyer</h5>
                <p>{{ contrat.montant_loyer }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Taxe d'édilité comprise dans loyer</h5>
                <p>{{contrat.taxe_edilite_loyer}}</p>
            </div>
            <div class="col-lg-6">
                <h5 class="main-txt">Taxe d'édilité non comprise dans loyer</h5>
                <p>{{ contrat.taxe_edilite_non_loyer }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Déclaration d'option</h5>
                <p>{{ contrat.declaration_option }}</p>
            </div>
            <div class="col-lg-6">
                <h5 class="main-txt">Taux de l'impot</h5>
                <p>{{ contrat.taux_impot }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Retenue à la source</h5>
                <p>{{ contrat.retenue_source }}</p>
            </div>
            <div class="col-lg-6">
                <h5 class="main-txt">Pièce joint</h5>
                <p>
                    <a class="btn second-btn" *ngIf="selectedPieceContrat != undefined"
                        href="{{url}}{{selectedPieceContrat?.image}}" target="_blank">
                        Ouvrir
                    </a>

                    <span *ngIf="selectedPieceContrat == undefined">
                        Aucun fichier
                    </span>
                </p>
            </div>
        </div>

    </div>

    <div class="main-card p-lg-4 mt-4 table-responsive bg-white col-lg-6">

        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Montant après impot</h5>
                <p>{{ contrat.montant_apres_impot }}</p>
            </div>
            <div class="col-lg-6">
                <h5 class="main-txt">Montant de la caution</h5>
                <p>{{ contrat.montant_caution }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Effort de la caution</h5>
                <p>{{ contrat.effort_caution }}</p>
            </div>
            <div class="col-lg-6">
                <h5 class="main-txt">Date de reprise de la caution</h5>
                <p>{{ contrat.date_reprise_caution}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Statut de la caution</h5>
                <p>{{contrat.statut_caution }}</p>
            </div>
            <div class="col-lg-6">
                <h5 class="main-txt">Montant de l'avance</h5>
                <p>{{contrat.montant_avance}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Date fin de l'avance</h5>
                <p>{{contrat.date_fin_avance }}</p>
            </div>
            <div class="col-lg-6">
                <h5 class="main-txt">Date 1er paiement</h5>
                <p>{{contrat.date_premier_paiement}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Durée de l'avance</h5>
                <p>{{contrat.duree_avance }}</p>
            </div>
            <div class="col-lg-6">
                <h5 class="main-txt">N° d'engagement de la dépense</h5>
                <p>{{contrat.n_engagement_depense}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5 class="main-txt">Echéance de révision du loyer</h5>
                <p>{{contrat.echeance_revision_loyer }}</p>
            </div>
            <div class="col-lg-6">
                <h5 class="main-txt">Etat de contrat</h5>
                <p>{{this.contrat.etat_contrat?.libelle}}</p>
            </div>
        </div>

    </div>
</div>


<div *ngIf="contrat.etat_contrat?.libelle !== 'En cours' && contrat.etat_contrat?.libelle == 'Avenant'"
    class="main-card p-lg-4 ms-0 mt-4 table-responsive bg-white">
    <h5 class="main-title mb-4">
        Etat de contrat:
        <span
            [ngClass]="{'info-txt': contrat.etat_contrat?.libelle == 'Avenant', 'danger-txt': contrat.etat_contrat?.libelle == 'Suspension' || contrat.etat_contrat?.libelle == 'Résiliation', 'success-txt': contrat.etat_contrat?.libelle == 'En cours'}">
            {{this.contrat.etat_contrat?.libelle}}
        </span>
    </h5>

    <div class="row">
        <div class="col-lg-3">
            <h5 class="main-txt">N° avenant</h5>
            <p>{{contrat.etat_contrat?.etat?.n_avenant}}</p>
        </div>
        <div class="col-lg-3">
            <h5 class="main-txt">Motif</h5>
            <p>{{contrat.etat_contrat?.etat?.motif}}</p>
        </div>

        <div class="col-lg-3">
            <h5 class="main-txt">Montant nouveau loyer</h5>
            <p>{{contrat.etat_contrat?.etat?.montant_nouveau_loyer}}</p>
        </div>
        <div class="col-lg-3">
            <h5 class="main-txt">Signaletique successeur</h5>
            <p>{{contrat.etat_contrat?.etat?.signaletique_successeur}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <h5 class="main-txt">Intitule lieu</h5>
            <p>{{contrat.etat_contrat?.etat?.intitule_lieu}}</p>
        </div>
        <div class="col-lg-3">
            <h5 class="main-txt">Pièce jointe</h5>
            <p>
                <a class="btn second-btn" *ngIf="selected_piece_jointe_avenant != undefined"
                    href="{{url}}{{selected_piece_jointe_avenant?.image}}" download>
                    Télécharger
                </a>
                <span *ngIf="selected_piece_jointe_avenant == undefined">
                    Aucun fichier
                </span>
            </p>
        </div>
    </div>

</div>

<div *ngIf="contrat.etat_contrat?.libelle !== 'En cours' && contrat.etat_contrat?.libelle == 'Suspension'"
    class="main-card p-lg-4 ms-0 mt-4 table-responsive bg-white">
    <h5 class="main-title mb-4">
        Etat de contrat:
        <span
            [ngClass]="{'info-txt': contrat.etat_contrat?.libelle == 'Avenant', 'danger-txt': contrat.etat_contrat?.libelle == 'Suspension' || contrat.etat_contrat?.libelle == 'Résiliation', 'success-txt': contrat.etat_contrat?.libelle == 'En cours'}">
            {{this.contrat.etat_contrat?.libelle}}
        </span>
    </h5>

    <div class="row">
        <div class="col-lg-3">
            <h5 class="main-txt">Intitule de lieu</h5>
            <p>{{contrat.etat_contrat?.etat?.intitule_lieu}}</p>
        </div>
        <div class="col-lg-3">
            <h5 class="main-txt">Date de suspension</h5>
            <p>{{contrat.etat_contrat?.etat?.date_suspension}}</p>
        </div>

        <div class="col-lg-3">
            <h5 class="main-txt">Durée de suspension</h5>
            <p>{{contrat.etat_contrat?.etat?.duree_suspension}}</p>
        </div>
        <div class="col-lg-3">
            <h5 class="main-txt">Motif suspension</h5>
            <p>{{contrat.etat_contrat?.etat?.motif_suspension}}</p>
        </div>
    </div>

</div>

<div *ngIf="contrat.etat_contrat?.libelle !== 'En cours' && contrat.etat_contrat?.libelle == 'Résiliation'"
    class="main-card p-lg-4 ms-0 mt-4 table-responsive bg-white">
    <h5 class="main-title mb-4">
        Etat de contrat:
        <span
            [ngClass]="{'info-txt': contrat.etat_contrat?.libelle == 'Avenant', 'danger-txt': contrat.etat_contrat?.libelle == 'Suspension' || contrat.etat_contrat?.libelle == 'Résiliation', 'success-txt': contrat.etat_contrat?.libelle == 'En cours'}">
            {{this.contrat.etat_contrat?.libelle}}
        </span>
    </h5>

    <div class="row">
        <div class="col-lg-3">
            <h5 class="main-txt">Intitulé de lieu</h5>
            <p>{{contrat.etat_contrat?.etat?.intitule_lieu}}</p>
        </div>
        <div class="col-lg-3">
            <h5 class="main-txt">Reprise caution</h5>
            <p>{{contrat.etat_contrat?.etat?.reprise_caution}}</p>
        </div>

        <div class="col-lg-3">
            <h5 class="main-txt">Etat des lieux de sortie</h5>
            <p>{{contrat.etat_contrat?.etat?.etat_lieu_sortie}}</p>
        </div>
        <div class="col-lg-3">
            <h5 class="main-txt">Préavis</h5>
            <p>{{contrat.etat_contrat?.etat?.preavis}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <h5 class="main-txt">Date de résiliation</h5>
            <p>{{contrat.etat_contrat?.etat?.date_resiliation}}</p>
        </div>
        <div class="col-lg-3">
            <h5 class="main-txt">Images d'état des lieux de sortie</h5>
            <p>
                <a class="btn second-btn" *ngIf="selected_images_res_sortie != undefined"
                    href="{{url}}{{selected_images_res_sortie?.image}}" download>
                    Ouvrir
                </a>
                <span *ngIf="selected_images_res_sortie == undefined">
                    Aucun fichier
                </span>
            </p>
        </div>

        <div class="col-lg-3">
            <h5 class="main-txt">La lettre de résiliation scannée</h5>
            <p>
                <a class="btn second-btn" *ngIf="selected_lettre_res != undefined"
                    href="{{url}}{{selected_lettre_res?.image}}" download>
                    Ouvrir
                </a>
                <span *ngIf="selected_lettre_res == undefined">
                    Aucun fichier
                </span>
            </p>
        </div>

    </div>

</div>