@use './assets/style/helpers' as *;
@use './assets/style/components' as *;

/* Global styles */

html {
  scroll-behavior: smooth !important;
}

body {
    margin: 0;
    padding: 0;
    background: color(body-color) !important;
    color: color(dark) !important;
    overflow-x: hidden;
}

// Glibal font weights
.bold-font {
  font-weight: weight(bold);
}

/* active link */
.router-link-active {
  @extend .second-btn;
  &:hover {
    background: color(dark) !important;
  }
}
