@use './assets/style/helpers' as *;
@use './assets/style/components' as *;

/* Global styles */

/* width */

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.3rem;
}

/* Track */

::-webkit-scrollbar-track {
  background: color(body-color) !important;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: color(main-color) !important;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: color(dark) !important;
}

::placeholder {
  color: rgb(213, 213, 213) !important;
  font-size: 12px;
}

html {
  scroll-behavior: smooth !important;
}

body {
    margin: 0;
    padding: 0;
    background: color(body-color) !important;
    color: color(dark) !important;
    overflow-x: hidden;
}

// Glibal font weights
.bold-font {
  font-weight: weight(bold);
}

/* active link */
.router-link-active {
  @extend .second-btn;
  &:hover {
    background: color(dark) !important;
  }
}
