<div class="row title">
  <div class="col-lg-12 mt-3">
    <div class="d-lg-flex justify-content-lg-between">
      <h3 class="main-title">Exportation des déclarations annuelle</h3>
      <div>
        <a class="btn btn-sm main-btn me-4" [routerLink]="['/']"
          ><i class="fal fa-home"></i> Tableau de bord</a
        >
        <a
          lass="text-dark ms-5"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Ici vous pouvez exporter des écritures contable etc.."
          ><i class="fal fa-info"></i
        ></a>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div
    class="col-lg-12 d-flex align-items-lg-start justify-content-lg-start gap-1 flex-column mt-lg-5"
  >
    <!-- <h5 class="main-title">Exportation des fichiers</h5> -->
    <form
      [formGroup]="declarationAnnuelleForm"
      enctype="multipart/form-data"
      class="col-3"
    >
      <h5 class="main-title mt-4 mb-3">Merci de saisir l'année</h5>
      <input
        type="text"
        class="form-control rounded-pill"
        (change)="showButtons()"
        formControlName="date_gen"
        [ngClass]="{
          'is-invalid': checkInputsValidation(date_gen),
          'is-valid': !date_gen?.invalid
        }"
      />
    </form>
  </div>
  <div *ngIf="dateSelected; then fileSection"></div>
</div>

<ng-template #fileSection>
  <div class="mt-4">
    <h5>Exporter la télédéclaration annuelle</h5>
    <a class="btn second-btn" (click)="downloadFiles(fileParams)"
      ><i class="far fa-file-export"></i> Exporter le fichier</a
    >
  </div>
</ng-template>
