<!-- alert de reussite -->
<div *ngIf="success" class="done-alert p-2 my-2 w-100">{{msg}}</div>
<!--Début de Div qui contient le formulaire form-contrat-->
<div class="form-box mt-4">
  <!--Début Formulaire form-contrat-->
  <form [formGroup]="contratForm" enctype="multipart/form-data">

    <!--Début 1er Row-->
    <div class="row">

      <div class="col-lg-3 form-group mt-4">
        <label for="">Pièce jointe</label>
        <input type="file" class="form-control btn success-btn" formControlName="piece_jointe" multiple />
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Date de début du loyer</label>
        <input type="date" class="form-control rounded-pill" [ngModel]="date_debut_loyer | date:'yyyy-MM-dd'"
          formControlName="date_debut_loyer" />

      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Montant du loyer</label>
        <input type="number" [(ngModel)]="montantLoyer" (keyup)="checkRetenue()" class="form-control rounded-pill" formControlName="montant_loyer" />
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Taxe d’édilité comprise dans le loyer</label>
        <input type="text" class="form-control rounded-pill" formControlName="taxe_edilite_comprise_loyer" />
      </div>


      <div class="col-lg-3 form-group mt-4">
        <label for="">Taxe d’édilité non comprise dans le loyer</label>
        <input type="text" class="form-control rounded-pill" formControlName="taxe_edilite_noncomprise_loyer" />
      </div>


      <div class="col-lg-3 form-group mt-4">
        <label for="">Périodicité de paiement</label>
        <input type="text" class="form-control rounded-pill" formControlName="periodicite_paiement" />
      </div>


      <div class="col-lg-3 form-group mt-4">
        <label for="">Durée de location</label>
        <input type="number" class="form-control rounded-pill" formControlName="duree_location" />
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Date fin de contrat de bail</label>
        <input type="date" class="form-control rounded-pill" [ngModel]="date_fin_contrat | date:'yyyy-MM-dd'"
          formControlName="date_fin_contrat">
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Déclaration d’option</label>
        <select class="form-control rounded-pill" (change)="checkRetenue()" [(ngModel)]="hasDeclarationOption" formControlName="declaration_option">
          <option value="oui">Oui</option>
          <option value="non">Non</option>
        </select>
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Taux de l’impôt</label>
        <input type="text" class="form-control rounded-pill" [value]="tauxImpot" formControlName="taux_impot" readonly>
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Retenue à la source </label>
        <input type="text" [value]="retenueSource" class="form-control rounded-pill" formControlName="retenue_source" readonly>
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Montant après impôt</label>
        <input type="number" class="form-control rounded-pill" [value]="montantApresImpot" formControlName="montant_apres_impot" readonly>
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Montant de la caution</label>
        <input type="number" class="form-control rounded-pill" formControlName="montant_caution">
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Effort de la caution</label>
        <input type="text" class="form-control rounded-pill" formControlName="effort_caution">
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Date de reprise de la caution</label>
        <input type="date" class="form-control rounded-pill" [ngModel]="date_reprise_caution | date:'yyyy-MM-dd'"
          formControlName="date_reprise_caution">
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Statut de la caution</label>
        <input type="text" class="form-control rounded-pill" formControlName="statut_caution">
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Montant de l’avance</label>
        <input type="number" class="form-control rounded-pill" formControlName="montant_avance">
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Date fin de l’avance</label>
        <input type="date" class="form-control rounded-pill" [ngModel]="date_fin_avance | date:'yyyy-MM-dd'"
          formControlName="date_fin_avance">
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Date 1er paiement</label>
        <input type="date" class="form-control rounded-pill" [ngModel]="date_1er_paiement | date:'yyyy-MM-dd'"
          formControlName="date_1er_paiement">
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Durée de l’avance</label>
        <input type="number" class="form-control rounded-pill" formControlName="duree_avance">
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">N° d’engagement de la dépense</label>
        <input type="text" class="form-control rounded-pill" formControlName="Nengagement_dépense">
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Echéance de révision du loyer</label>
        <input type="text" class="form-control rounded-pill" formControlName="echeance_revision_loyer">
      </div>

      <!-- ____________ -->

      <!-- <div class="col-lg-3 form-group mt-4">
        <label for="">Propriètaire</label>
        <select class="form-control rounded-pill" formControlName="proprietaire">
          <option *ngFor="let prop of propriataire" [value]="prop._id"> {{ prop.nom_prenom }} </option>

        </select>
      </div> -->

      <div class="col-lg-3 form-group mt-4">
        <label for="">Type de lieu</label>
        <select class="form-control rounded-pill" (change)='getLieuxByType($event)' formControlName="type_lieu">
          <option *ngFor="let lieu of lieux" [value]="lieu.type_lieu"> {{ lieu.type_lieu }} </option>
        </select>
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Lieu</label>
        <select class="form-control rounded-pill" formControlName="lieu">
          <option *ngFor="let lieuByType of lieuxByType" [value]="lieuByType._id"> {{ lieuByType.intitule_lieu }} </option>
          
        </select>
      </div>

      <div class="mt-4">
        <div class="form-box mt-4">
          <div *ngIf="etat_contrat == 'Avenant'; then AV"></div>
          <div *ngIf="etat_contrat == 'Suspension'; then SUS"></div>
          <div *ngIf="etat_contrat == 'Résiliation'; then RES"></div>
        </div>
      </div>

      <form [formGroup]="etatContrat">
        <!-- Template Avenant start -->
        <ng-template #AV>
          <h6><u>Etat du contrat: Avenant</u></h6>
          <div class="row">

            <div class="col-lg-3 form-group mt-4">
              <label for="">N° Avenant</label>
              <input type="text" class="form-control rounded-pill" formControlName="N_avenant">
            </div>

            <div class="col-lg-3 form-group mt-4">
              <label for="">Pièce jointe</label>
              <input type="file" class="form-control rounded-pill btn success-btn" formControlName="piece_joint_av"
                multiple>
            </div>

            <div class="col-lg-3 form-group mt-4">
              <label for="">Motif</label>
              <input type="text" class="form-control rounded-pill" formControlName="motif">
            </div>

            <div class="col-lg-3 form-group mt-4">
              <label for="">Montant du nouveau loyer</label>
              <input type="number" class="form-control rounded-pill" formControlName="montant_new_loyer">
            </div>

            <div class="col-lg-3 form-group mt-4">
              <label for="">Signalétique du successeur</label>
              <input type="text" class="form-control rounded-pill" formControlName="signaletique_successeur">
            </div>

          </div>

        </ng-template>
        <!-- Template Avenant end -->

        <!-- Template Suspension start -->
        <ng-template #SUS>

          <h6><u>Etat du contrat: Suspension</u></h6>
          <div class="row">
            <div class="col-lg-3 form-group mt-4">
              <label for="">Intitulé de lieu</label>
              <input type="text" class="form-control rounded-pill" formControlName="intitule_lieu_sus">
            </div>

            <div class="col-lg-3 form-group mt-4">
              <label for="">Date de suspension</label>
              <input type="date" class="form-control rounded-pill" [ngModel]="date_suspension | date:'yyyy-MM-dd'"
                formControlName="date_suspension">
            </div>

            <div class="col-lg-3 form-group mt-4">
              <label for="">Durée de suspension</label>
              <input type="number" class="form-control rounded-pill" formControlName="duree_suspension">
            </div>

            <div class="col-lg-3 form-group mt-4">
              <label for="">Motif de suspension</label>
              <input type="text" class="form-control rounded-pill" formControlName="motif_suspension">
            </div>

          </div>

        </ng-template>
        <!-- Template Suspension end -->

        <!-- Template Resiliation start -->
        <ng-template #RES>

          <h6><u>Etat du contrat: Résiliation</u></h6>

          <div class="row">
            <div class="col-lg-3 form-group mt-4">
              <label for="">Intitulé de lieu</label>
              <input type="text" class="form-control rounded-pill" formControlName="intitule_lieu_res">
            </div>

            <div class="col-lg-3 form-group mt-4">
              <label for="">Reprise caution</label>
              <input type="text" class="form-control rounded-pill" formControlName="reprise_caution">
            </div>

            <div class="col-lg-3 form-group mt-4">
              <label for="">Date de résiliation</label>
              <input type="date" class="form-control rounded-pill" [ngModel]="date_resiliation | date:'yyyy-MM-dd'"
                formControlName="date_resiliation">
            </div>

            <div class="col-lg-3 form-group mt-4">
              <label for="">Etat des lieux de sortie</label>
              <input type="text" class="form-control rounded-pill" formControlName="etat_lieux_sortie">
            </div>

            <div class="col-lg-3 form-group mt-4">
              <label for="">Images d'état des lieux de sortie</label>
              <input type="file" class="form-control btn success-btn" formControlName="images_lieux_sortie" multiple>
            </div>

            <div class="col-lg-3 form-group mt-4">
              <label for="">Préavis</label>
              <input type="text" class="form-control rounded-pill" formControlName="preavis">
            </div>

            <div class="col-lg-3 form-group mt-4">
              <label for="">Piéce jointe (la lettre de résiliation scannée)</label>
              <input type="file" class="form-control btn success-btn" formControlName="lettre_resiliation_scannee"
                multiple>
            </div>

          </div>



        </ng-template>
        <!-- Template Resiliation end -->
      </form>

    </div>



    <!-- Button Ajouter -->
    <div class="form-group mt-4 col-lg-2 d-flex">
      <button *ngIf="!formType" type="submit" id="Ajouter" class="btn second-btn form-control"
        (click)="addNewContrat(); alertOn('add');">
        Ajouter
      </button>
      <button *ngIf="formType" type="submit" id="Modifier" class="btn second-btn form-control"
        (click)="updateContrat();alertOn('update'); closeModal()">
        Modifier
      </button>
    </div>
  </form>
  <!-- Fin de formulaire-->