<!--Début de Div qui contient le formulaire form-contrat-->
<div class="form-box mt-4">
  <!--Début Formulaire form-contrat-->
  <form [formGroup]="contratForm" enctype="multipart/form-data">

    <div class="w-100 d-flex justify-content-center">
      <div *ngIf="errors" class="error-alert p-2 my-2">{{ errors }}</div>
      <!-- alert de reussite -->
      <div *ngIf="postDone" class="done-alert p-2 my-2">{{ PostSucces }}</div>
      <div *ngIf="updateDone" class="done-alert p-2 my-2">{{ updateSucces }}</div>
    </div>

    <!--Début 1er Row-->
    <div class="row">
      <!-- Calcul retenue a la source par mois/ total brut loyer / total net loyer -->
      <input type="hidden" class="form-control" [value]="duree" formControlName="duree" />
      <input type="hidden" class="form-control" [value]="retunue_source_par_mois"
        formControlName="retunue_source_par_mois" />
      <input type="hidden" class="form-control" [value]="totalBrutLoyer" formControlName="total_montant_brut_loyer" />
      <input type="hidden" class="form-control" [value]="totalNetLoyer" formControlName="total_montant_net_loyer" />

      <!-- Validation inputs -->
      <input type="hidden" class="form-control btn success-btn" formControlName="validation1_DMG" />
      <input type="hidden" class="form-control btn success-btn" formControlName="validation2_DAJC" />
      <input type="hidden" class="form-control btn success-btn" formControlName="numero_contrat" />

      <div class="col-lg-3 form-group mt-4">
        <label for="">Pièce jointe</label>
        <input type="file" class="form-control btn success-btn" formControlName="piece_jointe" accept=".zip"
          (change)="onFileSelected($event)" />
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Date de début du loyer</label>
        <input type="date" class="form-control rounded-pill" (change)="calculMontant()"
          formControlName="date_debut_loyer" />

      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Montant du loyer (Mensuel)</label>
        <input type="number" [(ngModel)]="montantLoyer" (keyup)="calculMontant()" class="form-control rounded-pill"
          formControlName="montant_loyer" />
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Taxe d’édilité comprise dans le loyer</label>
        <input type="text" class="form-control rounded-pill" formControlName="taxe_edilite_comprise_loyer" />
      </div>


      <div class="col-lg-3 form-group mt-4">
        <label for="">Taxe d’édilité non comprise dans le loyer</label>
        <input type="text" class="form-control rounded-pill" formControlName="taxe_edilite_noncomprise_loyer" />
      </div>


      <div class="col-lg-3 form-group mt-4">
        <label for="">Périodicité de paiement</label>
        <!-- <input type="text" class="form-control rounded-pill" formControlName="periodicite_paiement" /> -->
        <select class="form-control rounded-pill" formControlName="periodicite_paiement">
          <option value="mensuelle">Mensuelle</option>
          <option value="trimestrielle">Trimestrielle</option>
          <option value="annuelle">Annuelle</option>
        </select>
      </div>


      <div class="col-lg-3 form-group mt-4">
        <label for="">Durée de location</label>
        <input type="number" class="form-control rounded-pill" formControlName="duree_location" />
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Date fin de contrat de bail</label>
        <input type="date" class="form-control rounded-pill" formControlName="date_fin_contrat">
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Déclaration d’option</label>
        <select class="form-control rounded-pill" (change)="calculMontant()" [(ngModel)]="hasDeclarationOption"
          formControlName="declaration_option">
          <option value="oui">Oui</option>
          <option value="non">Non</option>
        </select>
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Taux de l’impôt</label>
        <input type="text" class="form-control rounded-pill" [value]="tauxImpot + '%'" formControlName="taux_impot"
          readonly>
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Retenue à la source (Annuel) </label>
        <input type="text" [value]="retenueSource" class="form-control rounded-pill" formControlName="retenue_source"
          readonly>
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Montant après impôt (Mensuel)</label>
        <input type="number" class="form-control rounded-pill" [value]="montantApresImpot"
          formControlName="montant_apres_impot" readonly>
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Montant de la caution</label>
        <input type="number" class="form-control rounded-pill" [(ngModel)]="montantCaution"
          (keyup)="calculEffortCaution()" formControlName="montant_caution">
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Effort de la caution</label>
        <input type="text" class="form-control rounded-pill" [value]="effortCaution" formControlName="effort_caution"
          readonly>
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Date de reprise de la caution</label>
        <input type="date" class="form-control rounded-pill" formControlName="date_reprise_caution">
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Statut de la caution</label>
        <!-- <input type="text" class="form-control rounded-pill" formControlName="statut_caution"> -->
        <select class="form-control rounded-pill" formControlName="statut_caution">
          <option value="Consommée">Consommée</option>
          <option value="Récupérée">Récupérée</option>
          <option value="Compensée">Compensée</option>
        </select>

      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Montant de l’avance</label>
        <input type="number" class="form-control rounded-pill" formControlName="montant_avance">
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Durée de l’avance(par mois)</label>
        <input type="number" class="form-control rounded-pill" [(ngModel)]="dureeAvance" (keyup)="calculDate()"
          formControlName="duree_avance">
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Date fin de l’avance</label>
        <input type="date" class="form-control rounded-pill" [value]="formattedDate" formControlName="date_fin_avance"
          readonly>
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Date 1er paiement</label>
        <input type="date" class="form-control rounded-pill" formControlName="date_1er_paiement">
      </div>


      <div class="col-lg-3 form-group mt-4">
        <label for="">N° d’engagement de la dépense</label>
        <input type="text" class="form-control rounded-pill" formControlName="n_engagement_depense">
      </div>

      <div class="col-lg-3 form-group mt-4">
        <label for="">Echéance de révision du loyer</label>
        <input type="text" class="form-control rounded-pill" formControlName="echeance_revision_loyer">
      </div>

      <!-- ____________ -->
      <div *ngIf="update" class="mt-5">
        <div class="row">
          <div class="col-lg-6 main-card px-5 py-2">
            <div class="row">
              <div class="col-8">
                <h3>Foncier sélèctionné</h3>
              </div>
              <div class="col-4">
                <a class="btn btn-sm success-btn" (click)="updateFoncier = true"><i class="fal fa-edit"></i></a>
                <a *ngIf="updateFoncier" class="btn btn-sm danger-btn ms-2" (click)="updateFoncier = false">Annuler</a>
              </div>
            </div>

            <div *ngIf="!updateFoncier" class="row mt-2">
              <p><strong>Adresse : </strong>&nbsp; {{ contrat.foncier?.adresse }}</p>
            </div>

            <div *ngIf="updateFoncier" class="col-lg-5 form-group mt-2">
              <label for="">Sélectionner un foncier</label>
              <select class="form-control rounded-pill" formControlName="foncier">
                <option *ngFor="let fc of foncier" [value]="fc._id"> {{ fc.adresse }} </option>
              </select>
            </div>
          </div>
          <div class="col-lg-6 main-card px-5 py-2">
            <div class="row">
              <div class="col-8">
                <h3>Lieu sélèctionné</h3>
              </div>
              <div class="col-4">
                <a class="btn btn-sm success-btn" (click)="updateLieu = true"><i class="fal fa-edit"></i></a>
                <a *ngIf="updateLieu" class="btn btn-sm danger-btn ms-2" (click)="updateLieu = false">Annuler</a>
              </div>
            </div>

            <div *ngIf="!updateLieu" class="row mt-2">
              <p><strong>Intitulé : </strong>&nbsp; {{ contrat.lieu?.intitule_lieu }}</p>
            </div>

            <div *ngIf="updateLieu" class="row mt-2">
              <div class="col-lg-5 form-group">
                <div class="col-lg-3 form-group mt-4">
                  <input type="hidden" [(ngModel)]="foncier.lieu" formControlName="lieu">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!update" class="row">
        <div class="col-lg-3 form-group mt-4">
          <label for="">Addresse du foncier</label>
          <input type="hidden" [(ngModel)]="foncier._id" formControlName="foncier">
          <p> 
            <strong>
              {{ foncier.adresse }} 
            </strong>
          </p>
        </div>

        <div class="col-lg-3 form-group mt-4">
          <input type="hidden" [(ngModel)]="foncier.lieu" formControlName="lieu">
        </div>
      </div>

      <div *ngIf="update" class="col-lg-3 form-group mt-5">
        <label for="">Etat de contrat</label>
        <select class="form-control rounded-pill" formControlName="etat_contrat_libelle" [(ngModel)]="etatContratTypes"
          (change)="showEtatSection($event)">
          <option value="Active">Active</option>
          <option *ngIf="this.contrat.validation2_DAJC"
            [value]="etatContratTypes == 'Avenant' ? etatContratTypes : 'Avenant'">Avenant</option>
          <option value="Suspension">Suspension</option>
          <option value="Résiliation">Résiliation</option>
        </select>
      </div>

      <div class="mt-4">
        <div class="form-box mt-2">
          <div *ngIf="etatContratTypes == 'Avenant'; then AV"></div>
          <div *ngIf="etatContratTypes == 'Suspension'; then SUS"></div>
          <div *ngIf="etatContratTypes == 'Résiliation'; then RES"></div>
        </div>
      </div>



      <!-- Template Avenant start -->
      <ng-template #AV>
        <h6>Etat du contrat: &nbsp;<span>Avenant</span></h6>
        <div class="row">

          <div class="col-lg-3 form-group mt-4">
            <label for="">N° Avenant</label>
            <input type="text" class="form-control rounded-pill" formControlName="etat_contrat_n_avenant">
          </div>

          <div class="col-lg-3 form-group mt-4">
            <label for="">Pièce jointe</label>
            <input type="file" class="form-control rounded-pill btn success-btn"
              formControlName="etat_contrat_piece_jointe_avenant" accept=".zip"
              (change)="onFileSelectedAvenant($event)">
          </div>

          <div class="col-lg-3 form-group mt-4">
            <label for="">Motif</label>
            <!-- <input type="text" class="form-control rounded-pill" formControlName="etat_contrat_motif"> -->
            <select class="form-control rounded-pill" formControlName="etat_contrat_motif">
              <option value="Décès">Décès</option>
              <option value="Cession">Cession</option>
              <option value="Révision_prix_loyer">Révision du prix du loyer</option>
            </select>

          </div>

          <div class="col-lg-3 form-group mt-4">
            <label for="">Montant du nouveau loyer</label>
            <input type="number" class="form-control rounded-pill" formControlName="etat_contrat_montant_nouveau_loyer">
          </div>

          <div class="col-lg-3 form-group mt-4">
            <label for="">Signalétique du successeur</label>
            <input type="text" class="form-control rounded-pill" formControlName="etat_contrat_signaletique_successeur">
          </div>

        </div>

      </ng-template>
      <!-- Template Avenant end -->

      <!-- Template Suspension start -->
      <ng-template #SUS>

        <h6>Etat du contrat: &nbsp;<span>Suspension</span></h6>
        <div class="row">
          <div class="col-lg-3 form-group mt-4">
            <label for="">Intitulé de lieu</label>
            <input type="text" class="form-control rounded-pill" formControlName="etat_contrat_intitule_lieu">
          </div>

          <div class="col-lg-3 form-group mt-4">
            <label for="">Date de suspension</label>
            <input type="date" class="form-control rounded-pill" formControlName="etat_contrat_date_suspension">
          </div>

          <div class="col-lg-3 form-group mt-4">
            <label for="">Durée de suspension</label>
            <input type="number" class="form-control rounded-pill" formControlName="etat_contrat_duree_suspension">
          </div>

          <div class="col-lg-3 form-group mt-4">
            <label for="">Motif de suspension</label>
            <input type="text" class="form-control rounded-pill" formControlName="etat_contrat_motif_suspension">
          </div>

        </div>

      </ng-template>
      <!-- Template Suspension end -->

      <!-- Template Resiliation start -->
      <ng-template #RES>

        <h6>Etat du contrat: &nbsp;<span>Résiliation</span></h6>

        <div class="row">
          <div class="col-lg-3 form-group mt-4">
            <label for="">Intitulé de lieu</label>
            <input type="text" class="form-control rounded-pill" formControlName="etat_contrat_intitule_lieu">
          </div>

          <div class="col-lg-3 form-group mt-4">
            <label for="">Reprise caution</label>
            <!-- <input type="text" class="form-control rounded-pill" formControlName="etat_contrat_reprise_caution"> -->
            <select class="form-control rounded-pill" formControlName="etat_contrat_reprise_caution">
              <option value="Consommée">Consommée</option>
              <option value="Récupérée">Récupérée</option>
            </select>
          </div>

          <div class="col-lg-3 form-group mt-4">
            <label for="">Date de résiliation</label>
            <input type="date" class="form-control rounded-pill" (change)="calculMontant()"
              formControlName="etat_contrat_date_resiliation">
          </div>

          <div class="col-lg-3 form-group mt-4">
            <label for="">Etat des lieux de sortie</label>
            <input type="text" class="form-control rounded-pill" formControlName="etat_contrat_etat_lieu_sortie">
          </div>

          <div class="col-lg-3 form-group mt-4">
            <label for="">Images d'état des lieux de sortie</label>
            <input type="file" class="form-control btn success-btn"
              formControlName="etat_contrat_images_etat_res_lieu_sortie" accept=".zip"
              (change)="onFileSelectedResLieuSortie($event)">
          </div>

          <div class="col-lg-3 form-group mt-4">
            <label for="">Préavis</label>
            <input type="text" class="form-control rounded-pill" formControlName="etat_contrat_preavis">
          </div>

          <div class="col-lg-3 form-group mt-4">
            <label for="">Piéce jointe (la lettre de résiliation scannée)</label>
            <input type="file" class="form-control btn success-btn"
              formControlName="etat_contrat_lettre_res_piece_jointe" accept=".zip"
              (change)="onFileSelectedLettreRes($event)">
          </div>

        </div>
      </ng-template>
      <!-- Template Resiliation end -->


    </div>



    <!-- Button Ajouter -->
    <div class="form-group mt-5 col-lg-2 d-flex">
      <button *ngIf="!update" type="submit" id="Ajouter" class="btn second-btn form-control" (click)="addNewContrat();">
        Ajouter
      </button>
      <button *ngIf="update" type="submit" id="Modifier" class="btn second-btn form-control" (click)="updateContrat();">
        Modifier
      </button>
    </div>
  </form>
  <!-- Fin de formulaire-->