<app-main-modal [closeBtn]='false' [id]="id" >
    <div class="accessdenied-content d-flex align-items-center justify-content-center flex-column">
        <h2>Accès refusé</h2>

        <p *ngIf="role == 'DC' || role == 'CDGSP' || role == 'CSLA' || role == 'DAJC'">
            Cette page est dédié que pour
            <span *ngIf="role == 'DC'">Département Comptable</span>
            <span *ngIf="role == 'CDGSP'">Chef de département gestion et suivi du patrimoine</span>
            <span *ngIf="role == 'CSLA'">Chargé de suivi des loyers et aménagements</span>
            <span *ngIf="role == 'DAJC'">Direction Affaires Juridiques et Conformité</span>
        </p>
    </div>

    <div class="d-inline-flex justify-content-center gap-2">
        <a class="btn px-lg-4 second-btn" (click)='backToHome()'><i class="fal fa-home"></i> Tableau de bord</a>
        <a class="btn px-lg-4 danger-btn me-2" (click)="logout()">Se deconnecter <i class="far fa-sign-out"></i></a>
    </div>
</app-main-modal>