<div id="form_section">
  <form
    [formGroup]="proprietaireForm"
    (ngSubmit)="update ? updateProprietaire() : addProprietaire()"
  >
    <!-- Message d'ERREUR de serveur -->
    <div class="w-100 d-flex justify-content-center">
      <div *ngIf="errors" class="error-alert p-2 my-2">{{ errors }}</div>
      <!-- Message de succés de serveur -->
      <div *ngIf="updateDone" class="done-alert p-2 my-2">
        {{ Updatesuccess }}
      </div>
      <div *ngIf="postDone" class="done-alert p-2 my-2">{{ PostSucces }}</div>
      <!-- <div *ngIf="checkMontant" class="error-alert p-2 my-2">{{ ErrorMontantLoyer }}</div> -->
    </div>

    <div class="row form-group mt-4 justify-content-center">
      <div class="col-lg-3">
        <input
          type="radio"
          id="pres-physique"
          class="btn-check check"
          name="is_person_physique"
          (click)="proprietaireTypeToggel('Personne physique')"
          autocomplete="off"
          [checked]="
            proprietaire?.type_proprietaire === 'Personne physique'
              ? true
              : false
          "
        />
        <!-- formControlName="is_person_physique" -->
        <!-- [value]="true"
          [(ngModel)]="personPhysique" -->
        <label
          class="px-3 py-1 rounded-pill checkbox-list-btns text-center w-100"
          for="pres-physique"
          >Personne physique
        </label>
      </div>
      <div class="col-lg-3">
        <input
          type="radio"
          class="btn-check check"
          id="pres-morale"
          name="is_person_physique"
          (click)="proprietaireTypeToggel('Personne morale')"
          autocomplete="off"
          [checked]="
            proprietaire?.type_proprietaire === 'Personne morale' ? true : false
          "
        />
        <!-- formControlName="is_person_physique" -->
        <!-- [value]="false"
          [(ngModel)]="personPhysique" -->
        <label
          class="px-3 py-1 rounded-pill checkbox-list-btns text-center w-100"
          for="pres-morale"
          >Personne morale</label
        >
      </div>
    </div>

    <ng-container *ngIf="proprTypeCheck">
      <!--Début 1er Row-->
      <div class="row">
        <!-- If isMand true show list of proprietaire to checked -->
        <div *ngIf="personPhysique; then PersonPhysique"></div>
        <div *ngIf="!personPhysique; then PersonMoral"></div>

        <ng-template #PersonPhysique>
          <div class="col-lg-3 form-group mt-4" *ngIf="personPhysique">
            <label for=""
              >Nom et prénom <span class="danger-txt">*</span></label
            >
            <input
              type="text"
              class="form-control rounded-pill"
              formControlName="nom_prenom"
              [ngClass]="{
                'is-invalid': checkInputsValidation(nom_prenom)
              }"
              appUppercase
            />
            <!-- Error Message  -->
            <div class="" *ngIf="checkInputsValidation(nom_prenom)">
              <p
                class="danger-txt"
                *ngIf="nom_prenom?.errors?.requiredWhenIsPhysique"
              >
                Veuillez remplir ce champ
              </p>
              <p class="danger-txt" *ngIf="nom_prenom?.errors?.minlength">
                Vous devez entrer 6 caractères au moin
              </p>
              <p class="danger-txt" *ngIf="nom_prenom?.errors?.pattern">
                Vous devez entrer seulement des alphabets
              </p>
            </div>
          </div>

          <div class="col-lg-3 form-group mt-4" *ngIf="personPhysique">
            <label for="">N° CIN <span class="danger-txt">*</span></label>
            <input
              type="text"
              class="form-control rounded-pill"
              formControlName="cin"
              [ngClass]="{
                'is-invalid': checkInputsValidation(cin)
              }"
              appUppercase
            />
            <!-- Error Message  -->
            <div class="" *ngIf="checkInputsValidation(cin)">
              <p class="danger-txt" *ngIf="cin?.errors?.requiredWhenIsPhysique">
                Veuillez remplir ce champ
              </p>
              <p class="danger-txt" *ngIf="cin?.errors?.maxlength">
                Ce champ ne doit pas dépasser 8 caractères
              </p>
              <p class="danger-txt" *ngIf="cin?.errors?.required">
                Veuillez remplir ce champ
              </p>
            </div>
          </div>

          <div class="col-lg-3 form-group mt-4" *ngIf="personPhysique">
            <label for="">Passeport Propriétaire</label>
            <input
              type="text"
              class="form-control rounded-pill"
              formControlName="passport"
              [ngClass]="{
                'is-invalid': checkInputsValidation(passport)
              }"
              appUppercase
            />
            <!-- Error Message  -->
            <div class="" *ngIf="checkInputsValidation(passport)">
              <p class="danger-txt" *ngIf="passport?.errors?.maxlength">
                Ce champ ne doit pas dépasser 8 caractères
              </p>
            </div>
          </div>

          <div class="col-lg-3 form-group mt-4" *ngIf="personPhysique">
            <label for="">Carte séjour Propriétaire</label>
            <input
              type="text"
              class="form-control rounded-pill"
              formControlName="carte_sejour"
              [ngClass]="{
                'is-invalid': checkInputsValidation(carte_sejour)
              }"
              appUppercase
            />
            <!-- Error Message  -->
            <div class="" *ngIf="checkInputsValidation(carte_sejour)">
              <p class="danger-txt" *ngIf="carte_sejour?.errors?.maxlength">
                Ce champ ne doit pas dépasser 8 caractères
              </p>
            </div>
          </div>
        </ng-template>

        <ng-template #PersonMoral>
          <div class="col-lg-3 form-group mt-4" *ngIf="!personPhysique">
            <label for=""
              >Raison sociale <span class="danger-txt">*</span></label
            >
            <input
              type="text"
              class="form-control rounded-pill"
              formControlName="raison_social"
              [ngClass]="{
                'is-invalid': checkInputsValidation(raison_social)
              }"
              appUppercase
            />

            <!-- Error Message  -->
            <div class="" *ngIf="checkInputsValidation(raison_social)">
              <p
                class="danger-txt"
                *ngIf="raison_social?.errors?.requiredWhenIsMoral"
              >
                Veuillez remplir ce champ
              </p>
            </div>
          </div>
          <div class="col-lg-3 form-group mt-4" *ngIf="!personPhysique">
            <label for=""
              >N° de l’Identifiant Fiscal
              <span class="danger-txt">*</span></label
            >
            <input
              type="text"
              class="form-control rounded-pill"
              formControlName="n_registre_commerce"
              [ngClass]="{
                'is-invalid': checkInputsValidation(n_registre_commerce)
              }"
            />

            <!-- Error Message  -->
            <div class="" *ngIf="checkInputsValidation(n_registre_commerce)">
              <p
                class="danger-txt"
                *ngIf="n_registre_commerce?.errors?.requiredWhenIsMoral"
              >
                Veuillez remplir ce champ
              </p>
              <p
                class="danger-txt"
                *ngIf="n_registre_commerce?.errors?.pattern"
              >
                Vous devez entrer des chiffres
              </p>
            </div>
          </div>
        </ng-template>

        <div class="col-lg-3 form-group mt-4">
          <label for="">Téléphone </label>
          <input
            type="text"
            class="form-control rounded-pill"
            formControlName="telephone"
            maxlength="10"
            [ngClass]="{
              'is-invalid': checkInputsValidation(telephone)
            }"
          />

          <!-- Error Message  -->
          <div class="" *ngIf="checkInputsValidation(telephone)">
            <p class="danger-txt" *ngIf="telephone?.errors?.pattern">
              Vous devez entrer seulement des chiffres
            </p>
            <p class="danger-txt" *ngIf="telephone?.errors?.maxlength">
              Vous devez entrer 10 chiffres au maximum
            </p>
          </div>
        </div>

        <div class="col-lg-3 form-group mt-4">
          <label for="">Fax </label>
          <input
            type="text"
            class="form-control rounded-pill"
            formControlName="fax"
            maxlength="10"
            [ngClass]="{
              'is-invalid': checkInputsValidation(fax)
            }"
          />

          <!-- Error Message  -->
          <div class="" *ngIf="checkInputsValidation(fax)">
            <p class="danger-txt" *ngIf="fax?.errors?.pattern">
              Vous devez entrer seulement des chiffres
            </p>
            <p class="danger-txt" *ngIf="fax?.errors?.maxlength">
              Vous devez entrer 10 chiffres au maximum
            </p>
          </div>
        </div>

        <div class="col-lg-3 form-group mt-4">
          <label for=""
            >N° de compte bancaire <span class="danger-txt">*</span></label
          >
          <input
            type="text"
            class="form-control rounded-pill"
            formControlName="n_compte_bancaire"
            required
            [ngClass]="{
              'is-invalid': checkInputsValidation(n_compte_bancaire),
              'is-valid': !n_compte_bancaire?.invalid
            }"
            maxlength="24"
          />

          <!-- Error Message  -->
          <div class="" *ngIf="checkInputsValidation(n_compte_bancaire)">
            <p class="danger-txt" *ngIf="n_compte_bancaire?.errors?.required">
              Veuillez remplir ce champ
            </p>
            <p class="danger-txt" *ngIf="n_compte_bancaire?.errors?.pattern">
              Vous devez entrer 24 caractères(chiffres)
            </p>
          </div>
        </div>

        <div class="col-lg-3 form-group mt-4">
          <label for="">Banque <span class="danger-txt">*</span></label>
          <input
            type="text"
            class="form-control rounded-pill"
            formControlName="banque"
            required
            [ngClass]="{
              'is-invalid': checkInputsValidation(banque),
              'is-valid': !banque?.invalid
            }"
            appUppercase
          />

          <!-- Error Message  -->
          <div class="" *ngIf="checkInputsValidation(banque)">
            <p class="danger-txt" *ngIf="banque?.errors?.required">
              Veuillez remplir ce champ
            </p>
            <!-- <p class="danger-txt" *ngIf="banque.errors.minlength">
            CIN doit être au moins 4 caractéres
          </p> -->
          </div>
        </div>

        <div class="col-lg-3 form-group mt-4">
          <label for="">Nom de l’Agence bancaire</label>
          <input
            type="text"
            class="form-control rounded-pill"
            formControlName="nom_agence_bancaire"
            [ngClass]="{
              'is-invalid': checkInputsValidation(nom_agence_bancaire)
            }"
            appUppercase
          />
        </div>
      </div>
      <!--Début 3éme Row-->
      <div class="row">
        <div class="col-lg-12 form-group mt-4">
          <label for="">Adresse <span class="danger-txt">*</span></label>
          <textarea
            type="text"
            class="form-control"
            formControlName="adresse"
            [ngClass]="{
              'is-invalid': checkInputsValidation(adresse),
              'is-valid': !adresse?.invalid
            }"
            appUppercase
          ></textarea>
          <!-- Error Message  -->
          <div class="" *ngIf="checkInputsValidation(adresse)">
            <p class="danger-txt" *ngIf="adresse?.errors?.required">
              Veuillez remplir ce champ
            </p>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Button Modifier & Ajouter -->
    <div class="form-group mt-5 col-lg-3 d-flex">
      <button
        type="submit"
        class="btn second-btn form-control"
        (click)="scrollToTop()"
        *ngIf="update"
      >
        <!-- [disabled]="proprietaireForm.invalid" -->
        Modifier
      </button>
      <button
        type="submit"
        class="btn second-btn form-control"
        (click)="scrollToTop()"
        *ngIf="!update"
        [disabled]="
          proprietaireForm.status === 'INVALID' ||
          n_registre_commerce?.errors?.requiredWhenIsMoral ||
          raison_social?.errors?.requiredWhenIsMoral ||
          nom_prenom?.errors?.requiredWhenIsPhysique ||
          cin?.errors?.requiredWhenIsPhysique
        "
      >
        Ajouter
      </button>
    </div>
  </form>
</div>
