

<form [formGroup]="proprietaireForm" (ngSubmit)="(proprietaire == '') ? AddProprietaire() : updateProprietaire() ">
    <!-- Message d'ERREUR de serveur -->
    <div *ngIf="errors" class="error-alert p-2 my-2">{{ errors }}</div>
    <!-- Message de succés de serveur -->
    <div *ngIf="updateDone" class="done-alert p-2 my-2">{{ Updatesuccess }}</div>
    <div *ngIf="postDone" class="done-alert p-2 my-2">{{ PostSucces }}</div>

    <!--Début 1er Row-->
    <div class="row">
      <div class="col-lg-3 form-group mt-2">
        <label for="">N° CIN du Propriétaire</label>
        <input type="text" class="form-control rounded-pill" formControlName="cin" [ngClass]="{
            'is-invalid': checkInputsValidation(cin)
          }" />
      </div>

      <div class="col-lg-3 form-group mt-2">
        <label for="">Passeport Propriétaire</label>
        <input type="text" class="form-control rounded-pill" formControlName="passport" [ngClass]="{
            'is-invalid': checkInputsValidation(passport)
          }" />
      </div>

      <div class="col-lg-3 form-group mt-2">
        <label for="">Carte séjour Propriétaire</label>
        <input type="text" class="form-control rounded-pill" formControlName="carte_sejour" [ngClass]="{
            'is-invalid': checkInputsValidation(carte_sejour)
          }" />
      </div>

      <div class="col-lg-3 form-group mt-2">
        <label for="">Raison sociale propriétaire</label>
        <input type="text" class="form-control rounded-pill" formControlName="raison_social" [ngClass]="{
            'is-invalid': checkInputsValidation(raison_social)
          }" />
      </div>
    </div>
    <!--Début 2éme Row-->
    <div class="row">
      <div class="col-lg-3 form-group mt-2">
        <label for="">N° de registre du commerce</label>
        <input type="text" class="form-control rounded-pill" formControlName="n_registre_commerce" [ngClass]="{
            'is-invalid': checkInputsValidation(n_registre_commerce)
          }" />

        <!-- Error Message  -->
        <div class="" *ngIf="checkInputsValidation(n_registre_commerce)">
          <p class="text-danger" *ngIf="n_registre_commerce.errors.pattern">
            Vous devez entrer des chiffres
          </p>
        </div>
      </div>

      <div class="col-lg-3 form-group mt-2">
        <label for="">Nom et prénom propriétaire</label>
        <input type="text" class="form-control rounded-pill" formControlName="nom_prenom" required [ngClass]="{
            'is-invalid': checkInputsValidation(nom_prenom),
            'is-valid': !nom_prenom.invalid
          }" />

        <!-- Error Message  -->
        <div class="" *ngIf="checkInputsValidation(nom_prenom)">
          <p class="text-danger" *ngIf="nom_prenom?.errors?.required">
            Veuillez remplir ce champ
          </p>
          <p class="text-danger" *ngIf="nom_prenom?.errors?.minlength">
            Vous devez entrer 6 caractères au moin
          </p>
          <p class="text-danger" *ngIf="nom_prenom.errors.pattern">
            Vous devez entrer seulement des alphabets
          </p>
        </div>
      </div>

      <div class="col-lg-3 form-group mt-2">
        <label for="">Téléphone du propriétaire</label>
        <input type="text" class="form-control rounded-pill" formControlName="telephone" required [ngClass]="{
            'is-invalid': checkInputsValidation(telephone),
            'is-valid': !telephone.invalid
          }" />

        <!-- Error Message  -->
        <div class="" *ngIf="checkInputsValidation(telephone)">
          <p class="text-danger" *ngIf="telephone?.errors?.required">
            Veuillez remplir ce champ
          </p>
          <p class="text-danger" *ngIf="telephone.errors.pattern">
            Vous devez entrer seulement des chiffres
          </p>
        </div>
      </div>

      <div class="col-lg-3 form-group mt-2">
        <label for="">Fax du propriétaire</label>
        <input type="text" class="form-control rounded-pill" formControlName="fax" [ngClass]="{
            'is-invalid': checkInputsValidation(fax)
          }" />

        <!-- Error Message  -->
        <div class="" *ngIf="checkInputsValidation(fax)">
          <p class="text-danger" *ngIf="fax.errors.pattern">
            Vous devez entrer seulement des chiffres
          </p>
        </div>
      </div>
    </div>

    <!--Début 3éme Row-->
    <div class="row">
      <div class="col-lg-3 form-group mt-2">
        <label for="">Adresse du propriétaire</label>
        <input type="text" class="form-control rounded-pill" formControlName="adresse" [ngClass]="{
            'is-invalid': checkInputsValidation(adresse)
          }" />
      </div>

      <div class="col-lg-3 form-group mt-2">
        <label for="">N° de compte bancaire P</label>
        <input type="text" class="form-control rounded-pill" formControlName="n_compte_bancaire" required [ngClass]="{
            'is-invalid': checkInputsValidation(n_compte_bancaire),
            'is-valid': !n_compte_bancaire.invalid
          }" />

        <!-- Error Message  -->
        <div class="" *ngIf="checkInputsValidation(n_compte_bancaire)">
          <p class="text-danger" *ngIf="n_compte_bancaire?.errors?.required">
            Veuillez remplir ce champ
          </p>
          <p class="text-danger" *ngIf="n_compte_bancaire.errors.pattern">
            Vous devez entrer seulement des chiffres
          </p>
        </div>
      </div>

      <div class="col-lg-3 form-group mt-2">
        <label for="">Banque</label>
        <input type="text" class="form-control rounded-pill" formControlName="banque" required [ngClass]="{
            'is-invalid': checkInputsValidation(banque),
            'is-valid': !banque.invalid
          }" />

        <!-- Error Message  -->
        <div class="" *ngIf="checkInputsValidation(banque)">
          <p class="text-danger" *ngIf="banque?.errors?.required">
            Veuillez remplir ce champ
          </p>
          <!-- <p class="text-danger" *ngIf="banque.errors.minlength">
            CIN doit être au moins 4 caractéres
          </p> -->
        </div>
      </div>

      <div class="col-lg-3 form-group mt-2">
        <label for="">Nom de l’Agence bancaire</label>
        <input type="text" class="form-control rounded-pill" formControlName="nom_agence_bancaire" [ngClass]="{
            'is-invalid': checkInputsValidation(nom_agence_bancaire)
          }" />
      </div>
    </div>

    <div class="mt-2">Mandataire</div>
    <div class="col-lg-3 form-group d-flex">
      <label for="">Oui</label>
      <input type="radio" name="has_mandataire" [value]="true" class="form-check-input mx-2" [(ngModel)]="isMand"
        formControlName="has_mandataire" />
      <label for="">Non</label>
      <input type="radio" name="has_mandataire" [value]="false" class="form-check-input mx-2" [(ngModel)]="isMand"
        formControlName="has_mandataire" />
    </div>

    <!-- Condition pour afficher ou cacher le formulaire de mandataire -->
    <div *ngIf="isMand; then mandataire"></div>
    <!--  -->
    <!---->

    <!--Début 2éme Row -->
    <div class="row mt-4">
      <!--Début de Div Mandataire Qui contient(Title+divForm+Form)-->
      <ng-template #mandataire>
        <!--Grand Titre Mandataire -->
        <div class="row mt-3 mb-2">
          <div class="margin-main col-lg-12 mt-3">
            <div class="d-flex justify-content-between">
              <h4 class="main-title">Modifier Mandataire</h4>
            </div>
          </div>
        </div>

        <!--Début de Conteneur Mandataire-->
        <div>
          <h6>Remplissage des données</h6>

          <!--Début Div form Mandataire-->

          <!--Début 3éme Row-->

          <div class="row">
            <div class="col-lg-3 form-group mt-2">
              <label for="">N° CIN mandataire</label>
              <input type="text" class="form-control rounded-pill" formControlName="cin_mandataire" />
            </div>

            <div class="col-lg-3 form-group mt-4">
              <label for="">Raison sociale mandataire</label>
              <input type="text" class="form-control rounded-pill" formControlName="raison_social_mandataire" />
            </div>

            <div class="col-lg-3 form-group mt-4">
              <label for="">Nom et prénom mandataire</label>
              <input type="text" class="form-control rounded-pill" formControlName="nom_prenom_mandataire" />
            </div>

            <div class="col-lg-3 form-group mt-4">
              <label for="">Téléphone du mandataire</label>
              <input type="text" class="form-control rounded-pill" formControlName="telephone_mandataire" />
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3 form-group mt-4">
              <label for="">Fax du mandataire</label>
              <input type="text" class="form-control rounded-pill" formControlName="fax_mandataire" />
            </div>

            <div class="col-lg-3 form-group mt-4">
              <label for="">Adresse du mandataire</label>
              <input type="text" class="form-control rounded-pill" formControlName="adresse_mandataire" />
            </div>

            <div class="col-lg-3 form-group mt-4">
              <label for="">N° de compte bancaire M</label>
              <input type="text" class="form-control rounded-pill" formControlName="n_compte_bancaire_mandataire" />
            </div>
          </div>

          <!--Fin de 3éme Row-->

          <!-- Div form Mandataire End-->
        </div>
        <!--Fin de Conteneur Mandataire -->
      </ng-template>
      <!--Fin de Div Mandataire (Title+divForm+Form)-->
    </div>
    <!-- Fin 2éme Row-->

    <!-- Button Modifier -->
    <div class="form-group mt-4 col-lg-2 d-flex">
        
      <button type="submit" class="btn second-btn form-control" *ngIf="proprietaire != ''">
        Modifier
      </button>
      <button type="submit" class="btn second-btn form-control" *ngIf="proprietaire == ''" >
        Ajouter
      </button>
    </div>
  </form>
