<div class="row title">
  <div class="col-lg-12 mt-3">
    <div class="d-flex justify-content-between">
      <h3 class="main-title">Liste des lieux</h3>

      <div class="d-none d-lg-block">
        <a class="btn btn-sm success-btn" [routerLink]="['/lieux']">
          <i class="fal fa-plus-octagon"></i> Nouveau lieu
        </a>
        <a class="btn btn-sm second-btn mx-3" (click)='refrechPage()'><i class="far fa-undo-alt"></i>
          Rafraîchir la liste
        </a>
        <span data-bs-toggle="tooltip" data-bs-placement="top" title="Ici vous pouvez consulter la list des lieux">
          <i class="fal fa-info"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="w-100 d-flex justify-content-center">
  <div *ngIf="errors" class="error-alert p-2 my-2">{{ errors }}</div>
  <!-- Message succes delete -->
  <div *ngIf="deleteDone" class="done-alert p-2 my-2">{{ deleteSucces }}</div>
</div>

<div class="main-card bg-white table-responsive p-lg-3 mt-4">
  <div class="col-lg-4 mb-4">
    <label for="" class="main-muted-text"><i class="far fa-search"></i> Recherche</label>
    <input type="text" [(ngModel)]="findLieu" (input)='search()' class="form-control rounded-pill"
      placeholder="Rechercher par intitulé/ville/aménagement..." />
  </div>
  <table class="table">

    <thead>
      <tr>
        <th>Type de lieu</th>
        <th>Intitulé de lieu</th>
        <th>Ville</th>
        <th>Téléphone</th>
        <th>Aménagement</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody *ngIf="lieux.length">
      <tr
        *ngFor="let lieu of lieux | paginate: { itemsPerPage: tableSize, currentPage: listLieuxPage, id: 'listLieuxPagination', totalItems: count }">
        <!-- <td >{{ proprietaire._id }}</td> -->
        <td>{{ lieu.type_lieu }}</td>
        <td>{{ lieu.intitule_lieu }}</td>
        <td>{{ lieu.ville }}</td>
        <td>{{ lieu.telephone }}</td>
        <td>
          <span class="p-1" [ngClass]="{
              'done-alert': lieu.has_amenagements,
              'error-alert': !lieu.has_amenagements
            }">
            {{ checkAndPutText(lieu.has_amenagements) }}
          </span>
        </td>
        <td>
          <a [routerLink]="['list', lieu._id]" class="btn btn-sm main-btn"><i class="fal fa-eye"></i></a>
          <a class="btn btn-sm info-btn mx-2" (click)="openModalAndPushLieu(lieu)"><i class="far fa-user-edit"></i></a>
          <a class="btn btn-sm danger-btn" (click)="openConfirmationModal(lieu)"><i class="far fa-user-minus"></i></a>
        </td>
      </tr>

      <pagination-controls id="listLieuxPagination" (pageChange)="listLieuxPage = $event" previousLabel="Précédent"
        nextLabel="Suivant"></pagination-controls>

      <app-main-modal [closeBtn]="true">
        <app-edit-lieux [Lieu]="targetlieu"></app-edit-lieux>
      </app-main-modal>

      <app-confirmation-modal [closeBtn]="true">
        <h3 class="main-title">
          Confirmation de la supression
          <i class="far fa-exclamation-circle"></i>
        </h3>
        <p class="mt-3">Voulez vous vraiment supprimer ce propriétaire?</p>
        <div class="d-inline-flex justify-content-start mt-5">
          <a class="btn btn-lg px-lg-4 danger-btn me-2" (click)="deleteLieu()">Oui</a>
          <a class="btn btn-lg px-lg-4 main-btn" (click)="closeConfirmationModal()">Non</a>
        </div>
      </app-confirmation-modal>
    </tbody>

    <tbody *ngIf="!lieux.length" class="w-100 d-flex align-items-center">
      <h5 class="main-muted-text my-4">Aucun lieu à afficher</h5>
      <a class="btn btn-sm second-btn ms-2" [routerLink]="['/lieux']">
        + Nouveau lieu
      </a>
    </tbody>
  </table>
</div>