<div class="row title">
  <div class="col-lg-12 mt-3">
    <div class="d-flex justify-content-between">
      <h3 class="main-title">Liste des fonciers</h3>

      <div class="d-none d-lg-block">
        <a class="btn btn-sm success-btn" [routerLink]="['/lieux']">
          <i class="fal fa-plus-octagon"></i> Nouveau foncier
        </a>
        <a class="btn btn-sm second-btn mx-3" (click)="refrechPage()"><i class="far fa-undo-alt"></i>
          Rafraîchir la liste
        </a>
        <span data-bs-toggle="tooltip" data-bs-placement="top" title="Ici vous pouvez consulter la list des lieux">
          <i class="fal fa-info"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="w-100 d-flex justify-content-center">
  <div *ngIf="errors" class="error-alert p-2 my-2">{{ errors }}</div>
  <!-- Message succes delete -->
  <div *ngIf="deleteDone" class="done-alert p-2 my-2">{{ deleteSucces }}</div>
</div>

<div class="main-card bg-white table-responsive p-lg-3 mt-4">
  <div class="row">
    <div class="col-lg-4 mb-4">
      <label for="" class="main-muted-text"><i class="far fa-search"></i> Recherche</label>
      <input type="text" [(ngModel)]="findLieu" (input)="search()" class="form-control rounded-pill"
        placeholder="Rechercher par intitulé/ville/aménagement..." />
    </div>
    <!-- <div class="col-sm-1 my-2">
     <label for="" class="main-muted-text">Oui</label>
      <button
        type="submit"
        [(ngModel)]="checkAmenagementTrue"
        
        (click)="searchAmenagementTrue($event)"
        class=" rounded-pill"
      >Oui</button>
  </div>
     <div class="col-sm-1 my-2">
       <label for="" class="main-muted-text">Non</label>
      <button
        type="submit"
        [(ngModel)]="checkAmenagementFalse"
        
        (click)="searchAmenagementFalse($event)"
        class=" rounded-pill"
      >Non</button>
     </div> -->


  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Type de foncier</th>
        <th>Intitulé de foncier</th>
        <th>Ville</th>
        <th>Aménagement</th>
        <th>Propriétaire</th>
        <th>Contrat</th>
        <th>Autres</th>
      </tr>
    </thead>

    <tbody *ngIf="lieux.length">
      <tr *ngFor="
          let lieu of lieux
            | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: listLieuxPage,
                  id: 'listLieuxPagination',
                  totalItems: count
                }
        ">
        <!-- <td >{{ proprietaire._id }}</td> -->
        <td>{{ lieu.type_lieu }}</td>
        <td>{{ lieu.intitule_lieu }}</td>
        <td>{{ lieu.ville }}</td>
        <td>
          <span class="p-1" [ngClass]="{
            'done-alert': lieu.has_amenagements,
            'error-alert': !lieu.has_amenagements
          }">
            {{ checkAndPutText(lieu.has_amenagements) }}
          </span>
        </td>

        <td>
          <div *ngIf="lieu.proprietaire.length">
            <span class="col-sm-6 danger-txt">
             {{lieu.proprietaire.length > 1 ? lieu.proprietaire.length : ''}} propriétaire<span *ngIf="lieu.proprietaire.length > 1" >s</span>
            </span> 
            <span class="mx-1 text-secondary">
              •
            </span>
            <a [routerLink]="['/proprietaire',lieu._id]" class="short-link success-txt"> Ajouter un autre</a>
          </div>

          <a *ngIf="!lieu.proprietaire.length" [routerLink]="['/proprietaire',lieu._id]"
            class="btn btn-sm success-btn">Ajouter un propriétaire</a>
        </td>

        <td>
          <p *ngIf="lieu.has_contrat" class="success-txt">Ce foncier contient un contrat</p>
          <a *ngIf="!lieu.has_contrat" [routerLink]="['/contrat',lieu._id]" class="btn btn-sm success-btn">Ajouter un contrat</a>
        </td>

        <td>
          <div class="btn-group" role="group">
            <a id="btnGroupDrop1" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
              <h4>
                <i class="fal fa-ellipsis-v-alt"></i>
              </h4>
            </a>
            <ul class="dropdown-menu p-3 main-card border-0" aria-labelledby="btnGroupDrop1">
              <li>

                <div class="d-flex">
                  <a [routerLink]="['list', lieu._id]" class="btn btn-sm main-btn"><i class="fal fa-eye"></i></a>
                  <a class="btn btn-sm info-btn mx-2" (click)="openModalAndPushLieu(lieu)"><i
                      class="far fa-user-edit"></i></a>
                  <a class="btn btn-sm danger-btn" (click)="openConfirmationModal(lieu)"><i
                      class="far fa-user-minus"></i></a>
                </div>
              </li>
            </ul>
          </div>
        </td>

      </tr>

      <pagination-controls id="listLieuxPagination" (pageChange)="listLieuxPage = $event" previousLabel="Précédent"
        nextLabel="Suivant"></pagination-controls>

      <app-main-modal [closeBtn]="true">
        <app-edit-lieux [Lieu]="targetlieu"></app-edit-lieux>
      </app-main-modal>

      <app-confirmation-modal [closeBtn]="true">
        <h3 class="main-title">
          Confirmation de la supression
          <i class="far fa-exclamation-circle"></i>
        </h3>
        <p class="mt-3">Voulez vous vraiment supprimer ce propriétaire?</p>
        <div class="d-inline-flex justify-content-start mt-5">
          <a class="btn btn-lg px-lg-4 danger-btn me-2" (click)="deleteLieu()">Oui</a>
          <a class="btn btn-lg px-lg-4 main-btn" (click)="closeConfirmationModal()">Non</a>
        </div>
      </app-confirmation-modal>
    </tbody>

    <tbody *ngIf="!lieux.length && !accessError" class="w-100 d-flex align-items-center">
      <h5 class="main-muted-text my-4">Aucun lieu à afficher</h5>
      <a class="btn btn-sm second-btn ms-2" [routerLink]="['/lieux']">
        + Nouveau lieu
      </a>
    </tbody>

    <tbody *ngIf="accessError" class="w-100 d-flex align-items-center">
      <h5 class="text-danger my-4">{{accessError}}</h5>
      <a class="btn btn-sm second-btn ms-3" [routerLink]="['/']">
        <i class="far fa-chevron-left"></i> Retour au tablau de bors
      </a>
    </tbody>
  </table>
</div>